@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
}

.lcc-canvas {
  width: 100%;
  max-width: 400px;
}

em {
  color: $lcc-secondary-text;
  display: block;
}
