<div class="lcc-canvas">
	<header class="lcc-page-header">
		Sign Up
	</header>

	<form class="lcc-form"
				[formGroup]="form"
				(keyup)="onKeyUp($event)"
				(ngSubmit)="onSignUp()">
		<div class="lcc-form-fields">
			<label for="email-input">
				Email:
			</label>
			<input id="email-input"
						 type="text"
						 name="email"
						 formControlName="email" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['email'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['email'])">
				</cds-icon>
			</div>

			<label for="password-input">
				Password:
			</label>
			<input id="password-input"
						 type="password"
						 name="password"
						 formControlName="password" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['password'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['password'])">
				</cds-icon>
			</div>

			<label for="password-confirm-input">
				Confirm password:
			</label>
			<input id="password-confirm-input"
						 type="password"
						 name="confirm-password"
						 formControlName="confirmPassword" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['confirmPassword'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['confirmPassword'])">
				</cds-icon>
			</div>

			<hr class="lcc-form-divider-line" />

			<label for="first-name-input">
				First name:
			</label>
			<input id="first-name-input"
						 type="text"
						 name="first-name"
						 formControlName="firstName" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['firstName'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['firstName'])">
				</cds-icon>
			</div>

			<label for="last-name-input">
				Last name:
			</label>
			<input id="last-name-input"
						 type="text"
						 name="last-name"
						 formControlName="lastName" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['lastName'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['lastName'])">
				</cds-icon>
			</div>

			<label for="date-of-birth-input">
				Date of birth:<em>(optional)</em>
			</label>
			<input id="date-of-birth-input"
						 type="text"
						 name="date-of-birth"
						 formControlName="dateOfBirth" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['dateOfBirth'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['dateOfBirth'])">
				</cds-icon>
			</div>

			<label for="phone-number-input">
				Phone number:
			</label>
			<input id="phone-number-input"
						 type="text"
						 name="phone-number"
						 formControlName="phoneNumber" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['phoneNumber'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['phoneNumber'])">
				</cds-icon>
			</div>

			<label for="city-input">
				City:
			</label>
			<input id="city-input"
						 type="text"
						 name="city"
						 formControlName="city" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['city'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['city'])">
				</cds-icon>
			</div>

			<hr class="lcc-form-divider-line" />

			<label for="sign-up-token">
				Sign-up token:
			</label>
			<input id="sign-up-token"
						 type="text"
						 name="signUpToken"
						 formControlName="signUpToken" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['signUpToken'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['signUpToken'])">
				</cds-icon>
			</div>
		</div>

		<div class="lcc-form-buttons-container">
			<button class="lcc-primary-button"
							type="submit"
							[disabled]="form.invalid">
				Sign up
			</button>
		</div>

		<div class="lcc-form-links-container">
			<a class="lcc-form-link"
				 (click)="onAlreadyHaveAccount()">
				Already have an account?
			</a>
		</div>
	</form>
</div>
