<div class="lcc-canvas">
	<header class="lcc-screen-header">
		News
		<cds-icon shape="announcement"
							size="sm">
		</cds-icon>
	</header>

	<div class="link-container">
		<a *ngIf="facade.isAdmin$ | async"
			 class="lcc-link"
			 (click)="facade.onComposeArticle()">
			<cds-icon shape="plus-circle"
								size="xs">
			</cds-icon>
			<span>Compose an article</span>
		</a>
	</div>

	<ul class="articles">
		<li *ngFor="let article of facade.articles$ | async"
				class="article lcc-admin-controls-container">
			<h4>{{ article.title }}</h4>
			<h5>{{ article.subtitle }}</h5>
			<p>{{ article.body }}</p>

			<div *ngIf="facade.isAdmin$ | async"
					 class="lcc-admin-controls">
				<button (click)="facade.onEditArticle(article)">
					<cds-icon shape="pencil"
										size="sm"
										[tooltip]="'Edit ' + article.title">
					</cds-icon>
				</button>
				<button (click)="facade.onDeleteArticle(article)">
					<cds-icon shape="trash"
										size="sm"
										status="danger"
										[tooltip]="'Delete ' + article.title">
					</cds-icon>
				</button>
			</div>
		</li>
	</ul>
</div>
