:host {
  display: flex;
  flex-direction: column;
}

.loading-progress-indicator {
  width: 100%;
  height: 4px;
  box-shadow: 0 0 5px 0 var(--lcc-color--documentViewer-loaderBoxShadow);
  background-color: var(--lcc-color--documentViewer-loaderBackground);
}

pdf-viewer {
  width: var(--lcc-width--appContent);
  max-width: inherit;
  height: 90dvh;

  ::ng-deep .ng2-pdf-viewer-container {
    overflow-x: hidden;

    &::-webkit-scrollbar {
      background-color: var(--lcc-color--documentViewer-scrollbarBackground) !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--lcc-color--documentViewer-scrollbar) !important;
    }

    .page {
      margin: 0;

      .textLayer {
        background-color: var(--lcc-color--documentViewer-pageBackground) !important;
      }
    }
  }
}
