<section class="whatsapp">
  <span>Stay informed of schedule changes through our club noticeboard on</span>
  <a
    href="https://bit.ly/LCC-NoticeBoard"
    class="lcc-link"
    rel="noopener noreferrer"
    target="_blank">
    <div class="image-container">
      <img
        [image]="{
          mainUrl: 'assets/club-link-icons/whatsapp.svg',
          mainWidth: 15,
          mainHeight: 15,
          caption: 'WhatsApp',
        }" />
    </div>
    <span>WhatsApp</span>
    <mat-icon>open_in_new</mat-icon>
  </a>
</section>

<section class="instagram">
  <span>Get notified of upcoming events by following us on</span>
  <a
    href="https://www.instagram.com/londonchessclub_?igsh=MWxqM25sMDdzemV5aA%3D%3D&utm_source=qr"
    class="lcc-link"
    rel="noopener noreferrer"
    target="_blank">
    <div class="image-container">
      <img
        [image]="{
          mainUrl: 'assets/club-link-icons/instagram.svg',
          mainWidth: 16,
          mainHeight: 16,
          caption: 'Instagram',
        }" />
    </div>
    <span>Instagram</span>
    <mat-icon>open_in_new</mat-icon>
  </a>
</section>

<section class="chesscom">
  <span>Compete online in member-only tournaments by joining our club page on</span>
  <a
    href="https://www.chess.com/club/london-chess-club-canada"
    class="lcc-link"
    rel="noopener noreferrer"
    target="_blank">
    <div class="image-container chesscom">
      <img
        [image]="{
          mainUrl: 'assets/club-link-icons/chesscom.svg',
          mainWidth: 12,
          mainHeight: 16,
          caption: 'Chess.com',
        }" />
    </div>
    <span>Chess.com</span>
    <mat-icon>open_in_new</mat-icon>
  </a>
</section>

<section class="email">
  <span>Questions? Suggestions? We'd love to hear from you!</span>
  <a
    href="mailto:welcome@londonchess.ca"
    class="lcc-link"
    rel="noopener noreferrer"
    target="_blank">
    <div class="image-container">
      <img
        [image]="{
          mainUrl: 'assets/club-link-icons/email.svg',
          mainWidth: 14,
          mainHeight: 14,
          caption: 'Email',
        }" />
    </div>
    <span>Email us</span>
    <mat-icon>open_in_new</mat-icon>
  </a>
</section>
