.lcc-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $lcc-color--overlay;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lcc-disable-scrolling {
  overflow: hidden;
  height: 100%;
}
