@import 'styles/abstracts/mixins';

@include respond-to('lt-md') {
  .lcc-lt-md {
    display: block !important;
  }
  .lcc-gt-md {
    display: none !important;
    visibility: hidden;
  }
}

@include respond-to('lt-sm') {
  .lcc-lt-sm {
    display: block !important;
  }
  .lcc-gt-sm {
    display: none !important;
    visibility: hidden;
  }
}

@include respond-to('gt-md') {
  .lcc-gt-md {
    display: block !important;
  }
  .lcc-lt-md {
    display: none !important;
    visibility: hidden;
  }
}

@include respond-to('gt-sm') {
  .lcc-gt-sm {
    display: block !important;
  }
  .lcc-lt-sm {
    display: none !important;
    visibility: hidden;
  }
}
