// TODO: Check if actually needed or if certain styles can simply be cherry-picked and added below
@use '@angular/cdk/overlay-prebuilt.css';

// Ensure overlay component in Overlay Service is rendered already centred
.cdk-global-overlay-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .cdk-overlay-pane {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Custom overlay backdrop colour
.lcc-dialog-backdrop {
  background-color: var(--lcc-color--general-overlayDialogBackdrop);
}

.lcc-modal-backdrop {
  background-color: var(--lcc-color--general-overlayModalBackdrop);
}
