// Ensure overlay component in Overlay Service is rendered already centred
.cdk-global-overlay-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .cdk-overlay-pane {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Custom overlay backdrop colour
.lcc-dialog-backdrop {
  background-color: var(--lcc-color--general-overlayDialogBackdrop);
}

.lcc-modal-backdrop {
  background-color: var(--lcc-color--general-overlayModalBackdrop);
}
