@use '../../../styles/abstracts/mixins' as *;

// Override CDK overlay container to allow interactions underneath
::ng-deep .cdk-overlay-container {
  pointer-events: none;
}

:host {
  pointer-events: auto;
}

.toast {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 320px;
  padding: 0 16px;
  margin-top: 4px;
  border-radius: var(--lcc-borderRadius--small);
  box-shadow: 1px 1px 5px 2px var(--lcc-color--toast-boxShadow);
  cursor: pointer;
  animation: fade-in-and-out var(--animation-duration) linear;

  &.toast-success {
    background-color: var(--lcc-color--toast-successBackground);
  }

  &.toast-warning {
    background-color: var(--lcc-color--toast-warningBackground);
  }

  &.toast-info {
    background-color: var(--lcc-color--toast-infoBackground);
  }

  mat-icon {
    @include icon-size(16px);

    display: contents;
    color: var(--lcc-color--toast-icon);
  }

  .text-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;

    .title {
      font-size: 14px;
      color: var(--lcc-color--toast-primaryText);
    }

    .message {
      font-size: 13px;
      color: var(--lcc-color--toast-secondaryText);
    }
  }
}

@keyframes fade-in-and-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
