@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: $lcc-space--sm;
  width: 100%;
  max-width: $lcc-width--app-content;
}

lcc-change-password-form {
  width: 100%;
  max-width: $lcc-width--small-form;
  box-shadow: 1px 1px 5px 2px $lcc-color--box-shadow;
  background-color: $lcc-color--bg-canvas;
  border-radius: $lcc-border-radius--sm;
  padding: $lcc-space--lg $lcc-space--md;

  @include respond-to('gt-sm') {
    padding: $lcc-space--lg;
  }
}