:host {
  width: 430px !important;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: start;
  padding: 16px 32px;

  .dialog-title {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--lcc-color--sessionExpiryDialog-dividerLine);
  }

  .dialog-body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .time-remaining-text {
      font-weight: bold;
      color: var(--lcc-color--sessionExpiryDialog-timeRemainingText);
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
