@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: $lcc-space--sm;
  width: 100%;
  max-width: $lcc-width--app-content;
}

lcc-schedule {
  padding: 0 $lcc-space--sm;
}
