:host {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  width: 100%;
  max-width: var(--lcc-width--appContent);
}

lcc-schedule {
  padding: 0 8px;
}
