@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.lcc-canvas {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  min-width: 300px;

  h5 {
    color: darken($lcc-secondary-text, 10%);
    line-height: 50px;
  }

  a {
    padding: 6px;
  }
}