$icon-width: 32px;

.lcc-admin-controls-container {
  .lcc-admin-controls {
    display: none;
  }
  
  &:focus,
  &:hover {
    background-color: lighten($lcc-color--select, 15%) !important;
  
    .lcc-admin-controls {
      position: absolute;
      z-index: 10;
      translate: calc(#{-2 * $icon-width});
      display: flex;
      flex-flow: row nowrap;
  
      button {
        background-color: $lcc-color--white;
        padding: 3px; // 3px perfectly matches a table row's height 
        border: 3px solid darken($lcc-color--white, 5%);
        border-radius: $lcc-border-radius-lg;
  
        &:focus,
        &:hover {
          cursor: pointer;
          background-color: white;
        }
      }
    }
  }
}
