.lcc-admin-controls-container {
  position: static;

  &:focus,
  &:hover {
    background-color: lighten($lcc-color--select, 15%) !important;
    
    lcc-admin-controls {
      visibility: visible;
    }
  }
}
