@mixin lcc-button {
  border-radius: var(--lcc-borderRadius--large);
  font-size: var(--lcc-fontSize--h4);
  cursor: pointer;
  white-space: nowrap;

  &:disabled {
    cursor: default;
    pointer-events: none;
    background-color: var(--lcc-color--button-disabledButtonBackground) !important;
    color: var(--lcc-color--button-disabledButtonForeground) !important;
  }

  &:focus {
    outline: none;
  }
}

@mixin lcc-raised-button {
  @include lcc-button;

  border: 1px solid var(--lcc-color--button-raisedButtonBorder) !important;
  box-shadow: 1px 1px 4px -2px var(--lcc-color--button-raisedButtonBoxShadow);
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.lcc-primary-button {
  @include lcc-raised-button;

  background-color: var(--lcc-color--button-primaryButtonBackground) !important;
  color: var(--lcc-color--button-primaryButtonForeground);

  &:hover {
    background-color: var(--lcc-color--button-primaryButtonBackgroundOnHover) !important;
  }
}

.lcc-secondary-button {
  @include lcc-raised-button;

  background-color: var(--lcc-color--button-secondaryButtonBackground) !important;
  color: var(--lcc-color--button-secondaryButtonForeground);

  &:hover {
    background-color: var(--lcc-color--button-secondaryButtonBackgroundOnHover) !important;
  }
}

.lcc-warning-button {
  @include lcc-raised-button;
  
  background-color: var(--lcc-color--button-warningButtonBackground) !important;
  color: var(--lcc-color--button-warningButtonForeground);

  &:hover {
    background-color: var(--lcc-color--button-warningButtonBackgroundOnHover) !important;
  }
}

.lcc-ghost-button {
  @include lcc-button;

  padding: 4px 8px;
  border: 1px solid var(--lcc-color--button-ghostButtonBorder);
  background-color: inherit;
  color: var(--lcc-color--button-ghostButtonText);

  &:hover {
    border-color: var(--lcc-color--button-ghostButtonBorderOnHover);
    color: var(--lcc-color--button-ghostButtonTextOnHover);
  }
}
