.lcc-button {
  border-radius: $lcc-border-radius--lg;
  font-size: $h4;
  cursor: pointer;
  white-space: nowrap;

  &:disabled {
    cursor: default;
    pointer-events: none;
    color: $lcc-color--disabled-fg;
  }

  &:focus {
    outline: none;
  }
}

.lcc-raised-button {
  @extend .lcc-button;
  background-color: lighten($lcc-color--white, 5%);
  color: $lcc-color--primary;
  border: 1px solid darken($lcc-color--white, 3%);
  box-shadow: 1px 1px 4px -2px darken($lcc-color--box-shadow, 10%);
  padding: $lcc-space--sm $lcc-space--md;
  text-transform: uppercase;
  font-weight: 400;

  &:disabled {
    background-color: $lcc-color--disabled-bg !important;
  }

  &:hover {
    box-shadow: 2px 4px 7px -2px lighten($lcc-color--box-shadow, 5%);
  }
}

.lcc-primary-button {
  @extend .lcc-raised-button;
  background-color: $lcc-color--primary !important;
  color: $lcc-color--text-primary-white;

  &:hover {
    background-color: lighten($lcc-color--primary, 5%) !important;
  }
}

.lcc-secondary-button {
  @extend .lcc-raised-button;
  background-color: $lcc-color--transparent-fully !important;
  color: $lcc-color--text-primary-black;
}

.lcc-success-button {
  @extend .lcc-raised-button;
  background-color: $lcc-color--success !important;
  color: $lcc-color--text-primary-white;

  &:hover {
    background-color: lighten($lcc-color--success, 5%) !important;
  }
}

.lcc-warning-button {
  @extend .lcc-raised-button;
  background-color: $lcc-color--warn !important;
  color: $lcc-color--white;

  &:hover {
    background-color: lighten($lcc-color--warn, 5%) !important;
  }
}

.lcc-ghost-button {
  @extend .lcc-button;

  background-color: inherit;
  padding: $lcc-space--xs $lcc-space--md;
  border: 1px solid rgba($lcc-color--white, 0.2);
  box-shadow: inset 0 0 20px $lcc-color--transparent-fully;
  text-shadow: none;

  &:hover {
    border: 1px solid rgba($lcc-color--white, 0.5);
    text-shadow: 1px 1px 2px rgba($lcc-color--gray, 0.5);
  }
}

.lcc-icon-button {
  @extend .lcc-button;

  background-color: inherit;
  border: none;

  &:disabled {
    color: $lcc-color--disabled-fg !important;
  }
}
