.lcc-canvas {
  background-color: lighten($lcc-white, 20%);
  border-radius: $lcc-border-radius-sm;
  box-shadow: 1px 1px 5px 2px $lcc-box-shadow;
  padding: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  max-width: 800px;
  min-width: 250px;
}
