.lcc-canvas {
  background-color: $lcc-color--bg-canvas;
  border-radius: $lcc-border-radius-sm;
  box-shadow: 1px 1px 5px 2px $lcc-color--box-shadow;
  padding: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  width: 900px;
  max-width: 900px;
  min-width: 250px;
}
