.lcc-canvas {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 900px;
  min-width: 210px;
  padding: 8px 24px;
  gap: 8px;

  box-shadow: 1px 1px 5px 2px $lcc-color--box-shadow;
  background-color: $lcc-color--bg-canvas;
  border-radius: $lcc-border-radius-sm;

  @include respond-to('lt-md') {
    padding: 8px 6px !important;
  }
}
