$fg1: var(--lcc-color--contentPlaceholder-foreground1);
$fg2: var(--lcc-color--contentPlaceholder-foreground2);
$fg3: var(--lcc-color--contentPlaceholder-foreground3);

.lcc-content-placeholder-wrapper {
  position: relative;
  z-index: 900;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--lcc-color--contentPlaceholder-background);
  border-radius: var(--lcc-borderRadius--large)
}

.lcc-content-placeholder {
  position: absolute;
  z-index: 1000;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(to left, $fg1, $fg2, $fg3, $fg2, $fg1);
  animation: loadingAnimation 1s infinite;
}

@keyframes loadingAnimation {
  0% {
    left: -45%;
  }
  100% {
    left: 100%;
  }
}
