@import 'styles/abstracts/variables';

.lcc-figure {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2px;
  margin: 12px 8px;
  min-width: 100px;
  border-radius: $lcc-border-radius-lg;

  img {
    border-top-left-radius: $lcc-border-radius-lg;
    border-top-right-radius: $lcc-border-radius-lg;
    width: 100%;
  }

  figcaption {
    background-color: $lcc-color--bg-figure;
    color: darken($lcc-color--white, 10%);
    border-bottom-left-radius: $lcc-border-radius-lg;
    border-bottom-right-radius: $lcc-border-radius-lg;
    font-size: $h5;
    padding: 6px 8px;
    width: 100%;
    line-height: normal;
  }
}