.lcc-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 8px;
  min-width: 100px;
  border-radius: var(--lcc-borderRadius--large);

  img {
    border-top-left-radius: var(--lcc-borderRadius--large);
    border-top-right-radius: var(--lcc-borderRadius--large);
    width: 100%;
  }

  figcaption {
    background-color: var(--lcc-color--figure-captionBackground);
    color: var(--lcc-color--figure-captionText);
    border-bottom-left-radius: var(--lcc-borderRadius--large);
    border-bottom-right-radius: var(--lcc-borderRadius--large);
    font-size: var(--lcc-fontSize--h5);
    padding: 4px 8px;
    width: 100%;
    line-height: 1.5em;
  }
}
