.lcc-figure {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: $lcc-space--xxs;
  margin: $lcc-space--sm;
  min-width: 100px;
  border-radius: $lcc-border-radius--lg;

  img {
    border-top-left-radius: $lcc-border-radius--lg;
    border-top-right-radius: $lcc-border-radius--lg;
    width: 100%;
  }

  figcaption {
    background-color: $lcc-color--bg-figure;
    color: darken($lcc-color--white, 10%);
    border-bottom-left-radius: $lcc-border-radius--lg;
    border-bottom-right-radius: $lcc-border-radius--lg;
    font-size: $h5;
    padding: $lcc-space--xs $lcc-space--sm;
    width: 100%;
    line-height: 1.5em;
  }
}