$alert-icon-width: 18px;

.lcc-form {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.lcc-form-header {
  text-align: center;
  padding: 0.6em 1em;

  h3 {
    color: $lcc-color--text-primary-black;
    width: 100%;
  }
}

.lcc-form-fields {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 6px;
  width: 100%;

  label:not(.lcc-button) {
    grid-column: 1 / 2;
    max-width: 100px;
    align-self: center;
    text-align: right;
    font-size: $h4;
    color: $lcc-color--text-secondary;
  }

  input,
  textarea,
  fieldset {
    grid-column: 2 / 3;
  }

  fieldset {
    border: 1px solid rgba($lcc-color--grey, 0.4);
    border-radius: $lcc-border-radius--sm;
    background-color: white;
    padding: 4px 12px;
    text-align: left;

    label {
      margin-left: 4px;
    }
  }

  .lcc-form-error-container {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: $alert-icon-width;

    .lcc-form-error-icon {
      color: lighten($lcc-color--warn, 10%);
      height: $alert-icon-width;
      width: $alert-icon-width;
    }
  }
}

.lcc-form-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 $lcc-space--xs;
  }
}

.lcc-form-links-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;

  .lcc-form-link {
    @extend .lcc-link;
    padding: 3px;
    font-size: $h5 !important;
  }
}

.lcc-required-fields-legend {
  font-style: italic;
  font-size: $h4;
  color: $lcc-color--text-secondary;

  &::after {
    color: $lcc-color--warn;
    content: ' *';
  }
}

.lcc-required-field::before {
  content: '* ';
  color: $lcc-color--warn;
}
