.lcc-form {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.lcc-form-header {
  text-align: center;
  padding: 0.6em 1em;

  // Should only be necessary for as long as CDS styles are present
  background: none;
  height: auto;

  h3 {
    // !important should only be necessary for as long as CDS styles are present
    color: $lcc-color--text-primary-black !important;
    width: 100%;
  }
}

.lcc-form-fields {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 6px;
  width: 100%;

  label:not(.lcc-button) {
    grid-column: 1 / 2;
    max-width: 100px;
    align-self: center;
    text-align: right;
    font-size: $h4;
    color: $lcc-color--text-secondary;
  }

  input,
  textarea,
  fieldset {
    grid-column: 2 / 3;
  }

  fieldset {
    border: 1px solid rgba($lcc-color--gray, 0.4);
    border-radius: $lcc-border-radius-sm;
    background: white;
    padding: 4px 12px;
    text-align: left;

    label {
      margin-left: 4px;
    }
  }

  .lcc-form-error-container {
    grid-column: 3 / 4;
    width: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .lcc-form-error-icon {
      color: $lcc-color--warning;
    }
  }

  .lcc-form-divider-line {
    grid-column: 1 / 4;
    place-self: center;
    height: 2px;
    width: 90%;
    margin: 1em 0;
    border-top: 1px solid lighten($lcc-color--gray, 30%);
  }
}

.lcc-form-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 6px;
  }
}

.lcc-form-links-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;

  .lcc-form-link {
    @extend .lcc-link;
    padding: 3px;
    font-size: $h5 !important;
  }
}

.lcc-required-field::before {
  content: '* ';
  color: $lcc-color--warning;
}
