@import 'styles/abstracts/mixins';

.lcc-grid {
  display: grid;
  grid-template-rows: auto;
  gap: $lcc-space--xs;
  
  @include respond-to('gt-sm') {
    margin: $lcc-space--sm;
  }

  [class*='lcc-grid-item'],
  [class^='lcc-grid-item'] {
    place-self: stretch;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 12px;
    border-radius: $lcc-border-radius--sm;
    background-color: $lcc-color--bg-grid-item;

    @include respond-to('gt-sm') {
      border: 2px solid darken($lcc-color--bg-grid-item, 1%);
    }

    &.lcc-darker-grid-item {
      background-color: darken($lcc-color--bg-grid-item, 5%);
      border: 2px solid darken($lcc-color--bg-grid-item, 7%);
    }

    li {
      font-size: $h4;
      padding: 3px;
    }
  }

  .lcc-grid-item-1 { grid-area: grid-item-1; }
  .lcc-grid-item-2 { grid-area: grid-item-2; }
  .lcc-grid-item-3 { grid-area: grid-item-3; }
  .lcc-grid-item-4 { grid-area: grid-item-4; }
  .lcc-grid-item-5 { grid-area: grid-item-5; }
  .lcc-grid-item-6 { grid-area: grid-item-6; }
  .lcc-grid-item-7 { grid-area: grid-item-7; }
  .lcc-grid-item-8 { grid-area: grid-item-8; }
}
