input[type='text'],
input[type='password'],
textarea {
  display: block;
  width: 100%;
  min-width: 40px;
  border: 1px solid var(--lcc-color--input-border);
  border-radius: var(--lcc-borderRadius--small) !important;
  font-size: 14px !important;
  height: 36px;
  padding: 10px;
  margin: 3px 0 !important;
  background-color: var(--lcc-color--input-background);
  color: var(--lcc-color--input-text);

  &.ng-invalid.ng-touched {
    border-color: var(--lcc-color--input-invalidBorder);
  }

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid var(--lcc-color--input-borderOnHover);
    box-shadow: 0 0 4px 1px var(--lcc-color--input-boxShadowOnHover);
  }

  &::placeholder {
    font-size: 14px;
  }
}

input[type='checkbox'],
input[type='radio'] {
  margin: 4px;
  justify-self: flex-start;
  accent-color: var(--lcc-color--input-checkboxAndRadio);

  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);

  &:hover {
    cursor: pointer;
  }
}

input[type='radio'] {
  margin: 6px 4px;
}

textarea {
  height: 120px;
  resize: none !important;
}
