input {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  border: 1px solid lighten($lcc-gray, 22%);
  border-radius: $lcc-input-border-radius !important;
  font-size: $h4 !important;
  height: 36px;
  padding: 2px 10px;
  margin: 3px 0 !important;

  &.ng-invalid.ng-dirty {
    border-color: lighten($lcc-warning, 15%);
  }

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid lighten($lcc-gray, 15%);
    box-shadow: 0 0 4px 1px lighten($lcc-select, 15%);
  }

  &::placeholder {
    font-size: $h4;
  }
}
