input {
  display: block;
  width: 100%;
  border: 1px solid lighten($lcc-gray, 10%);
  border-radius: $lcc-input-border-radius !important;
  font-size: $h4 !important;
  height: 36px;
  padding: 2px 10px;
  margin: 3px 0 !important;

  -webkit-appearance: none;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 2px 1px $lcc-select;
  }

  &.ng-invalid.ng-touched {
    border-color: $lcc-warning;
  }

  &::placeholder {
    font-size: $h4;
  }
}
