.lcc-container {
  background-color: rgb(252, 252, 252);
  border-radius: $lcc-border-radius;
  box-shadow: 1px 1px 5px 2px rgba(213, 213, 213, 0.822);
  padding: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
