.lcc-link {
  font-size: inherit;
  font-weight: 200;

  /**
   * A little hacky for the time being (will likely no longer be necessary
   * once clr-vendor styles can be deleted)
   */
   color: $lcc-color--link !important;
  
  &:hover {
    color: lighten($lcc-color--link, 10%) !important;
  }
}
