$spinner-color1: var(--lcc-color--loadingSpinner1);
$spinner-color2: var(--lcc-color--loadingSpinner2);

/* Absolute center spinner */
.lcc-loading-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent overlay */
.lcc-loading-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--lcc-color--loadingSpinner-screenOverlay);
}

/* :not(:required) hides these rules from IE9 and below */
.lcc-loading-spinner:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.lcc-loading-spinner:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -o-animation: spin 1200ms infinite linear;
  -moz-animation: spin 1200ms infinite linear;
  -ms-animation: spin 1200ms infinite linear;
  -webkit-animation: spin 1200ms infinite linear;
  animation: spin 1200ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow:
    $spinner-color1 1.7em 0 0 0,
    $spinner-color2 1.1em 1.1em 0 0,
    $spinner-color1 0 1.7em 0 0,
    $spinner-color2 -1.1em 1.1em 0 0,
    $spinner-color1 -1.7em 0 0 0,
    $spinner-color2 -1.1em -1.1em 0 0,
    $spinner-color1 0 -1.7em 0 0,
    $spinner-color2 1.1em -1.1em 0 0;
  box-shadow:
    $spinner-color1 1.7em 0 0 0,
    $spinner-color2 1.1em 1.1em 0 0,
    $spinner-color1 0 1.7em 0 0,
    $spinner-color2 -1.1em 1.1em 0 0,
    $spinner-color1 -1.7em 0 0 0,
    $spinner-color2 -1.1em -1.1em 0 0,
    $spinner-color1 0 -1.7em 0 0,
    $spinner-color2 1.1em -1.1em 0 0;
}

@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
