body {
  ::-webkit-scrollbar {
    height: $lcc-space--sm;
    background: unset !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $lcc-border-radius--lg;
    background: transparentize($lcc-color--primary, 0.2) !important;
  }
}
