@import 'styles/abstracts/mixins';

.lcc-table-wrapper {
  width: 100%;
  overflow-x: scroll;
}

.lcc-table {
  display: table;
  font-size: calc($h4 + 1px);
  border-radius: $lcc-border-radius--sm;
  border-spacing: 0;
  box-shadow: 3px 2px 8px 0 lighten($color: $lcc-color--grey, $amount: 2%);
  overflow: hidden;
  width: 100%;
  color: $lcc-color--text-primary-black;

  &:hover {
    cursor: default;
  }
  
  thead {
    th {
      color: darken($lcc-color--white, 5%);
      background-color: $lcc-color--primary;
      white-space: nowrap;
      font-weight: 200;
      
      &:not(.lcc-table-admin-controls-filler) {
        padding: $lcc-space--sm;

        @include respond-to('gt-sm') {
          padding: $lcc-space--sm $lcc-space--md;
        }
      }
    }
  }
  
  tbody {
    tr {
      background-color: $lcc-color--bg-table-row-dark;
  
      &:nth-child(even) {
        background-color: $lcc-color--bg-table-row-light;
      }
  
      td {
        padding: $lcc-space--sm;

        @include respond-to('gt-sm') {
          padding: $lcc-space--sm $lcc-space--md;
        }
      }
    }
  }

  tfoot {
    color: $lcc-color--text-secondary;

    td {
      padding: $lcc-space--sm;
      text-align: right;
    }
  }
}
