@import '../abstracts/mixins';

.lcc-table-wrapper {
  width: 100%;
  overflow-x: scroll;
}

.lcc-table {
  display: table;
  overflow: hidden;
  width: 100%;
  font-size: var(--lcc-fontSize--h4);
  border: 1px solid var(--lcc-color--table-border);
  border-radius: var(--lcc-borderRadius--small);
  border-spacing: 0;

  // When table cell border radius added, sometimes the table background bleeds through from
  // behind when resizing, so set to the same colour as the row to make this less noticeable
  background-color: var(--lcc-color--table-rowBackgroundOdd);

  &:hover {
    cursor: default;
  }

  thead {
    th {
      color: var(--lcc-color--table-headerForeground);
      background-color: var(--lcc-color--table-headerBackground);
      white-space: nowrap;
      font-weight: 200;

      &:not(.lcc-table-admin-controls-filler) {
        padding: 8px;

        @include respond-to('gt-sm') {
          padding: 8px 16px;
        }
      }
    }
  }

  tbody {
    tr {
      background-color: var(--lcc-color--table-rowBackgroundOdd);
      color: var(--lcc-color--table-rowForeground);

      &:nth-child(even) {
        background-color: var(--lcc-color--table-rowBackgroundEven);
      }

      td {
        padding: 8px;

        @include respond-to('gt-sm') {
          padding: 8px 16px;
        }
      }
    }
  }

  tfoot {
    color: var(--lcc-color--table-footerForeground);

    td {
      padding: 8px;
      text-align: right;
    }
  }
}
