.tooltip-container {
  position: fixed;
  z-index: 100;
  width: auto;
  text-align: center;
  padding: 3px 6px;
  font-size: $h5;
  font-weight: 300;
  line-height: initial;
  color: white;
  background: lighten($lcc-black, 10%);
  border-radius: $lcc-button-border-radius;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -30%);
  animation: tooltip-slide 0.18s ease-out 0.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}