<header>
  <button
    class="previous-month-button lcc-primary-button"
    (click)="onPreviousMonth()">
    <i-feather name="chevron-left"></i-feather>
  </button>
  <h3 class="title">
    {{ currentDate.format(screenWidth < 400 ? 'MMM YYYY' : 'MMMM YYYY') }}
  </h3>
  <button
    class="next-month-button lcc-primary-button"
    (click)="onNextMonth()">
    <i-feather name="chevron-right"></i-feather>
  </button>
</header>

<table class="calendar-table lcc-table">
  <thead>
    @for (dayOfWeek of DAYS_OF_WEEK; track dayOfWeek) {
      <th>{{ dayOfWeek }}</th>
    }
  </thead>
  <tbody>
    @for (week of WEEKS_IN_CALENDAR | range; track week) {
      <tr>
        @for (day of DAYS_OF_WEEK.length | range; track day) {
          <td
            type="button"
            (click)="onSelectDay(week, day)">
          </td>
        }
      </tr>
    }
  </tbody>
</table>
