@if (viewModel$ | async; as vm) {
  <ul class="menu-items">
    @if (vm.user) {
      <li class="menu-item user-name">
        <mat-icon class="user-icon">person_outline</mat-icon>
        <span>{{ vm.user.firstName }} {{ vm.user.lastName }}</span>
      </li>
      <hr />
    }

    <li class="menu-item theme-toggle">
      <span>Theme</span>
      <lcc-toggle-switch
        iconWhenOff="light_mode"
        iconWhenOn="dark_mode"
        [switchedOn]="vm.isDarkMode"
        tooltipWhenOff="Switch to dark mode"
        tooltipWhenOn="Switch to light mode"
        (toggle)="onToggleTheme()">
      </lcc-toggle-switch>
    </li>

    @if (vm.user) {
      <li class="menu-item safe-mode-toggle">
        <span>Safe mode</span>
        <lcc-toggle-switch
          iconWhenOff="warning"
          [iconTooltipWhenOff]="safeModeWarningTooltipContent"
          [switchedOn]="vm.isSafeMode"
          tooltipWhenOff="Enable safe mode"
          tooltipWhenOn="Disable safe mode"
          [warningWhenOff]="true"
          (toggle)="onToggleSafeMode()">
        </lcc-toggle-switch>
      </li>

      <li class="menu-item change-password">
        <a
          aria-label="Change password"
          class="lcc-dropdown-link"
          (click)="onChangePassword()">
          <span>Change password</span>
        </a>
      </li>

      <li class="menu-item admin-logout">
        <a
          aria-label="Log out"
          class="lcc-dropdown-link"
          (click)="onLogout()">
          <span>Log out</span>
        </a>
      </li>
    } @else {
      <li class="menu-item admin-login">
        <a
          aria-label="Admin login"
          class="lcc-dropdown-link"
          (click)="onLogin()">
          <span>Admin login</span>
        </a>
      </li>
    }
  </ul>
}

<ng-template #safeModeWarningTooltipContent>
  <div class="safe-mode-warning-tooltip">
    <header>
      <mat-icon>warning</mat-icon>
      <div>Safe mode is currently disabled</div>
    </header>

    <div class="warning-message">
      Users' personal information such as emails and phone numbers are visible on screen
    </div>
  </div>
</ng-template>
