@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: $lcc-space--md;
}

aside {
  font-style: italic;
  font-size: $h4;
  color: $lcc-color--text-secondary;

  span {
    color: $lcc-color--warning;
  }
}

form {
  max-width: $lcc-width--small-form;
}
