@if (form) {
  <form class="lcc-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="lcc-form-fields">
      <label for="first-name-input" class="lcc-required-field"> First name: </label>
      <input
        id="first-name-input"
        type="text"
        name="first-name"
        formControlName="firstName"
        maxlength="30" />
      <div class="lcc-form-error-container">
        @if (hasError(form.controls['firstName'])) {
          <i-feather
            name="alert-triangle"
            class="lcc-form-error-icon validation-alert-icon"
            [tooltip]="getErrorMessage(form.controls['firstName'])">
          </i-feather>
        }
      </div>

      <label for="last-name-input" class="lcc-required-field"> Last name: </label>
      <input
        id="last-name-input"
        type="text"
        name="last-name"
        formControlName="lastName"
        maxlength="30" />
      <div class="lcc-form-error-container">
        @if (hasError(form.controls['lastName'])) {
          <i-feather
            name="alert-triangle"
            class="lcc-form-error-icon validation-alert-icon"
            [tooltip]="getErrorMessage(form.controls['lastName'])">
          </i-feather>
        }
      </div>

      <label for="city-input" class="lcc-required-field"> City: </label>
      <input
        id="city-input"
        type="text"
        name="city"
        formControlName="city"
        maxlength="30" />
      <div class="lcc-form-error-container">
        @if (hasError(form.controls['city'])) {
          <i-feather
            name="alert-triangle"
            class="lcc-form-error-icon validation-alert-icon"
            [tooltip]="getErrorMessage(form.controls['city'])">
          </i-feather>
        }
      </div>

      <label for="rating-input" class="lcc-required-field"> LCC rating: </label>
      <input
        id="rating-input"
        type="text"
        name="rating"
        formControlName="rating"
        maxlength="6" />
      <div class="lcc-form-error-container">
        @if (hasError(form.controls['rating'])) {
          <i-feather
            name="alert-triangle"
            class="lcc-form-error-icon validation-alert-icon"
            [tooltip]="getErrorMessage(form.controls['rating'])">
          </i-feather>
        }
      </div>

      <label for="date-joined-input" class="lcc-required-field"> Date joined: </label>
      <input
        id="date-joined-input"
        type="text"
        name="date-joined"
        formControlName="dateJoined"
        maxlength="10" />
      <div class="lcc-form-error-container">
        @if (hasError(form.controls['dateJoined'])) {
          <i-feather
            name="alert-triangle"
            class="lcc-form-error-icon validation-alert-icon"
            [tooltip]="getErrorMessage(form.controls['dateJoined'])">
          </i-feather>
        }
      </div>

      <label for="email-input">Email:</label>
      <input
        id="email-input"
        type="text"
        name="email"
        formControlName="email"
        maxlength="50" />
      <div class="lcc-form-error-container">
        @if (hasError(form.controls['email'])) {
          <i-feather
            name="alert-triangle"
            class="lcc-form-error-icon validation-alert-icon"
            [tooltip]="getErrorMessage(form.controls['email'])">
          </i-feather>
        }
      </div>

      <label for="phone-number-input">Phone number:</label>
      <input
        id="phone-number-input"
        type="text"
        name="phone-number"
        formControlName="phoneNumber"
        maxlength="12" />
      <div class="lcc-form-error-container">
        @if (hasError(form.controls['phoneNumber'])) {
          <i-feather
            name="alert-triangle"
            class="lcc-form-error-icon validation-alert-icon"
            [tooltip]="getErrorMessage(form.controls['phoneNumber'])">
          </i-feather>
        }
      </div>

      <label for="year-of-birth-input">Year of birth:</label>
      <input
        id="year-of-birth-input"
        type="text"
        name="year-of-birth"
        formControlName="yearOfBirth"
        maxlength="4" />
      <div class="lcc-form-error-container">
        @if (hasError(form.controls['yearOfBirth'])) {
          <i-feather
            name="alert-triangle"
            class="lcc-form-error-icon validation-alert-icon"
            [tooltip]="getErrorMessage(form.controls['yearOfBirth'])">
          </i-feather>
        }
      </div>

      <label for="chesscom-username-input">Chess.com username:</label>
      <input
        id="chesscom-username-input"
        type="text"
        name="chesscom-username"
        formControlName="chesscomUsername"
        maxlength="20" />
      <div class="lcc-form-error-container">
        @if (hasError(form.controls['chesscomUsername'])) {
          <i-feather
            name="alert-triangle"
            class="lcc-form-error-icon validation-alert-icon"
            [tooltip]="getErrorMessage(form.controls['chesscomUsername'])">
          </i-feather>
        }
      </div>

      <label for="lichess-username-input">Lichess username:</label>
      <input
        id="lichess-username-input"
        type="text"
        name="lichess-username"
        formControlName="lichessUsername"
        maxlength="20" />
      <div class="lcc-form-error-container">
        @if (hasError(form.controls['lichessUsername'])) {
          <i-feather
            name="alert-triangle"
            class="lcc-form-error-icon validation-alert-icon"
            [tooltip]="getErrorMessage(form.controls['lichessUsername'])">
          </i-feather>
        }
      </div>
      @if (facade.isEditMode$ | async) {
        <label for="is-active-input">Active:</label>
        <input
          id="is-active-input"
          type="checkbox"
          name="is-active"
          formControlName="isActive" />
      }
    </div>

    <aside class="lcc-required-fields-legend">Required fields</aside>

    <hr />

    @if ((facade.memberCurrently$ | async)?.modificationInfo; as modificationInfo) {
      <lcc-modification-info [info]="modificationInfo"></lcc-modification-info>
    }

    <div class="lcc-form-buttons-container">
      <button class="lcc-secondary-button" type="button" (click)="onCancel()">
        Cancel
      </button>
      <button
        class="lcc-primary-button"
        type="submit"
        [disabled]="form.invalid || !(facade.hasUnsavedChanges$ | async)">
        @if (facade.isEditMode$ | async) {
          Update
        } @else {
          Add member
        }
      </button>
    </div>
  </form>
}
