@use '../../../styles/abstracts/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding: 8px 16px;
  box-shadow: 1px 1px 5px 2px var(--lcc-color--form-boxShadow);
  background-color: var(--lcc-color--form-background);
  border-radius: var(--lcc-borderRadius--small);
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  width: 100%;
  column-gap: 8px;
  row-gap: 32px;

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 180px;
    background: var(--lcc-color--contentPlaceholder-background);
    border-radius: var(--lcc-borderRadius--large);
    position: relative;

    &.full-span {
      grid-column: 1 / -1;
    }

    img {
      max-width: 100%;
      max-height: 180px;
      width: auto;
      height: auto;
      object-fit: contain;
    }

    &:hover .remove-image-button {
      display: flex;
    }

    .remove-image-button {
      @include icon-size(24px);

      display: none;
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }
  }

  @include respond-to('gt-md') {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }

  @include respond-to('gt-lg') {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

.cover-image-input-container {
  grid-column: 2 / 3;
  display: flex;
  text-align: left;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.album-ordinality-input {
  width: 40px;
}

.new-images-header {
  align-self: start;
  color: var(--lcc-color--albumForm-headerText);
}

.control-buttons-container {
  display: flex;
  flex-direction: row;
  align-self: end;
  gap: 8px;

  .choose-files-button,
  .restore-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;

    & > input {
      display: none;
    }
  }
}

hr {
  width: 100%;
  border-top: 1px solid var(--lcc-color--general-dividerLine);
  margin: 1em 0;
}
