<div class="container">
	<lcc-screen-header title="Game Archives"
										 icon="grid">
	</lcc-screen-header>

	<section class="intro-section">
		<div class="image-container">
			<img src="assets/photos/game-archives.png" />
		</div>
		<div class="text-container">
			<h3>A little piece of history</h3>
			<p>
				Here you will find a collection of games played by London Chess Club members
				from a variety of events dating as far back as 1974. All game PGNs meticulously
				transcribed and compiled over the years by our very own Gerry Litchfield &mdash;
				thank you, Gerry!
			</p>
			<p>
				Want to submit a game or make a correction? Email us at
				<a href="mailto:welcome@londonchess.ca"
					 class="lcc-link"
					 alt="welcome@londonchess.ca">
					welcome&#64;londonchess.ca</a>.
			</p>
		</div>
	</section>

	<div class="panels-container">
		@for (panel of expansionPanels; track panel.label) {
		<div class="panel-content">
			<lcc-expansion-panel [headerTemplate]="headerTemplateRef"
													 [contentTemplate]="contentTemplateRef"
													 [isOpen]="panel.label === '2023'">
			</lcc-expansion-panel>

			<ng-template #headerTemplateRef>
				<div class="header-content">
					<span>{{ panel.label }}</span>
					<span>
						{{ panel.pgns.length }}
						{{ panel.pgns.length > 1 ? 'games' : 'game' }}
					</span>
				</div>
			</ng-template>

			<ng-template #contentTemplateRef>
				<div class="games-container">
					@defer {
					<cdk-virtual-scroll-viewport [itemSize]="436"
																			 [minBufferPx]="1000"
																			 [maxBufferPx]="2000"
																			 orientation="horizontal">
						<lcc-pgn-viewer *cdkVirtualFor="let pgn of panel.pgns; let index = index; templateCacheSize: 0"
														[index]="index"
														[pgn]="pgn">
						</lcc-pgn-viewer>
					</cdk-virtual-scroll-viewport>
					} @placeholder {
					<span>Loading...</span>
					}
				</div>
			</ng-template>
		</div>
		}
	</div>
</div>
