@import 'styles/abstracts/mixins';

$pgn-viewer-width: 432px;
$pgn-viewer-height: 336px;
$container-max-width: calc($pgn-viewer-width * 3 + 4px * 6);

:host {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    max-width: var(--lcc-width--appContent);
    margin: 0 8px;

    @include respond-to('gt-sm') {
      margin: auto;
    }
  }

  .intro-section {
    margin: 16px 0;
    max-width: $container-max-width;
    display: flex;
    flex-direction: column;

    @include respond-to('gt-lg') {
      flex-direction: row;
    }

    .image-container {
      flex: 2;

      img {
        max-width: 100%;
        max-height: 534px;
        border-radius: var(--lcc-borderRadius--large);
      }
    }

    .text-container {
      flex: 1;
      padding: 8px;

      @include respond-to('gt-lg') {
        padding: 0 32px;
      }

      h3 {
        margin: 8px 0 16px;
        font-style: italic;
        color: var(--lcc-color--gameArchivesScreen-headerText);
      }
  
      p {
        margin-bottom: 16px;
        color: var(--lcc-color--gameArchivesScreen-text);
      }
    }
  }

  .panels-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .panel-content {
    width: 100%;
    max-width: $container-max-width;
    padding-bottom: 2px;
  }

  ::ng-deep lcc-expansion-panel .header-container {
    padding-right: 16px !important;
  }

  .header-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 1;
    padding: 0 16px;
  }

  .games-container {
    text-align: center;
    width: 100%;

    cdk-virtual-scroll-viewport {
      height: $pgn-viewer-height + 2 * 4px;

      ::ng-deep .cdk-virtual-scroll-content-wrapper {
        display: flex;

        lcc-pgn-viewer {
          margin: 4px;
          max-width: $pgn-viewer-width;
        }
      }
    }

    .loading-text {
      color: var(--lcc-color--gameArchivesScreen-loadingText);
    }
  }
}
