@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

$pgn-viewer-width: 432px;
$pgn-viewer-height: 336px;
$container-max-width: calc($pgn-viewer-width * 3 + $lcc-space--xs * 6);

:host {
  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: $lcc-space--sm;
    max-width: $lcc-width--app-content;
    margin: 0 $lcc-space--sm;

    @include respond-to('gt-sm') {
      margin: 0;
    }
  }

  .intro-section {
    margin: $lcc-space--md 0;
    max-width: $container-max-width;
    display: flex;
    flex-direction: column;

    @include respond-to('gt-lg') {
      flex-direction: row;
    }

    .image-container {
      flex: 2;

      img {
        max-width: 100%;
        max-height: 534px;
        border-radius: $lcc-border-radius--lg;
      }
    }

    .text-container {
      flex: 1;
      padding: $lcc-space--sm;

      @include respond-to('gt-lg') {
        padding: 0 $lcc-space--lg;
      }

      h3 {
        margin: $lcc-space--sm 0 $lcc-space--md;
        font-style: italic;
      }
  
      p {
        margin-bottom: $lcc-space--md;
      }
    }
  }

  .panels-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .panel-content {
    width: 100%;
    max-width: $container-max-width;
    padding-bottom: $lcc-space--xxs;
  }

  ::ng-deep lcc-expansion-panel .header-container {
    padding-right: $lcc-space--md !important;
  }

  .header-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 1;
    padding: 0 $lcc-space--md;
  }

  .games-container {
    text-align: center;
    width: 100%;

    cdk-virtual-scroll-viewport {
      height: $pgn-viewer-height + 2 * $lcc-space--xs;

      ::ng-deep .cdk-virtual-scroll-content-wrapper {
        display: flex;

        lcc-pgn-viewer {
          margin: $lcc-space--xs;
          max-width: $pgn-viewer-width;
        }
      }
    }
  }
}
