@use '../../../styles/abstracts/mixins';

:host {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 300;

  @include mixins.respond-to('lt-md') {
    right: 50%;
    transform: translateX(50%);
  }
}
