:host {
  display: block;
  width: min(100vw, var(--lcc-width--appContent)) !important;
  height: 80vh;
  overflow: hidden;
}

figure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--lcc-color--dialog-background);
  border-radius: inherit;
}

.image-container {
  flex: 1;
  width: 100%;
  min-height: 0; // Ensure proper flex shrinking
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lcc-color--imageViewer-background);

  img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; // Add back object-fit to handle stretching
  }
}

figcaption {
  width: calc(100% - 8px);
  margin: 4px;
  padding: 4px 8px;

  .album-name {
    font-size: 14px;
    text-align: left;
    color: var(--lcc-color--imageViewer-albumText);
  }

  hr {
    width: 100%;
    border-top: 1px solid var(--lcc-color--imageViewer-dividerLine);
    margin: 4px 0;
  }

  .image-caption {
    text-align: center;
    font-size: 16px;
  }
}

.previous-image-button-wrapper,
.next-image-button-wrapper {
  position: absolute;
  top: 50%;

  button {
    display: flex;
    padding: 4px;
    background-color: var(--lcc-color--imageViewer-buttonBackground) !important;

    &:disabled {
      border-color: var(--lcc-color--imageViewer-buttonDisabledBorder) !important;
      color: var(--lcc-color--imageViewer-buttonDisabledIcon) !important;
      background-color: var(--lcc-color--imageViewer-buttonDisabledBackground) !important;
    }
  }
}

.previous-image-button-wrapper {
  left: 8px;
}

.next-image-button-wrapper {
  right: 8px;
}
