figure {
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background-color: var(--lcc-color--dialog-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 85vh;
    width: auto;
    height: auto;
    object-fit: contain;
  }
}

figcaption {
  max-width: 100%;
  width: fit-content;
  padding: 8px;
  border-radius: var(--lcc-borderRadius--small);

  .album-name {
    font-size: 14px;
    text-align: left;
    color: var(--lcc-color--imageViewer-albumText);
  }

  hr {
    width: 100%;
    border-top: 1px solid var(--lcc-color--imageViewer-dividerLine);
    margin: 4px 0;
  }

  .image-caption {
    text-align: left;
    font-size: 16px;
  }
}

.previous-image-button-wrapper,
.next-image-button-wrapper {
  position: absolute;
  top: 50%;

  button {
    display: flex;
    padding: 4px;
    background-color: var(--lcc-color--imageViewer-buttonBackground) !important;

    &:disabled {
      border-color: var(--lcc-color--imageViewer-buttonDisabledBorder) !important;
      color: var(--lcc-color--imageViewer-buttonDisabledIcon) !important;
      background-color: var(--lcc-color--imageViewer-buttonDisabledBackground) !important;
    }
  }
}

.previous-image-button-wrapper {
  left: 8px;
}

.next-image-button-wrapper {
  right: 8px;
}
