<header>
  <i-feather
    name="x"
    class="close-icon"
    (click)="close.emit()">
  </i-feather>
</header>

<img
  id="overlay-image"
  [src]="'assets/photos/' + (photo$ | async)?.filename + '.jpg'"
  (load)="onImageLoad()" />

<h4 class="label lcc-truncate">
  {{ (photo$ | async)?.description }}
</h4>

<div class="image-navigation-icons-container">
  <div class="previous-image-icon-container">
    <i-feather
      name="chevron-left"
      class="previous-image-icon"
      [tooltip]="'Previous photo'"
      (click)="onPreviousImage()">
    </i-feather>
  </div>
  <div class="next-image-icon-container">
    <i-feather
      name="chevron-right"
      class="next-image-icon"
      [tooltip]="'Next photo'"
      (click)="onNextImage()">
    </i-feather>
  </div>
</div>
