@if (currentImage$ | async; as image) {
  <div class="previous-image-button-wrapper">
    <button
      class="lcc-secondary-button lcc-light-button"
      [disabled]="images.length === 1"
      tooltip="Previous image"
      (click)="onPreviousImage()">
      <i-feather name="chevron-left"></i-feather>
    </button>
  </div>

  <div class="next-image-button-wrapper">
    <button
      class="lcc-secondary-button lcc-light-button"
      [disabled]="images.length === 1"
      tooltip="Next image"
      (click)="onNextImage()">
      <i-feather name="chevron-right"></i-feather>
    </button>
  </div>

  <figure [adminControls]="isAdmin ? getAdminControlsConfig(image) : null">
    <div class="image-container">
      <img [image]="image" />
    </div>
    <figcaption>
      <div class="album-name lcc-truncate">{{ album }}</div>
      <hr />
      <div class="image-caption lcc-truncate">{{ image.caption }}</div>
    </figcaption>
  </figure>
}
