@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  img {
    width: 60px !important;
  }

  .meet-details-container {
    display: flex;
    gap: 20px;
    flex-flow: row nowrap;
    width: 90%;

    .meet-details {
      width: auto;

      .meet-time {
        color: $lcc-color--accent;
        font-size: 90%;
        line-height: 30px;
        white-space: nowrap;
      }
    }
  }

  hr {
    margin-bottom: 6px; // decrease to manually bring paragraph below closer
  }
}
