<div class="lcc-canvas meet-details-container">
	<img src="assets/lcc-branding.svg"
			 alt="LCC branding" />
	<p class="h4 meet-details">
		Kiwanis Seniors' Community Centre<br />
		78 Riverside Drive<br />
		<span class="meet-time">Thursdays, 6:00pm&ndash;9:00pm</span>
	</p>
</div>
<hr />
<p>
	The London Chess Club is dedicated to players of all ages and abilities. We hold
	regular blitz and rapid tournaments on-site, with occasional lectures and simul
	events (see
	<a class="lcc-link"
		 [routerLink]="NavPathTypes.SCHEDULE"
		 (click)="onNavigate(NavPathTypes.SCHEDULE)">schedule</a>
	for upcoming events). Come join our thriving chess community
	&mdash; first visit is free!
</p>
<p>
	Have any questions or suggestions? Email us at
	<a href="mailto:londonchessclubcanada@gmail.com"
		 class="lcc-link"
		 alt="londonchessclubcanada@gmail.com">
		londonchessclub&shy;canada@gmail.com
	</a>
</p>
