<div class="lcc-canvas meet-details-container">
	<img src="assets/lcc-branding.svg"
			 alt="LCC branding" />
	<div class="h4 meet-details">
		<div class="meet-address">
			Kiwanis Seniors' Community Centre<br />
			78 Riverside Drive
		</div>
		<div class="meet-time">Thursdays,<wbr> 6:00pm&nbsp;&ndash;&nbsp;9:00pm</div>
	</div>
</div>

<ng-container *ngIf="isMapLoaded$ | async">
	<google-map [height]="mapHeight"
							[width]="mapWidth"
							[options]="mapOptions">
		<map-marker [options]="markerOptions"></map-marker>
	</google-map>
</ng-container>

<hr />

<p class="welcome">
	The London Chess Club is dedicated to players of all ages and abilities. We hold
	regular blitz and rapid tournaments on-site, with occasional lectures and simul
	events (see
	<a class="lcc-link"
		 [routerLink]="NavPathTypes.SCHEDULE"
		 (click)="onNavigate(NavPathTypes.SCHEDULE)">schedule</a>
	for upcoming events). Join our thriving chess community every Thursday evening at the
	Kiwanis Centre. Your first visit is free!
</p>
<p class="email-us">
	Have any questions or suggestions? Email us at
	<a href="mailto:londonchessclubcanada@gmail.com"
		 class="lcc-link"
		 alt="londonchessclubcanada@gmail.com">
		londonchessclub&shy;canada@gmail.com
	</a>
</p>
