<div class="container"
		 [class.about-screen]="isAboutScreen">
	<section class="welcome-text-section">
		<p>
			@if (!isAboutScreen) {
			<span>Welcome to the LCC!</span>
			}
			The London Chess Club is open to players of all ages and abilities. We host regular
			blitz and rapid chess tournaments, as well as a variety of lectures, simuls and team
			competitions (see
			<a class="lcc-link"
				 [routerLink]="NavPathTypes.SCHEDULE"
				 (click)="onNavigate(NavPathTypes.SCHEDULE)">
				schedule
			</a>
			for all upcoming events). Join our thriving chess community every Thursday evening
			at the Kiwanis Centre!<br /><br />Questions or suggestions? We'd love to hear from
			you:
			<a href="mailto:welcome@londonchess.ca"
				 class="lcc-link"
				 alt="welcome@londonchess.ca">
				welcome&#64;londonchess.ca
			</a>
		</p>
	</section>

	<section class="details-section">
		<div class="details-container">
			<div class="address">
				Kiwanis Seniors' Community Centre<br />
				78 Riverside Drive, London ON
			</div>
			<div class="time">
				Thursdays,<wbr> 6:00pm&nbsp;&ndash;&nbsp;9:00pm

			</div>
		</div>
	</section>

	@if (isMapLoaded$ | async) {
	<section class="map-section">
		<google-map width="100%"
								[height]="mapHeight"
								mapId="club-map"
								[options]="mapOptions">
			<map-advanced-marker [position]="clubLocation"
													 title="London Chess Club">
			</map-advanced-marker>
		</google-map>
	</section>
	}
</div>
