<div class="lcc-canvas">
	<header>
		<h3>
			<span>London Chess Club</span>&nbsp;Members
		</h3>
	</header>

	<table class="lcc-table">
		<thead>
			<th *ngFor="let header of tableHeaders"
					[ngClass]="kebabize(header)"
					(click)="facade.onSelectTableHeader(camelize(kebabize(header)))">
				<div class="header-content">
					<span>{{ header }}</span>
					<div class="icon-container">
						<cds-icon *ngIf="(facade.sortedBy$ | async) === camelize(kebabize(header))"
											shape="angle"
											size="xs"
											[attr.flip]="(facade.isAscending$ | async) ? 'vertical' : undefined">
						</cds-icon>
					</div>
				</div>
			</th>
		</thead>

		<tbody>
			<tr *ngFor="let member of facade.members$ | async; let last = last;"
					[ngClass]="{'last-row': last}">
				<td class="first-name">{{ member.firstName }}</td>
				<td class="last-name">{{ member.lastName }}</td>
				<td class="city">{{ member.city }}</td>
				<td class="rating">{{ member.rating }}</td>
				<td class="peak-rating">{{ member.peakRating }}</td>
				<ng-container *ngIf="facade.isAdmin$ | async">
					<td class="phone-number">{{ member.phoneNumber }}</td>
					<td class="date-of-birth">{{ member?.dateOfBirth }}</td>
					<td class="date-joined">{{ member.dateJoined }}</td>
				</ng-container>

				<div *ngIf="facade.isAdmin$ | async"
						 class="row-controls">
					<button (click)="facade.onEditMember(member)">
						<cds-icon shape="pencil"
											size="sm"
											[tooltip]="'Edit ' + member.firstName">
						</cds-icon>
					</button>
					<button (click)="facade.onDeleteMember(member)">
						<cds-icon shape="trash"
											size="sm"
											status="danger"
											[tooltip]="'Delete ' + member.firstName">
						</cds-icon>
					</button>
				</div>

			</tr>
		</tbody>

		<footer>
			<aside>
				<span>{{ (facade.members$ | async)?.length }} members</span>
			</aside>
			<a *ngIf="facade.isAdmin$ | async"
				 class="lcc-link"
				 (click)="facade.onAddMember()">
				<cds-icon shape="plus-circle"
									size="sm">
				</cds-icon>
				<span>Add member</span>
			</a>
		</footer>

	</table>
</div>
