<div class="lcc-canvas">
	<header class="lcc-page-header">
		Members
		<cds-icon shape="users"
							size="sm">
		</cds-icon>
	</header>

	<div class="link-container">
		<a *ngIf="facade.isAdmin$ | async"
			 class="lcc-link"
			 (click)="facade.onAddMember()">
			<cds-icon shape="plus-circle"
								size="xs">
			</cds-icon>
			<span>Add member</span>
		</a>
	</div>

	<table class="lcc-table">
		<thead>
			<tr>
				<th *ngFor="let header of tableHeaders"
						[ngClass]="kebabize(header)"
						(click)="facade.onSelectTableHeader(camelize(kebabize(header)))">
					<span>{{ header }}</span>
					<div class="icon-container">
						<cds-icon *ngIf="(facade.sortedBy$ | async) === camelize(kebabize(header))"
											shape="angle"
											size="xs"
											[attr.flip]="(facade.isAscending$ | async) ? 'vertical' : undefined">
						</cds-icon>
					</div>
				</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let member of facade.members$ | async; let last = last;"
					class="lcc-admin-controls-container"
					[ngClass]="{'last-row': last}">
				<td class="first-name">{{ member.firstName }}</td>
				<td class="last-name">{{ member.lastName }}</td>
				<td class="city">{{ member.city }}</td>
				<td class="rating">{{ member.rating }}</td>
				<td class="peak-rating">{{ member.peakRating }}</td>
				<ng-container *ngIf="facade.isAdmin$ | async">
					<td class="phone-number">{{ member.phoneNumber }}</td>
					<td class="date-of-birth">{{ member?.dateOfBirth }}</td>
					<td class="date-joined">{{ member.dateJoined }}</td>
				</ng-container>

				<div *ngIf="facade.isAdmin$ | async"
						 class="lcc-admin-controls">
					<button (click)="facade.onEditMember(member)">
						<cds-icon shape="pencil"
											size="sm"
											[tooltip]="'Edit ' + member.firstName">
						</cds-icon>
					</button>
					<button (click)="facade.onDeleteMember(member)">
						<cds-icon shape="trash"
											size="sm"
											status="danger"
											[tooltip]="'Delete ' + member.firstName">
						</cds-icon>
					</button>
				</div>
			</tr>
		</tbody>

		<tfoot>
			<tr>
				<td colspan="100%">{{ (facade.members$ | async)?.length }} members</td>
			</tr>
		</tfoot>
	</table>
</div>
