@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
}

.link-container {
  width: 90%;

  @include respond-to ('lt-md') {
    width: 100%;
  }

  a {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: $h5;
  
    cds-icon {
      width: 10px;
      margin-bottom: 3px;
    }
  }
}

table {
  width: 90%;

  @include respond-to ('lt-md') {
    width: 100%;
  }
}

thead {
  th {
    &:hover {
      cursor: pointer;
      background-color: lighten($lcc-color--primary, 5%);
    }
  
    .icon-container {
      display: inline-flex;
      width: 11px; // fix to icon width to prevent header text from shifting

      cds-icon {
        margin: 2px;
      }
    }
  }
}

thead,
tbody {
  tr {
    td,
    th {
      &.rating,
      &.peak-rating,
      &.phone-number,
      &.date-of-birth,
      &.date-joined {
        text-align: center;
      }
    }
  }
}


@include respond-to('lt-lg') {
  .date-of-birth,
  .date-joined {
    display: none;
  }
}

@include respond-to('lt-md') {
  .phone-number {
    display: none;
  }
}

@include respond-to('lt-sm') {
  .city,
  .peak-rating {
    display: none;
  }
}
