{
  "env": {
    "jest": true,
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended",
      ],
      "rules": {
        "@typescript-eslint/ban-types": "off",
        "prettier/prettier": [
          "warn",
          {
            "arrowParens": "avoid",
            "bracketSameLine": true,
            "bracketSpacing": true,
            "importOrder": [
              "<THIRD_PARTY_MODULES>",
              "^@angular/(.*)$",
              "^@app/(.*)$",
              "^@assets/(.*)$",
              "^@environments/(.*)$",
              "^[./]",
            ],
            "importOrderCaseInsensitive": false,
            "importOrderParserPlugins": [
              "typescript",
              "classProperties",
              "decorators-legacy",
            ],
            "importOrderSeparation": true,
            "importOrderSortSpecifiers": true,
            "printWidth": 90,
            "semi": true,
            "singleQuote": true,
            "tabWidth": 2,
            "trailingComma": "all",
            "useTabs": false,
          },
        ],
      },
    },
    {
      "files": ["*.html"],
      "extends": ["plugin:@angular-eslint/template/recommended"],
      "rules": {},
    },
    {
      "files": ["*.html"],
      "excludedFiles": ["*inline-template-*.component.html"],
      "extends": ["plugin:prettier/recommended"],
      "rules": {
        "prettier/prettier": ["error", { "parser": "angular" }],
      },
    },
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
  },
  "root": true,
}
