# Generated code
/node_modules

# Beautify config
.jsbeautifyrc

# Prettier config
.prettierrc

# Markdown lint config
.markdownlint.json

# System files
.DS_Store
Thumbs.db

# Compiled output
/dist
package-lock.json

# Angular and Babel Webpack
/.angular

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
