  --lcc-color--championPage-cellBackground: #{clr(grayscale, white-90)};
  --lcc-color--championPage-cellBorder: #{clr(grayscale, white-85, 0.5)};
  --lcc-color--championPage-historyText: #{clr(grayscale, gray-25)};
  --lcc-color--championPage-historyTextBold: #{clr(grayscale, black-5)};
  --lcc-color--championPage-pastWinnersHeaderText: #{clr(grayscale, black-15)};

  --lcc-color--clubFaq-addressAndTimeContainerBorder: #{clr(grayscale, white-95)};
  --lcc-color--clubFaq-addressAndTimeContainerForeground: #{clr(grayscale, black-15)};

  --lcc-color--clubLinks-cardBackground: #{clr(grayscale, white-95)};
  --lcc-color--clubLinks-cardBoxShadow: #{clr(grayscale, white-85, 0.7)};
  --lcc-color--general-overlayDialogBackdrop: #{clr(grayscale, black-20, 0.4)};
  --lcc-color--general-overlayModalBackdrop: #{clr(grayscale, black-10, 0.7)};
  --lcc-color--general-scrollbar: #{clr(grayscale, gray-50, 0.7)};
  --lcc-color--homePage-articleBackground: #{clr(grayscale, white-98)};
  --lcc-color--homePage-sectionHeaderText: #{clr(grayscale, black-15)};
  --lcc-color--homePage-welcomeHeaderText: #{clr(grayscale, black-15)};
  --lcc-color--homePage-welcomeSectionText: #{clr(grayscale, gray-25)};
