<div class="nav-left"></div>

<div class="content-container">
  <div class="nav-links">
    @for (link of links; track link.internalPath) {
      <a
        [attr.aria-label]="link.text"
        class="nav-link"
        routerLinkActive="link-active"
        [routerLink]="link.internalPath | routerLink"
        [routerLinkActiveOptions]="{ exact: true }"
        [tooltip]="screenWidth > 700 ? null : link.text">
        <span class="link-text">{{ link.text }}</span>
        <mat-icon class="link-icon">{{ link.icon }}</mat-icon>
      </a>
    }
  </div>

  <div class="nav-mid"></div>

  <button
    class="user-settings-button lcc-icon-button"
    dropdown
    (isOpen)="isDropdownOpen = $event">
    <mat-icon class="settings-icon">settings</mat-icon>
    <mat-icon class="dropdown-icon">
      {{ isDropdownOpen ? 'expand_more' : 'expand_less' }}
    </mat-icon>
  </button>
</div>

<div class="nav-right"></div>
