@use '../../../styles/abstracts/mixins' as *;

$border-thickness: 2px;

:host {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2px;
  margin-bottom: 2px;
  background-color: var(--lcc-color--nav-background);
  height: 40px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: var(--lcc-width--appContent);
}

.nav-links {
  display: flex;

  .nav-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    height: auto;

    // Add border thickness to side padding for non-active links to prevent layout shifts
    // when a link becomes active and a border is added
    padding: 6px calc(6px + #{$border-thickness}) 8px;
    border-top: $border-thickness solid transparent;
    border-top-left-radius: var(--lcc-borderRadius--large);
    border-top-right-radius: var(--lcc-borderRadius--large);
    border-bottom: $border-thickness solid var(--lcc-color--nav-border);
    color: var(--lcc-color--nav-linkForeground);
    white-space: nowrap;

    &:hover {
      color: var(--lcc-color--nav-linkForegroundOnHover);
      text-decoration: none;
    }

    &.link-active {
      cursor: default;
      pointer-events: none;
      background-color: var(--lcc-color--app-mainBackground);
      padding: 6px 6px 8px;
      border-top-color: var(--lcc-color--nav-border);
      border-left: $border-thickness solid var(--lcc-color--nav-border);
      border-right: $border-thickness solid var(--lcc-color--nav-border);
      border-bottom-color: transparent;
      color: var(--lcc-color--nav-linkForegroundWhenActive);
    }

    .link-text {
      display: none;
      visibility: hidden;
    }

    .link-icon {
      @include icon-size(24px);
    }

    @include respond-to('lt-xs') {
      padding: 3px calc(3px + #{$border-thickness});

      &.link-active {
        padding: 3px;
      }
    }

    @include respond-to('gt-nav-icons') {
      .link-text {
        display: block;
        visibility: unset;
      }

      .link-icon {
        display: none;
        visibility: hidden;
      }
    }
  }
}

.user-settings-button {
  gap: 2px;
  color: var(--lcc-color--nav-linkForeground);
  border-bottom: $border-thickness solid var(--lcc-color--nav-border);

  .settings-icon {
    @include icon-size(24px);
  }

  .dropdown-icon {
    @include icon-size(16px);
  }
}

.nav-left,
.nav-right,
.nav-mid {
  flex: 1;
  border-bottom: $border-thickness solid var(--lcc-color--nav-border);
}
