@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba($lcc-color--accent, 0.1);
  border-radius: $lcc-border-radius--lg;
  
  padding: $lcc-space--xs $lcc-space--lg;
  gap: $lcc-space--sm;
}

button {
  padding: $lcc-space--xs;
  color: lighten($lcc-color--black, 20%);

  &:hover {
    &:not([disabled]):not(.selected) {
      box-shadow: 1px 1px 4px $lcc-color--gray;
      color: $lcc-color--black !important;
    }
  }
}

.center-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: $lcc-space--sm;
  font-size: $h5;
  padding: 0 $lcc-space--xs;

  .center-section-buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: $lcc-space--sm;

    .center-section-button {
      border: none;
      font-size: $h5;
      background-color: rgba($lcc-color--accent, 0.2) !important;

      &.selected {
        cursor: default;
        background-color: $lcc-color--accent;
        border: 1px solid rgba(lighten($lcc-color--black, 20%), 0.5);
      }
    }
  }
}
