@import 'styles/abstracts/mixins';

:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--lcc-color--paginator-border);
  border-radius: var(--lcc-borderRadius--large);
  background-color: var(--lcc-color--paginator-background);
  color: var(--lcc-color--paginator-pageNumberText);
  
  padding: 4px 32px;
  gap: 8px;
}

.page-navigation-button {
  padding: 2px;
}

.page-control-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4px;
  font-size: var(--lcc-fontSize--h5);
  padding: 0 4px;

  .page-size-buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;

    .page-size-button {
      padding: 4px;

      &.selected {
        border: 2px solid var(--lcc-color--paginator-selectedButtonBorder) !important;
      }
    }
  }
}
