@import 'styles/abstracts/mixins';

:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--lcc-color--paginator-background);
  border-radius: var(--lcc-borderRadius--large);
  
  padding: 4px 32px;
  gap: 8px;
}

button {
  padding: 4px;
  color: var(--lcc-color--paginator-buttonText);

  &:hover {
    &:not([disabled]):not(.selected) {
      box-shadow: 1px 1px 5px 0 var(--lcc-color--paginator-buttonBoxShadowOnHover);
      color: var(--lcc-color--paginator-buttonTextOnHover) !important;
    }
  }
}

.center-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4px;
  font-size: var(--lcc-fontSize--h5);
  padding: 0 4px;

  .center-section-buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: 4px;

    .center-section-button {
      border: none;
      text-transform: unset;
      white-space: unset;
      font-size: var(--lcc-fontSize--h5);
      background-color: var(--lcc-color--paginator-centerSectionButton);

      &.selected {
        cursor: default;
        background-color: var(--lcc-color--paginator-selectedBackground);
        border: 1px solid var(--lcc-color--paginator-selectedBorder);
      }
    }
  }
}
