<button
  class="lcc-secondary-button page-navigation-button"
  [disabled]="pageNum === 1"
  [tooltip]="pageNum === 1 ? null : 'First page'"
  (click)="onFirst()">
  <i-feather
    name="chevrons-left"
    class="first-page-icon">
  </i-feather>
</button>

<button
  class="lcc-secondary-button page-navigation-button"
  [disabled]="pageNum === 1"
  [tooltip]="pageNum === 1 ? null : 'Previous page'"
  (click)="onPrevious()">
  <i-feather
    name="chevron-left"
    class="previous-page-icon">
  </i-feather>
</button>

<section class="page-control-section">
  <div class="page-counter">Page: {{ pageNum }} / {{ lastPage() }}</div>
  <div class="page-size-buttons">
    @for (size of PAGE_SIZES; track size) {
      <button
        class="lcc-secondary-button page-size-button"
        [class.selected]="pageSize === size"
        [tooltip]="'Show ' + size + ' ' + typeOfItems + ' per page'"
        (click)="onPageSizeChange(size)">
        {{ size }}
      </button>
    }
  </div>
</section>

<button
  class="lcc-secondary-button page-navigation-button"
  [disabled]="pageNum === lastPage()"
  [tooltip]="pageNum === lastPage() ? null : 'Next page'"
  (click)="onNext()">
  <i-feather
    name="chevron-right"
    class="next-page-icon">
  </i-feather>
</button>

<button
  class="lcc-secondary-button page-navigation-button"
  [disabled]="pageNum === lastPage()"
  [tooltip]="pageNum === lastPage() ? null : 'Last page'"
  (click)="onLast()">
  <i-feather
    name="chevrons-right"
    class="last-page-icon">
  </i-feather>
</button>
