@use '../../../styles/abstracts/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  padding: 32px 0;
  white-space: nowrap;
  background-color: var(--lcc-color--footer-background);
  color: var(--lcc-color--footer-text);
  font-size: 13px;
}

.website-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  text-decoration: none;
  font-style: normal;

  mat-icon {
    @include icon-size(14px);

    margin-left: 4px;
    vertical-align: text-bottom;
  }

  .divider {
    margin: 0 8px;
    color: var(--lcc-color--footer-verticalSpacer);
  }
}
