<small>
	Copyright &copy; {{ currentYear }} <b>London Chess Club</b>
</small>

<address>
	<span class="current-version">v{{ currentVersion }}</span>

	<span class="divider">|</span>

	<a href="https://github.com/mwiraszka/LondonChessClub#readme"
		 target="_blank">
		Source code
	</a>

	<span class="divider">|</span>

	<a href="mailto:welcome@londonchess.ca?subject=LCC%20Website%20-%20Bug%20Report">
		Report a bug
	</a>

	<span class="divider">|</span>

	<a href="https://www.instagram.com/londonchessclub_?igsh=MWxqM25sMDdzemV5aA%3D%3D&utm_source=qr"
		 class="instagram-link">
		<i-feather name="instagram"
							 class="instagram-icon">
		</i-feather>
		<span>Instagram</span>
	</a>
</address>

<aside *ngIf="isNewVersionAvailable"
			 class="new-version">
	[ New website version available! Refresh page to update. ]
</aside>
