@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: $lcc-space--xs;
  padding: $lcc-space--lg 0;
  white-space: nowrap;
  background-color: $lcc-color--bg-canvas;
  font-size: $h5;
}

.website-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 $lcc-space--sm;
  text-decoration: none;
  font-style: normal;

  .divider {
    margin: 0 $lcc-space--sm;
  }
}

.new-version-notice {
  margin-top: $lcc-space--sm;
  color: $lcc-color--text-secondary;
}
