<section class="main-section">
  <div class="main-content">
    <div class="branding-and-socials">
      <a
        class="logo"
        routerLink="">
        <img
          [image]="{
            originalUrl: 'assets/lcc-logo.svg',
            width: 40,
            height: 40,
            caption: 'London Chess Club',
          }" />
      </a>
      <div class="club-name">
        London Chess Club<br />
        <span class="website-version">v{{ currentVersion }}</span>
      </div>

      <div class="socials">
        <a
          href="https://bit.ly/LCC-NoticeBoard"
          class="whatsapp"
          rel="noopener noreferrer"
          target="_blank"
          tooltip="Club noticeboard on WhatsApp">
          <div class="image-container">
            <img
              [image]="{
                originalUrl: 'assets/club-link-icons/whatsapp.svg',
                width: 15,
                height: 15,
                caption: 'WhatsApp',
              }" />
          </div>
        </a>

        <a
          href="https://www.instagram.com/londonchessclub_?igsh=MWxqM25sMDdzemV5aA%3D%3D&utm_source=qr"
          class="instagram"
          rel="noopener noreferrer"
          target="_blank"
          tooltip="Follow us on Instagram">
          <div class="image-container">
            <img
              [image]="{
                originalUrl: 'assets/club-link-icons/instagram.svg',
                width: 16,
                height: 16,
                caption: 'Instagram',
              }" />
          </div>
        </a>

        <a
          href="https://www.chess.com/club/london-chess-club-canada"
          class="chesscom"
          rel="noopener noreferrer"
          target="_blank"
          [tooltip]="chesscomTooltipContent">
          <div class="image-container">
            <img
              [image]="{
                originalUrl: 'assets/club-link-icons/chesscom.svg',
                width: 12,
                height: 16,
                caption: 'Chess.com',
              }" />
          </div>
        </a>

        <a
          href="mailto:welcome@londonchess.ca"
          class="email"
          rel="noopener noreferrer"
          target="_blank"
          [tooltip]="emailTooltipContent">
          <div class="image-container">
            <img
              [image]="{
                originalUrl: 'assets/club-link-icons/email.svg',
                width: 14,
                height: 14,
                caption: 'Email',
              }" />
          </div>
        </a>
      </div>
    </div>

    <address class="site-links">
      <section class="about-us">
        <header>ABOUT US</header>
        <hr />
        <a
          class="lcc-link"
          routerLink="/about">
          About us
        </a>
        <a
          class="lcc-link"
          routerLink="/members">
          Members (Ratings table)
        </a>
        <a
          class="lcc-link"
          routerLink="/champion">
          London Chess Champion
        </a>
        <a
          class="lcc-link"
          routerLink="/lifetime-achievement-awards">
          Lifetime Achievement Awards
        </a>
      </section>

      <section class="club-events">
        <header>CLUB EVENTS</header>
        <hr />
        <a
          class="lcc-link"
          routerLink="/schedule">
          Schedule (Upcoming events)
        </a>
        <a
          class="lcc-link"
          routerLink="/news">
          News (Articles)
        </a>
      </section>

      <section class="archives">
        <header>ARCHIVES</header>
        <hr />
        <a
          class="lcc-link"
          routerLink="/photo-gallery">
          Photo Gallery
        </a>
        <a
          class="lcc-link"
          routerLink="/game-archives">
          Game Archives
        </a>
      </section>

      <section class="documents">
        <header>DOCUMENTS</header>
        <hr />
        <a
          class="lcc-link"
          routerLink="/documents"
          fragment="lcc-code-of-conduct.pdf">
          Code of Conduct
        </a>
        <a
          class="lcc-link"
          routerLink="/documents"
          fragment="lcc-bylaws.pdf">
          Club Bylaws
        </a>
        <a
          class="lcc-link"
          routerLink="/documents"
          fragment="lcc-membership-fees-2025-to-2028.pdf">
          Membership Fees
        </a>
      </section>

      <section class="website">
        <header>WEBSITE</header>
        <hr />
        <a
          href="https://github.com/mwiraszka/LondonChessClub#readme"
          class="lcc-link"
          rel="noopener noreferrer"
          target="_blank">
          <span>Source code</span>
          <mat-icon>open_in_new</mat-icon>
        </a>
        <a
          href="mailto:michal@londonchess.ca?subject=LCC%20Website%20-%20Bug%20Report"
          class="lcc-link"
          rel="noopener noreferrer"
          target="_blank">
          <span>Report a bug</span>
          <mat-icon>open_in_new</mat-icon>
        </a>
      </section>
    </address>
  </div>
</section>

<small class="copyright-notice">
  <span>Copyright &copy; {{ currentYear }} <b>London Chess Club</b></span>
  <span class="divider">|</span>
  <span>All Rights Reserved.</span>
</small>

<ng-template #chesscomTooltipContent>
  <div>Join our club page on</div>
  <i class="tooltip-highlighted-text">chess.com</i>
</ng-template>

<ng-template #emailTooltipContent>
  <div>Email us at</div>
  <i class="tooltip-highlighted-text">welcome&#64; londonchess.ca</i>
</ng-template>
