@use '../../../styles/abstracts/mixins' as *;

:host {
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: center;
  padding: 4px 8px;
  border-bottom: 1px solid var(--lcc-color--upcomingEventBanner-borderBottom);
}

.banner-message-container {
  overflow: hidden;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  max-width: var(--lcc-width--appContent);
}

.banner-message {
  overflow: hidden;
  overflow: hidden;
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  min-width: 0;
  font-size: 14px;
  white-space: nowrap;
  color: var(--lcc-color--upcomingEventBanner-text);

  b {
    font-weight: bold;
    color: var(--lcc-color--upcomingEventBanner-boldText);
  }
}

.event-title-link {
  &:hover {
    text-decoration-color: transparent;

    b {
      color: var(--lcc-color--upcomingEventBanner-boldTextOnHover);
    }
  }
}

.marquee-content {
  display: inline-flex;
  align-items: center;

  .event-divider {
    display: inline-block;
    align-self: stretch;
    width: 2px;
    background-color: var(--lcc-color--upcomingEventBanner-eventDivider);
  }

  .marquee-item {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding-right: 50px;
  }

  &.animate {
    animation: marquee-scroll linear infinite;
  }
}

mat-icon {
  @include icon-size(16px);

  color: var(--lcc-color--upcomingEventBanner-closeIcon);

  &:hover {
    color: var(--lcc-color--upcomingEventBanner-closeIconOnHover);
  }
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
