<div
  class="container"
  [style.background]="backgroundStyling">
  <div class="banner-message-container">
    <div
      class="banner-message"
      #bannerMessage>
      <div
        class="marquee-content"
        #marqueeContent
        [class.animate]="shouldAnimate"
        [style.animation-duration.s]="animationDuration">
        <ng-container *ngTemplateOutlet="bannerContent" />
        @if (shouldAnimate) {
          <ng-container *ngTemplateOutlet="bannerContent" />
        }
      </div>

      <ng-template #bannerContent>
        <span class="marquee-item">
          <span>Next {{ nextEvents.length > 1 ? 'events' : 'event' }}:</span>
          @for (event of nextEvents; track event.id) {
            @if (!$first) {
              <span class="event-divider"></span>
            }
            <span>
              @if (event.articleId) {
                <a
                  class="event-title-link lcc-link"
                  [routerLink]="['/article/view', event.articleId]">
                  <b>{{ event.title }}</b>
                </a>
              } @else {
                <b>{{ event.title }}</b>
              }
            </span>
          }
          <span>on</span>
          <span>
            <b>{{ nextEvents[0].eventDate | formatDate }}</b>
          </span>
        </span>
      </ng-template>
    </div>

    <button
      class="close-button lcc-icon-button"
      (click)="clearBanner.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
