<div class="lcc-canvas">
	<lcc-screen-header [preTitle]="(facade.isEditMode$ | async) ? 'Edit' : null"
										 [title]="(facade.isEditMode$ | async) ? memberFullName : 'Add a member'">
	</lcc-screen-header>

	<aside>
		Required fields
		<span class="red"> *</span>
	</aside>

	<form *ngIf="form"
				class="lcc-form"
				[formGroup]="form"
				(ngSubmit)="onSubmit()">
		<div class="lcc-form-fields">
			<label for="first-name-input"
						 class="lcc-required-field">
				First name:
			</label>
			<input id="first-name-input"
						 type="text"
						 name="first-name"
						 formControlName="firstName" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['firstName'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['firstName'])">
				</cds-icon>
			</div>

			<label for="last-name-input"
						 class="lcc-required-field">
				Last name:
			</label>
			<input id="last-name-input"
						 type="text"
						 name="last-name"
						 formControlName="lastName" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['lastName'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['lastName'])">
				</cds-icon>
			</div>

			<label for="city-input"
						 class="lcc-required-field">
				City:
			</label>
			<input id="city-input"
						 type="text"
						 name="city"
						 formControlName="city" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['city'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['city'])">
				</cds-icon>
			</div>

			<label for="rating-input"
						 class="lcc-required-field">
				LCC rating:
			</label>
			<input id="rating-input"
						 type="text"
						 name="rating"
						 formControlName="rating"
						 maxlength="6" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['rating'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['rating'])">
				</cds-icon>
			</div>

			<label for="date-joined-input"
						 class="lcc-required-field">
				Date joined:
			</label>
			<input id="date-joined-input"
						 type="text"
						 name="date-joined"
						 formControlName="dateJoined" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['dateJoined'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['dateJoined'])">
				</cds-icon>
			</div>

			<label for="email-input">Email:</label>
			<input id="email-input"
						 type="text"
						 name="email"
						 formControlName="email" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['email'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['email'])">
				</cds-icon>
			</div>

			<label for="phone-number-input">Phone number:</label>
			<input id="phone-number-input"
						 type="text"
						 name="phone-number"
						 formControlName="phoneNumber" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['phoneNumber'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['phoneNumber'])">
				</cds-icon>
			</div>

			<label for="year-of-birth-input">Year of birth:</label>
			<input id="year-of-birth-input"
						 type="text"
						 name="year-of-birth"
						 formControlName="yearOfBirth"
						 maxlength="4" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['yearOfBirth'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['yearOfBirth'])">
				</cds-icon>
			</div>

			<label for="chesscom-username-input">Chess.com username:</label>
			<input id="chesscom-username-input"
						 type="text"
						 name="chesscom-username"
						 formControlName="chesscomUsername"
						 maxlength="20" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['chesscomUsername'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['chesscomUsername'])">
				</cds-icon>
			</div>

			<label for="lichess-username-input">Lichess username:</label>
			<input id="lichess-username-input"
						 type="text"
						 name="lichess-username"
						 formControlName="lichessUsername"
						 maxlength="20" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['lichessUsername'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['lichessUsername'])">
				</cds-icon>
			</div>

			<hr class="lcc-form-divider-line" />

			<label for="is-active-input"
						 class="lcc-required-field">
				Active:
			</label>
			<input id="is-active-input"
						 type="checkbox"
						 name="is-active"
						 formControlName="isActive" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['isActive'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['isActive'])">
				</cds-icon>
			</div>
		</div>

		<div class="lcc-form-buttons-container">
			<button class="lcc-secondary-button"
							type="button"
							(click)="onCancel()">
				Cancel
			</button>
			<button class="lcc-primary-button"
							type="submit"
							[disabled]="form.invalid || !(facade.hasUnsavedChanges$ | async)">
				<ng-container *ngIf="facade.isEditMode$ | async; else createModeButton">Update
				</ng-container>
				<ng-template #createModeButton>Add member</ng-template>
			</button>
		</div>
	</form>
</div>
