<div class="modification-info-container">
  <div class="create-details-container">
    <i-feather name="file-plus" class="create-icon"> </i-feather>
    <div class="create-text">
      <span>created by</span>
      <span class="name">{{ info.createdBy }}</span>
      <span class="vertical-spacer">|</span>
      <span class="date">{{ info.dateCreated | formatDate: 'short' }}</span>
    </div>
  </div>

  @if (info.dateCreated !== info.dateLastEdited) {
    <div class="edit-details-container">
      <i-feather name="edit-2" class="edit-icon"> </i-feather>
      <div class="edit-text">
        <span>last edited by</span>
        <span class="name">{{ info.lastEditedBy }}</span>
        <span class="vertical-spacer">|</span>
        <span class="date">{{ info.dateLastEdited | formatDate: 'short' }}</span>
      </div>
    </div>
  }
</div>
