@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  padding: $lcc-space--xs $lcc-space--md;
  background: lighten($lcc-color--primary, 50%);
  border: 1px solid darken($lcc-color--white, 8%);
  border-radius: $lcc-border-radius--lg;
}

.modification-info-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: $lcc-space--sm;
  font-size: $h5;
  color: $lcc-color--text-secondary;

  .create-details-container,
  .edit-details-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: $lcc-space--sm;

    .create-icon,
    .edit-icon {
      height: 15px;
      width: 15px;
      color: lighten($lcc-color--black, 20%);
    }

    .create-text,
    .edit-text {
      & > * {
        white-space: nowrap;
        line-height: 1.3em;
      }

      .name {
        color: $lcc-color--text-primary-black;
        padding: 0 1em 0 0.5em;
      }
  
      .vertical-spacer {
        display: none;
  
        @include respond-to('gt-md') {
          display: inline;
        }
      }
  
      .date {
        display: block;
        color: $lcc-color--text-primary-black;
        
        @include respond-to('gt-md') {
          display: inline;
          padding-left: 1em;
        }
      }
    }
  }
}