@use '../../../styles/abstracts/mixins';

$app-header-font-size: 42px;

:host {
  z-index: 1100;
  display: flex;
  justify-content: center;
  width: 100%;
  background: repeating-conic-gradient(
      var(--lcc-color--header-background1) 0% 25%,
      var(--lcc-color--header-background2) 0% 50%
    )
    50% / 2px 2px;
}

.app-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--lcc-width--appContent);
  margin: 0 8px;

  .branding {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 0;

    img {
      height: 40px;
      width: 40px;
      background-color: var(--lcc-color--header-brandingBackground);
      border-radius: 50%;
      padding: 3px;

      @include mixins.respond-to('gt-sm') {
        height: 60px;
        width: 60px;
      }

      &:hover {
        cursor: pointer;
        background: var(--lcc-color--header-brandingBackgroundOnHover);
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--lcc-color--header-text);
      white-space: nowrap;
      font-family: 'Caveat', sans-serif;
      font-size: calc(#{$app-header-font-size} - 6px);

      @include mixins.respond-to('gt-sm') {
        font-size: $app-header-font-size;
      }

      &:hover {
        text-decoration: none;
        color: var(--lcc-color--header-textOnHover);
      }
    }
  }

  .chess-pieces {
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

    @include mixins.respond-to('gt-md') {
      display: flex;
    }

    img {
      display: none;
      margin-right: 4px;

      &.pieces-1 {
        height: 55px;
        transform: rotate(-3deg);
        filter: opacity(0.65);
        -webkit-filter: opacity(0.65);
        -moz-filter: opacity(0.65);
      }

      &.pieces-2 {
        height: 42px;
        transform: rotate(1deg);
        filter: opacity(0.55);
        -webkit-filter: opacity(0.55);
        -moz-filter: opacity(0.55);
      }

      &.pieces-3 {
        height: 35px;
        transform: rotate(-2deg);
        filter: opacity(0.45);
        -webkit-filter: opacity(0.45);
        -moz-filter: opacity(0.45);
      }

      &.pieces-4 {
        height: 30px;
        transform: rotate(1.5deg);
        filter: opacity(0.4);
        -webkit-filter: opacity(0.4);
        -moz-filter: opacity(0.4);
      }

      &.pieces-5 {
        height: 27px;
        transform: rotate(-1deg);
        filter: opacity(0.3);
        -webkit-filter: opacity(0.3);
        -moz-filter: opacity(0.3);
      }

      @include mixins.respond-to('gt-xl') {
        display: flex;
      }
    }
  }
}
