<div class="app-header-container">
  <section class="branding">
    <a
      class="branding-link"
      routerLink="">
      <img
        src="assets/lcc-branding.svg"
        alt="LCC branding" />
    </a>
    <a
      class="club-name-link"
      routerLink="">
      London Chess Club
    </a>
  </section>

  <section class="chess-pieces">
    @for (num of 5 | range: 1; track num) {
      <img
        [ngClass]="'pieces-' + num"
        src="assets/chess-pieces.svg"
        alt="Chess pieces" />
    }
  </section>
</div>
