@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  background: repeating-conic-gradient(
    darken($lcc-color--primary, 5%) 0% 25%,
    $lcc-color--transparent-mostly 0% 50%
  ) 50% / 3px 3px;
}

.app-header-container {
  display: flex;
  justify-content: center;
  padding: $lcc-space--md;
  width: 100%;

  @include respond-to('gt-xs') {
    justify-content: flex-start;
    width: $lcc-width--app-content;
    padding: $lcc-space--md calc($lcc-space--md + 2px);
  }

  a {
    color: darken($lcc-color--white, 2%);
    font-size: $h1;
    white-space: nowrap;
  
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}
