<div class="data-toolbar-controls">
  <section class="paginator">
    <button
      class="first-page-button page-navigation-button lcc-secondary-button"
      [disabled]="options.page === 1"
      [tooltip]="options.page === 1 ? null : 'First page'"
      (click)="onFirstPage()">
      <mat-icon class="first-page-icon">first_page</mat-icon>
    </button>

    <button
      class="previous-page-button page-navigation-button lcc-secondary-button"
      [disabled]="options.page === 1"
      [tooltip]="options.page === 1 ? null : 'Previous page'"
      (click)="onPreviousPage()">
      <mat-icon class="previous-page-icon">chevron_left</mat-icon>
    </button>

    <section class="page-control-section">
      <div class="page-counter">Page: {{ options.page }} / {{ lastPage }}</div>
      <div class="page-size-buttons">
        @for (size of PAGE_SIZES; track size) {
          <button
            class="page-size-button lcc-secondary-button"
            [class.selected]="options.pageSize === size"
            [tooltip]="'Show ' + size + ' ' + entity + ' per page'"
            (click)="onPageSizeChange(size)">
            {{ size }}
          </button>
        }
      </div>
    </section>

    <button
      class="next-page-button page-navigation-button lcc-secondary-button"
      [disabled]="options.page === lastPage"
      [tooltip]="options.page === lastPage ? null : 'Next page'"
      (click)="onNextPage()">
      <mat-icon class="next-page-icon">chevron_right</mat-icon>
    </button>

    <button
      class="last-page-button page-navigation-button lcc-secondary-button"
      [disabled]="options.page === lastPage"
      [tooltip]="options.page === lastPage ? null : 'Last page'"
      (click)="onLastPage()">
      <mat-icon class="last-page-icon">last_page</mat-icon>
    </button>
  </section>

  @if ((options.filters | keyvalue).length > 0) {
    <ul class="filters">
      @for (filter of options.filters | keyvalue: originalOrder; track filter.key) {
        <li class="filter">
          <label [for]="filter.key">{{ filter.value!.label }}</label>
          <input
            [id]="filter.key"
            type="checkbox"
            [checked]="filter.value!.value"
            (change)="onToggleFilter(filter)" />
        </li>
      }
    </ul>
  }

  <input
    class="search-input"
    id="search"
    type="text"
    [placeholder]="isSearchFocused ? '' : searchPlaceholder"
    [value]="options.search"
    (focus)="isSearchFocused = true"
    (blur)="isSearchFocused = false"
    (input)="onSearchQueryChange($event)" />
</div>

<aside class="filter-counter">
  Showing {{ filteredCount }} / {{ totalCount }} {{ entity }}
</aside>
