:host {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 8px 32px;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .page-navigation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }

  .page-control-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4px;
    font-size: 14px;
    padding: 0 4px;

    .page-counter {
      color: var(--lcc-color--dataToolbar-secondaryText);
    }

    .page-size-buttons {
      display: flex;
      flex-direction: row;
      gap: 4px;

      .page-size-button {
        padding: 4px;
        border-color: var(--lcc-color--dataToolbar-buttonBorder);
        color: var(--lcc-color--dataToolbar-primaryText);

        &.selected {
          color: var(--lcc-color--dataToolbar-primaryText);
          border-color: var(--lcc-color--dataToolbar-selectedButtonBorder);
        }
      }
    }
  }
}

.search-input {
  min-width: 240px;
  max-width: 350px;
  min-width: 240px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  .filter {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    white-space: nowrap;
    color: var(--lcc-color--dataToolbar-primaryText);
  }
}
