<div class="nav-left"></div>

<div class="nav-items-container">
	<a aria-label="Home"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.HOME"
		 [routerLinkActiveOptions]="{ exact: true }"
		 (click)="facade.onSelectHomeTab()">
		<span class="lcc-gt-md">Home</span>
		<cds-icon class="lcc-lt-md"
							shape="home"
							size="md"
							[tooltip]="'Home'">
		</cds-icon>
	</a>

	<a aria-label="Members"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.MEMBERS"
		 (click)="facade.onSelectMembersTab()">
		<span class="lcc-gt-md">Members</span>
		<cds-icon class="lcc-lt-md"
							shape="users"
							size="md"
							[tooltip]="'Members'">
		</cds-icon>
	</a>

	<a aria-label="Schedule"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.SCHEDULE"
		 (click)="facade.onSelectScheduleTab()">
		<span class="lcc-gt-md">Schedule</span>
		<cds-icon class="lcc-lt-md"
							shape="event"
							size="md"
							[tooltip]="'Schedule'">
		</cds-icon>
	</a>

	<a aria-label="News"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.NEWS"
		 (click)="facade.onSelectNewsTab()">
		<span class="lcc-gt-md">News</span>
		<cds-icon class="lcc-lt-md"
							shape="announcement"
							size="md"
							[tooltip]="'News'">
		</cds-icon>
	</a>

	<a aria-label="London Chess Champion"
		 [routerLink]="NavPathTypes.LONDON_CHESS_CHAMPION"
		 routerLinkActive="link-active"
		 (click)="facade.onSelectLondonChessChampionTab()">
		<span class="lcc-gt-md">London&nbsp;Chess&nbsp;Champion</span>
		<cds-icon class="lcc-lt-md"
							shape="crown"
							size="md"
							[tooltip]="'London Chess Champion'">
		</cds-icon>
	</a>

	<a aria-label="Photo Gallery"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.PHOTO_GALLERY"
		 (click)="facade.onSelectPhotoGalleryTab()">
		<span class="lcc-gt-md">Photo&nbsp;Gallery</span>
		<cds-icon class="lcc-lt-md"
							shape="image-gallery"
							size="md"
							[tooltip]="'Photo Gallery'">
		</cds-icon>
	</a>

	<a aria-label="About"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.ABOUT"
		 (click)="facade.onSelectAboutTab()">
		<span class="lcc-gt-md">About</span>
		<cds-icon class="lcc-lt-md"
							shape="unknown-status"
							size="md"
							[tooltip]="'About'">
		</cds-icon>
	</a>

	<div class="nav-login-spacer"></div>

	<ng-container *ngIf="facade.user$ | async; else loggedOut">
		<div class="user-account-dropdown ddcomp">
			<div class="dropdown-tab ddcomp"
					 [ngClass]="(facade.isDropdownOpen$ | async) ? 'dropdown-open' : 'dropdown-closed'"
					 (click)="facade.onToggleDropdown()">
				<cds-icon class="ddcomp"
									shape="angle"
									size="xs"
									[attr.flip]="(facade.isDropdownOpen$ | async) ? undefined : 'vertical'">
				</cds-icon>
				<cds-icon class="ddcomp"
									shape="user"
									size="md">
				</cds-icon>
			</div>

			<ul *ngIf="facade.isDropdownOpen$ | async"
					class="dropdown-items ddcomp">
				<li class="login-welcome ddcomp">
					<small class="ddcomp">Logged in as Admin</small>
					<div class="first-name ddcomp">
						<span class="ddcomp">{{ facade.tempFirstName$ | async }}</span>
						<cds-icon class="ddcomp"
											shape="administrator"
											size="sm">
						</cds-icon>
					</div>
				</li>
				<li class="ddcomp"
						*ngIf="!(facade.isUserVerified$ | async)"
						(click)="facade.onResendValidationEmail()">
					Resend verification link
				</li>
				<li class="last-item ddcomp"
						(click)="facade.onLogOut()">
					Log out
				</li>
			</ul>
		</div>
	</ng-container>

	<ng-template #loggedOut>
		<a class="login-link"
			 aria-label="Login"
			 routerLinkActive="link-active"
			 [routerLink]="NavPathTypes.LOGIN"
			 (click)="facade.onSelectLoginTab()">
			<span class="lcc-gt-md">Login</span>
			<cds-icon class="lcc-lt-md"
								shape="user"
								size="md"
								[tooltip]="'Login'">
			</cds-icon>
		</a>
	</ng-template>
</div>

<div class="nav-right"></div>
