@import 'styles/abstracts/variables';

:host {
  display: flex;
  background-color: lighten($lcc-white, 10%);
}

.lcc-nav-items {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  width: 100%;
  padding: 8px 14px;
}

.lcc-user-account {
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;

  p {
    font-size: $h4;
    color: lighten($lcc-black, 15%);
  }

  .lcc-login-text {
    margin-left: 0.2em;
  }
}

.lcc-user-account-dropdown {
  position: relative;
  top: 0;
  left: 0;
  height: 28px;
  width: 80px;
  background-color: lighten($lcc-gray, 20%);
  border-top: 3px solid lighten($lcc-black, 10%);
}

.lcc-logout-button {
  width: 100%;
  border: none;
  background-color: inherit;
  color: lighten($lcc-black, 10%);
  font-size: $h4;
}
