@import 'styles/abstracts/mixins';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 8px;
}

table {
  @include respond-to('lt-sm') {
    font-size: var(--lcc-fontSize--h5);
  }

  &:not(.lcc-show-admin-columns) {
    .born,
    .email,
    .phone-number,
    .date-joined {
      display: none !important;
    }
  }

  thead {
    th {
      .sort-icon-container {
        display: inline-flex;
        height: 11px;
        width: 11px;
        margin-left: 4px;
      }

      &:hover:not(.row-number) {
        cursor: pointer;
        background-color: var(--lcc-color--membersTable-headerBackgroundOnHover);
      }
    }
  }
  
  tbody {
    tr {
      &.inactive {
        :not(.row-number) {
          color: var(--lcc-color--membersTable-inactiveMemberText);
          font-style: italic;
        }
  
        .first-name::after {
          content: ' *';
          color: var(--lcc-color--membersTable-inactiveMemberAsterisk);
        }
      }

      td {
        white-space: nowrap;

        &.row-number {
          text-align: right;
        }

        &.first-name {
          min-width: 150px;
          max-width: 180px;

          // More room with smaller font size
          @include respond-to('lt-sm') {
            min-width: 120px;
            max-width: 140px;
          }

          &.lcc-truncate {
            display: table-cell;
            text-overflow: ellipsis;
          }
        }

        &.last-name {
          min-width: 150px;
          max-width: 180px;

          // More room with smaller font size
          @include respond-to('lt-sm') {
            min-width: 120px;
            max-width: 140px;
          }

          &.lcc-truncate {
            display: table-cell;
            text-overflow: ellipsis;
          }
        }

        &.city {
          min-width: 150px;
          max-width: 200px;
        }

        &.chesscom-username {
          max-width: 200px;
        }

        &.lichess-username {
          max-width: 200px;
        }

        &.last-updated {
          text-align: right;
          min-width: 150px;
        }

        &.email {
          min-width: 250px;
        }

        &.date-joined {
          text-align: right;
          min-width: 150px;
        }
      }
    }
  }

  .peak-rating,
  .city,
  .chesscom-username,
  .lichess-username,
  .last-updated,
  .born,
  .email,
  .phone-number,
  .date-joined {
    display: none;

    @include respond-to('gt-sm') {
      display: table-cell;

      // Override truncation strategy for table
      &.lcc-truncate {
        display: table-cell;
        text-overflow: ellipsis;
      }
    }
  }
}

lcc-paginator {
  max-width: 300px;
  justify-content: center;
  align-items: center;
}

aside {
  width: 300px;
  text-align: center;
  color: var(--lcc-color--membersTable-asideText);
  border: 1px solid var(--lcc-color--membersTable-asideBorder);
  border-radius: var(--lcc-borderRadius--large);
  
  h5 {
    padding: 4px;
    font-style: italic;
  }

  .checkbox-section {
    padding: 8px 16px;
    background-color: var(--lcc-color--membersTable-asideCheckboxSectionBackground);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    label {
      font-size: var(--lcc-fontSize--h5);
      font-weight: bold;
    }
  }
}
