@if (membersTableViewModel$ | async; as vm) {
  @if (vm.isAdmin) {
    <lcc-link-list [links]="[addMemberLink]"></lcc-link-list>
  }

  <div class="lcc-table-wrapper">
    <table
      class="lcc-table"
      [class.lcc-show-admin-columns]="vm.isAdmin && !vm.isSafeMode">
      @if (vm.members.displayed.length) {
        <thead>
          <tr>
            @if (vm.isAdmin) {
              <th class="lcc-table-admin-controls-filler"></th>
            }
            <th class="row-number"></th>
            @for (
              header of vm.isAdmin && !vm.isSafeMode
                ? tableHeaders
                : tableHeaders.slice(0, -4);
              track header
            ) {
              <th
                [ngClass]="header | kebabCase"
                (click)="onSelectTableHeader(header)">
                <span>{{ header }}</span>
                <div class="sort-icon-container">
                  @if (vm.sortedBy === (header | camelCase)) {
                    <i-feather
                      class="sort-icon"
                      [name]="vm.isAscending ? 'chevron-up' : 'chevron-down'">
                    </i-feather>
                  }
                </div>
              </th>
            }
          </tr>
        </thead>
      }

      <tbody>
        @for (
          member of vm.members.displayed;
          track member.id;
          let i = $index;
          let last = $last
        ) {
          <tr
            class="lcc-admin-controls-container"
            [ngClass]="{ 'last-row': last }"
            [class.inactive]="!member.isActive">
            @if (vm.isAdmin) {
              <lcc-admin-controls
                [editPath]="['member', 'edit', member.id!]"
                [height]="31"
                [itemName]="member.firstName"
                (delete)="onDeleteMember(member)">
              </lcc-admin-controls>
            }
            <td class="row-number">
              {{ i + vm.startIndex + 1 }}
            </td>
            <td class="first-name lcc-truncate">{{ member.firstName }}</td>
            <td class="last-name lcc-truncate">{{ member.lastName }}</td>
            <td class="rating">{{ member.rating }}</td>
            <td class="peak-rating">{{ member.peakRating }}</td>
            <td class="city lcc-truncate">{{ member.city }}</td>
            <td class="chesscom-username lcc-truncate">
              {{ member?.chesscomUsername }}
            </td>
            <td class="lichess-username lcc-truncate">
              {{ member?.lichessUsername }}
            </td>
            <td class="last-updated">
              {{ member.modificationInfo!.dateLastEdited | formatDate: 'short no-time' }}
            </td>
            @if (vm.isAdmin) {
              <td class="born">{{ member?.yearOfBirth }}</td>
              <td class="email">{{ member?.email }}</td>
              <td class="phone-number">{{ member?.phoneNumber }}</td>
              <td class="date-joined">
                {{ member.dateJoined | formatDate: 'short no-time' }}
              </td>
            }
          </tr>
        }
      </tbody>

      <tfoot>
        <tr>
          <td colspan="100%">
            {{ vm.members.all.length }} members ({{ vm.members.active.length }}
            active)
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <lcc-paginator
    typeOfItems="members"
    [pageNum]="vm.pagination.pageNum"
    [pageSize]="vm.pagination.pageSize"
    [totalItems]="vm.members.filtered.length"
    (pageChange)="onChangePage($event)"
    (pageSizeChange)="onChangePageSize($event)">
  </lcc-paginator>

  <aside>
    <h5>inactive members *</h5>
    <div class="checkbox-section">
      <label for="active-only">Show active members only</label>
      <input
        id="active-only"
        type="checkbox"
        [checked]="vm.showActiveOnly"
        (change)="onToggleInactiveMembers()" />
    </div>
  </aside>
}
