<form
  class="lcc-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit(hasCode)">
  <div class="lcc-form-fields">
    <label for="email-input">Email:</label>
    <input
      id="email-input"
      type="text"
      name="email"
      formControlName="email"
      autocomplete="email" />
    <lcc-form-error-icon [control]="form.controls.email"></lcc-form-error-icon>

    @if (hasCode) {
      <label for="code-input">Verification code:</label>
      <input
        id="code-input"
        type="text"
        name="code"
        formControlName="code"
        autocomplete="verification-code"
        maxlength="6" />
      <lcc-form-error-icon [control]="form.controls.code"></lcc-form-error-icon>

      <label for="new-password-input">New password:</label>
      <input
        id="new-password-input"
        type="password"
        name="new-password"
        formControlName="newPassword"
        autocomplete="new-password" />
      <lcc-form-error-icon [control]="form.controls.newPassword"></lcc-form-error-icon>
      <label for="confirm-password-input">Confirm password:</label>
      <input
        id="confirm-password-input"
        type="password"
        name="confirm-password"
        formControlName="confirmPassword"
        autocomplete="new-password" />
      <lcc-form-error-icon [control]="form.controls.confirmPassword">
      </lcc-form-error-icon>
    }
  </div>

  <div class="lcc-form-buttons-container">
    @if (hasCode) {
      <button
        class="lcc-primary-button"
        type="submit"
        [disabled]="form.invalid">
        Change password
      </button>
    } @else {
      <button
        class="lcc-primary-button"
        type="submit"
        [disabled]="form.controls.email.invalid">
        Get code
      </button>
    }
  </div>

  <div class="lcc-form-links-container">
    <a
      class="lcc-form-link"
      routerLink="login">
      Return to login
    </a>
    @if (hasCode) {
      <a
        class="lcc-form-link"
        (click)="onRequestNewCode()">
        Request new code
      </a>
    }
  </div>
</form>
