<form class="lcc-form"
			[formGroup]="form"
			(keyup.enter)="onSubmit()"
			(ngSubmit)="onSubmit()">
	<div class="lcc-form-fields">
		<label for="email-input">Email:</label>
		<input id="email-input"
					 type="text"
					 name="email"
					 formControlName="email"
					 autocomplete="email" />
		<div class="lcc-form-error-container">
			<cds-icon *ngIf="hasError(form.controls['email'])"
								class="lcc-form-error-icon"
								shape="exclamation-triangle"
								size="md"
								[tooltip]="getErrorMessage(form.controls['email'])">
			</cds-icon>
		</div>

		<ng-container *ngIf="facade.userHasCode$ | async">
			<label for="code-input">Verification code:</label>
			<input id="code-input"
						 type="text"
						 name="code"
						 formControlName="code"
						 autocomplete="verification-code"
						 maxlength="6" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['code'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['code'])">
				</cds-icon>
			</div>

			<label for="new-password-input">New password:</label>
			<input id="new-password-input"
						 type="password"
						 name="new-password"
						 formControlName="newPassword"
						 autocomplete="new-password" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['newPassword'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['newPassword'])">
				</cds-icon>
			</div>

			<label for="confirm-password-input">Confirm password:</label>
			<input id="confirm-password-input"
						 type="password"
						 name="confirm-password"
						 formControlName="confirmPassword"
						 autocomplete="new-password" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['confirmPassword'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['confirmPassword'])">
				</cds-icon>
			</div>
		</ng-container>
	</div>

	<div class="lcc-form-buttons-container">
		<button *ngIf="(facade.userHasCode$ | async); else getCode"
						class="lcc-primary-button"
						type="submit"
						[disabled]="form.invalid">
			Change password
		</button>
		<ng-template #getCode>
			<button class="lcc-primary-button"
							type="submit"
							[disabled]="form.controls['email'].invalid">
				Get code
			</button>
		</ng-template>
	</div>
</form>
