@if (form) {
  <form
    class="lcc-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit(hasCode)">
    <div class="lcc-form-fields">
      <label for="email-input">Email:</label>
      <input
        id="email-input"
        type="text"
        name="email"
        formControlName="email"
        autocomplete="email" />
      <div class="lcc-form-error-container">
        @if (hasError(form.controls.email)) {
          <i-feather
            name="alert-triangle"
            class="lcc-form-error-icon validation-alert-icon"
            [tooltip]="getErrorMessage(form.controls.email)">
          </i-feather>
        }
      </div>

      @if (hasCode) {
        <label for="code-input">Verification code:</label>
        <input
          id="code-input"
          type="text"
          name="code"
          formControlName="code"
          autocomplete="verification-code"
          maxlength="6" />
        <div class="lcc-form-error-container">
          @if (hasError(form.controls.code)) {
            <i-feather
              name="alert-triangle"
              class="lcc-form-error-icon validation-alert-icon"
              [tooltip]="getErrorMessage(form.controls.code)">
            </i-feather>
          }
        </div>

        <label for="new-password-input">New password:</label>
        <input
          id="new-password-input"
          type="password"
          name="new-password"
          formControlName="newPassword"
          autocomplete="new-password" />
        <div class="lcc-form-error-container">
          @if (hasError(form.controls.newPassword)) {
            <i-feather
              name="alert-triangle"
              class="lcc-form-error-icon validation-alert-icon"
              [tooltip]="getErrorMessage(form.controls.newPassword)">
            </i-feather>
          }
        </div>
        <label for="confirm-password-input">Confirm password:</label>
        <input
          id="confirm-password-input"
          type="password"
          name="confirm-password"
          formControlName="confirmPassword"
          autocomplete="new-password" />
        <div class="lcc-form-error-container">
          @if (hasError(form.controls.confirmPassword)) {
            <i-feather
              name="alert-triangle"
              class="lcc-form-error-icon validation-alert-icon"
              [tooltip]="getErrorMessage(form.controls.confirmPassword)">
            </i-feather>
          } @else if (form.hasError('passwordMismatch')) {
            <i-feather
              name="alert-triangle"
              class="lcc-form-error-icon validation-alert-icon"
              tooltip="Passwords don't match">
            </i-feather>
          }
        </div>
      }
    </div>

    <div class="lcc-form-buttons-container">
      @if (hasCode) {
        <button
          class="lcc-primary-button"
          type="submit"
          [disabled]="form.invalid">
          Change password
        </button>
      } @else {
        <button
          class="lcc-primary-button"
          type="submit"
          [disabled]="form.controls.email.invalid">
          Get code
        </button>
      }
    </div>

    <div class="lcc-form-links-container">
      <a
        class="lcc-form-link"
        routerLink="login">
        Return to login
      </a>
      @if (hasCode) {
        <a
          class="lcc-form-link"
          (click)="onRequestNewCode()">
          Request new code
        </a>
      }
    </div>
  </form>
}
