<div class="previous-photo-button-wrapper">
  <button
    class="lcc-secondary-button lcc-light-button"
    tooltip="Previous photo"
    (click)="onPreviousPhoto()">
    <i-feather name="chevron-left"></i-feather>
  </button>
</div>

<div class="next-photo-button-wrapper">
  <button
    class="lcc-secondary-button lcc-light-button"
    tooltip="Next photo"
    (click)="onNextPhoto()">
    <i-feather name="chevron-right"></i-feather>
  </button>
</div>

<figure>
  <img
    [src]="'assets/photos/' + photos[index].fileName + '.jpg'"
    default="assets/image-placeholder.png" />
  <figcaption class="lcc-truncate">{{ photos[index].caption }}</figcaption>
</figure>
