figure {
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background-color: var(--lcc-color--dialog-background);

  img {
    width: 100%;
    // TODO: Should not need to be hard-coded like this to be centred vertically
    max-height: calc(90vh - 30px - 30px);
  }
}

figcaption {
  width: calc(100% - 8px);
  margin: 4px;
  padding: 4px;
  border-radius: var(--lcc-borderRadius--small);
  line-height: 20px;
  text-align: center;

  // TODO: No idea why this is needed
  translate: 0 -2px;
}

.navigation-buttons-container {
  justify-self: center;
  width: calc(100% - 16px);
  max-width: calc(var(--lcc-width--appContent) + 100px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;

  .previous-photo-button,
  .next-photo-button {
    display: flex;
    padding: 8px;
  }
}
