figure {
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background-color: var(--lcc-color--dialog-background);

  img {
    width: 100%;
    // TODO: Should not need to be hard-coded like this to be centred vertically
    max-height: calc(90vh - 30px - 30px);
  }
}

figcaption {
  width: calc(100% - 8px);
  margin: 4px;
  padding: 4px;
  border-radius: var(--lcc-borderRadius--small);
  line-height: 20px;
  text-align: center;
  // TODO: No idea why this is needed
  translate: 0 -2px;
}

.previous-photo-button-wrapper,
.next-photo-button-wrapper {
  position: absolute;
  top: 50%;

  button {
    display: flex;
    padding: 8px;
    background-color: var(--lcc-color--photoViewer-buttonBackground) !important;
  }
}

.previous-photo-button-wrapper {
  left: 40px;
}

.next-photo-button-wrapper {
  right: 40px;
}
