@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: $lcc-width--app-content;
}

lcc-link-list {
  margin-top: $lcc-space--md;
}
