@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

h3 {
  line-height: 50px;
}

.lcc-schedule-table {
  max-width: 800px;

  td {
    &.date {
      min-width: 90px;
    }

    &.title-and-description {
      min-width: 210px;

      p {
        color: $lcc-color--text-secondary;
      }
    }
  }
}