@import 'styles/abstracts/variables';

.tooltip {
  position: fixed;
  z-index: 100;
  background-color: $lcc-color--bg-tooltip;
  color: white;
  border-radius: $lcc-border-radius--lg;
  padding: $lcc-space--xs $lcc-space--sm;
  margin-top: $lcc-space--sm;
  transform: translateX(-50%);
  animation: tooltip-slide 0.5s;
  pointer-events: none;
  font-size: $h5;
  line-height: 1.2em;
  text-align: center;
  word-wrap: break-word;
  text-transform: none;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
