@import 'styles/abstracts/variables';

$arrow-height: 3px;
$arrow-semi-width: 4px;

.tooltip {
  position: fixed;
  color: white;
  background-color: $lcc-color--bg-tooltip;
  border-radius: $lcc-border-radius--lg;
  padding: $lcc-space--xs $lcc-space--sm;
  margin-top: $lcc-space--sm;
  transform: translateX(-50%);
  animation: tooltip-slide 0.5s;
  pointer-events: none;
  font-size: $h5;
  z-index: 100;
  line-height: 1.2em;
  text-align: center;
  max-width: 120px;

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: $arrow-semi-width solid transparent;
    border-right: $arrow-semi-width solid transparent;
    border-bottom: $arrow-height solid $lcc-color--bg-tooltip;
    position: absolute;
    left: calc(50% - #{$arrow-semi-width});
    top: -$arrow-height;
  }
}


@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}