.tooltip {
  position: fixed;
  z-index: 100;
  background-color: var(--lcc-color--tooltip-background);
  color: var(--lcc-color--tooltip-text);
  outline: 1px solid var(--lcc-color--tooltip-border);
  border-radius: var(--lcc-borderRadius--large);
  padding: 4px 8px;
  margin-top: 8px;
  transform: translateX(-50%);
  animation: tooltip-slide 0.5s;
  pointer-events: none;
  font-size: var(--lcc-fontSize--h5);
  line-height: 1.2em;
  text-align: center;
  word-wrap: break-word;
  text-transform: none;
  white-space: wrap;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
