<lcc-page-header
  heading="City Champion"
  icon="emoji_events">
</lcc-page-header>

<section class="history-and-photos-section">
  <div class="history">
    <p>
      Every fall, chess players from around London and the surrounding region gather to
      compete for the title of <b>London Chess Champion</b>.
    </p>
    <p>
      Peter Murray won the inaugural tournament in 1967, and defended his title the
      following year. Since then, the trophy has changed hands over 20 times, with 18
      different players crowned champion to date.
    </p>
    <p>
      The 2025 London Chess Championship took place between September and December 2025.
      Group A1 ended in a three-way tie for first place, resulting in a tiebreak playoff
      between Mike Harris (1917), Rene Bartar (2027) and defending champion Serhii
      Ivanchuk (2216). Ultimately it was Bartar who came out ahead to qualify for the
      final match against the winner from Group A2, Emilio Ramirez (2107).
    </p>
    <p>
      <b>Rene Bartar (2027)</b> went on to win the match convincingly with two wins and a
      draw, and an impressive performance rating of 2374. With that, London crowned its
      new chess champion!
    </p>
  </div>

  <lcc-photo-carousel [photos]="photos"></lcc-photo-carousel>
</section>

<section class="past-champions-section">
  <div class="standard-championship">
    <h3>Past champions</h3>
    <hr />
    <table class="lcc-table">
      <thead>
        <th>Year</th>
        <th>Winner</th>
      </thead>
      <tbody>
        @for (
          championship of standardChampionships.slice(
            0,
            seeFullStandardTable ? undefined : 10
          );
          track championship.year;
          let first = $first
        ) {
          <tr>
            <td [style]="championship.textStyle">{{ championship.year }}</td>
            <td
              class="winner-cell"
              [style]="championship.textStyle">
              @if (first) {
                <mat-icon class="championship-icon">emoji_events</mat-icon>
              }
              @for (winner of championship.winners; track winner.name; let last = $last) {
                <span class="winner-name">
                  {{ winner.name }}
                  @if (winner.peakRating) {
                    <span class="winner-peak-rating">({{ winner.peakRating }})</span>
                  }
                  @if (!last) {
                    <span>, </span>
                  }
                </span>
              }
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td
            colspan="100%"
            [class.clickable]="!seeFullStandardTable"
            [tooltip]="
              seeFullStandardTable
                ? null
                : 'Show full list of champions going back to 1967'
            "
            (click)="seeFullStandardTable = true">
            {{ seeFullStandardTable ? 'Club formed c.1965' : '. . .' }}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="other-championships">
    <h3>Other championships</h3>
    <hr />
    <div class="tables-container">
      <lcc-expansion-panel class="junior-champions">
        <ng-container header>
          <h4>
            Past winners of
            <b>Junior Championship</b>
            (1996&ndash;2011, 2025&ndash;present)
          </h4>
        </ng-container>
        <table class="lcc-table">
          <thead>
            <th>Year</th>
            <th>Winner</th>
          </thead>
          <tbody>
            @for (
              championship of juniorChampionships.slice(
                0,
                seeFullJuniorTable ? undefined : 10
              );
              track championship.year;
              let first = $first
            ) {
              <tr>
                <td [style]="championship.textStyle">{{ championship.year }}</td>
                <td
                  class="winner-cell"
                  [style]="championship.textStyle">
                  @for (
                    winner of championship.winners;
                    track winner.name;
                    let last = $last
                  ) {
                    <span class="winner-name">
                      {{ winner.name }}
                      @if (winner.peakRating) {
                        <span class="winner-peak-rating">({{ winner.peakRating }})</span>
                      }
                      @if (!last) {
                        <span>, </span>
                      }
                    </span>
                  }
                </td>
              </tr>
            }
          </tbody>
          <tfoot>
            <tr>
              <td
                colspan="100%"
                [class.clickable]="!seeFullJuniorTable"
                [tooltip]="
                  seeFullJuniorTable ? null : 'Show full list of junior champions'
                "
                (click)="seeFullJuniorTable = true">
                {{ seeFullJuniorTable ? '' : '. . .' }}
              </td>
            </tr>
          </tfoot>
        </table>
      </lcc-expansion-panel>

      <lcc-expansion-panel class="active-champions">
        <ng-container header>
          <h4>
            Past winners of
            <b>Active Championship</b>
            (1994&ndash;2019, 2023&ndash;2024)
          </h4>
        </ng-container>
        <table class="lcc-table">
          <thead>
            <th>Year</th>
            <th>Winner</th>
          </thead>
          <tbody>
            @for (
              championship of activeChampionships.slice(
                0,
                seeFullActiveTable ? undefined : 10
              );
              track championship.year;
              let first = $first
            ) {
              <tr>
                <td [style]="championship.textStyle">{{ championship.year }}</td>
                <td
                  class="winner-cell"
                  [style]="championship.textStyle">
                  @for (
                    winner of championship.winners;
                    track winner.name;
                    let last = $last
                  ) {
                    <span class="winner-name">
                      {{ winner.name }}
                      @if (winner.peakRating) {
                        <span class="winner-peak-rating">
                          ({{ winner.peakRating }})
                        </span>
                      }
                      @if (!last) {
                        <span>, </span>
                      }
                    </span>
                  }
                </td>
              </tr>
            }
          </tbody>
          <tfoot>
            <tr>
              <td
                colspan="100%"
                [class.clickable]="!seeFullActiveTable"
                [tooltip]="
                  seeFullActiveTable ? null : 'Show full list of active champions'
                "
                (click)="seeFullActiveTable = true">
                {{
                  seeFullActiveTable
                    ? '* peak active rating (no longer maintained)'
                    : '. . .'
                }}
              </td>
            </tr>
          </tfoot>
        </table>
      </lcc-expansion-panel>

      <lcc-expansion-panel class="speed-champions">
        <ng-container header>
          <h4>Past winners of <b>Speed Championship</b> (1993&ndash;2019)</h4>
        </ng-container>
        <table class="lcc-table">
          <thead>
            <th>Year</th>
            <th>Winner</th>
          </thead>
          <tbody>
            @for (
              championship of speedChampionships.slice(
                0,
                seeFullSpeedTable ? undefined : 10
              );
              track championship.year;
              let first = $first
            ) {
              <tr>
                <td [style]="championship.textStyle">{{ championship.year }}</td>
                <td
                  class="winner-cell"
                  [style]="championship.textStyle">
                  @for (
                    winner of championship.winners;
                    track winner.name;
                    let last = $last
                  ) {
                    <span class="winner-name">
                      {{ winner.name }}
                      @if (winner.peakRating) {
                        <span class="winner-peak-rating">
                          ({{ winner.peakRating }}*)
                        </span>
                      }
                      @if (!last) {
                        <span>, </span>
                      }
                    </span>
                  }
                </td>
              </tr>
            }
          </tbody>
          <tfoot>
            <tr>
              <td
                colspan="100%"
                [class.clickable]="!seeFullSpeedTable"
                [tooltip]="seeFullSpeedTable ? null : 'Show full list of speed champions'"
                (click)="seeFullSpeedTable = true">
                {{
                  seeFullSpeedTable
                    ? '* peak active rating (no longer maintained)'
                    : '. . .'
                }}
              </td>
            </tr>
          </tfoot>
        </table>
      </lcc-expansion-panel>
    </div>
  </div>
</section>
