<div
  class="months-grid"
  [attr.month-count]="calendarMonths.length">
  @for (calendarMonth of calendarMonths; track calendarMonth.monthYear) {
    <div
      class="month"
      [class.no-events]="!calendarMonth.hasEvents"
      [class.today-scroll-point]="calendarMonth.isCurrentMonth">
      <h3 class="month-title">{{ calendarMonth.monthYear }}</h3>
      <div class="calendar-grid">
        @for (
          dayOfWeek of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
          track dayOfWeek
        ) {
          <div class="day-header">{{ dayOfWeek }}</div>
        }

        @for (week of calendarMonth.weeks; track $index) {
          @for (day of week; track day.dateKey) {
            <div
              class="calendar-day"
              [class.other-month]="!day.isCurrentMonth"
              [class.today]="day.isCurrentMonth && day.isToday">
              <div class="day-number">{{ day.day }}</div>

              @if (day.events.length) {
                <div class="event-indicators">
                  @for (event of day.events; track event.id) {
                    <div
                      [adminControls]="isAdmin ? getAdminControlsConfig(event) : null"
                      class="event-indicator"
                      [class]="event.type | kebabCase"
                      [class.no-events]="!calendarMonth.hasEvents"
                      [class.other-month]="!day.isCurrentMonth"
                      [tooltip]="
                        day.isCurrentMonth && calendarMonth.hasEvents
                          ? eventTooltipContent
                          : null
                      "
                      [tooltipContext]="event">
                    </div>
                  }
                </div>
              }
            </div>
          }
        }
      </div>
    </div>
  }
</div>

<ng-template
  #eventTooltipContent
  let-event>
  <div class="event-tooltip">
    <header class="event-date-and-time">
      <mat-icon>calendar_month</mat-icon>
      <div>{{ event.eventDate | formatDate: 'long day-of-week' }}</div>
      <div>{{ event.eventDate | formatDate: 'long month-day-year' }}</div>
      <div>at {{ event.eventDate | formatDate: 'time' }}</div>
    </header>

    <div
      class="event-title"
      [innerHTML]="event.title | highlight: options?.search">
    </div>

    <div
      class="event-type-wrapper"
      [ngClass]="event.type | kebabCase">
      <span
        class="event-type"
        [innerHTML]="event.type | highlight: options?.search">
      </span>

      @if ((event.type | kebabCase) === 'championship') {
        <mat-icon class="championship-icon">emoji_events</mat-icon>
      }
    </div>

    <div
      class="event-details"
      [innerHTML]="event.details.replace('\\n', '\n') | highlight: options?.search">
    </div>
  </div>
</ng-template>
