/* LCC custom color palette */
$lcc-color--primary: hsl(210, 40%, 40%);
$lcc-color--accent: hsl(100, 50%, 70%);
$lcc-color--success: hsl(100, 50%, 40%);
$lcc-color--warning: hsl(0, 90%, 60%);
$lcc-color--info: hsl(210, 60%, 50%);
$lcc-color--link: hsl(210, 70%, 55%, 0.9);
$lcc-color--select: hsl(210, 100%, 80%);

$lcc-color--white: hsl(0, 0%, 95%);
$lcc-color--gray: hsl(0, 0%, 60%);
$lcc-color--black: hsl(0, 0%, 5%);

$lcc-color--text-primary: hsl(0, 0%, 5%);
$lcc-color--text-secondary: hsl(0, 0%, 60%);

$lcc-color--bg-main: hsl(0, 0%, 95%);
$lcc-color--bg-nav: hsl(0, 0%, 98%);
$lcc-color--bg-canvas: hsl(0, 0%, 97%);
$lcc-color--bg-figure: hsl(0, 0%, 32%);
$lcc-color--bg-page-header: hsl(12, 17%, 94%);

$lcc-color--transparent-fully: hsla(0, 0%, 100%, 0);
$lcc-color--transparent-mostly: hsla(0, 0%, 100%, 0.2);
$lcc-color--transparent-half: hsla(0, 0%, 100%, 0.5);
$lcc-color--box-shadow: hsla(0, 0%, 84%, 0.8);


/* Other custom LCC constants */
$lcc-app-max-width: 900px;
$lcc-app-side-padding: 12px;
$lcc-border-radius-sm: 2px;
$lcc-border-radius-lg: 5px;
$lcc-spacing: 20px;


/* Global font sizes */
$h1: 30px;
$h2: 24px;
$h3: 19px;
$h4: 14px;
$h5: 12px;
$h6: 11px;

/* Viewport breakpoint map */
$breakpoints: (
  'lt-sm': (
    max-width: 500px,
  ),
  'gt-sm': (
    min-width: 500px,
  ),
  'lt-md': (
    max-width: 699px,
  ),
  'gt-md': (
    min-width: 700px,
  ),
  'lt-lg': (
    max-width: 999px,
  ),
  'gt-lg': (
    min-width: 1000px,
  ),
  'lt-xl': (
    max-width: 1199px,
  ),
  'gt-xl': (
    min-width: 1200px,
  ),
);
