:root {
  /* Container widths & heights */
  --lcc-width--appContent: 1500px;
  --lcc-width--smallForm: 600px;

  /* Border radii */
  --lcc-borderRadius--small: 3px;
  --lcc-borderRadius--large: 5px;

  /* Font sizes */
  --lcc-fontSize--h1: 28px;
  --lcc-fontSize--h2: 22px;
  --lcc-fontSize--h3: 18px;
  --lcc-fontSize--h4: 14px;
  --lcc-fontSize--h5: 13px;
  --lcc-fontSize--h6: 11px;
}
