/* LCC custom color palette */
$lcc-primary: hsl(210, 40%, 40%);
$lcc-accent: hsl(100, 50%, 70%);
$lcc-success: hsl(100, 50%, 40%);
$lcc-warning: hsl(0, 90%, 60%);
$lcc-info: hsl(210, 60%, 50%);
$lcc-link: hsl(210, 70%, 55%, 0.9);
$lcc-select: hsl(210, 100%, 80%);

$lcc-white: hsl(0, 0%, 95%);
$lcc-gray: hsl(0, 0%, 60%);
$lcc-black: hsl(0, 0%, 5%);
$lcc-primary-text: hsl(0, 0%, 5%);
$lcc-secondary-text: hsl(0, 0%, 60%);
$lcc-fully-transparent: hsla(0, 0%, 100%, 0);
$lcc-mostly-transparent: hsla(0, 0%, 100%, 0.2);
$lcc-semi-transparent: hsla(0, 0%, 100%, 0.5);

$lcc-box-shadow: hsla(0, 0%, 84%, 0.8);

/* Global font sizes */
$h1: 30px;
$h2: 24px;
$h3: 18px;
$h4: 14px;
$h5: 12px;
$h6: 11px;

/* Viewport breakpoint map */
$breakpoints: (
  'small': (
    min-width: 400px,
  ),
  'less-than-medium': (
    max-width: 699px,
  ),
  'medium': (
    min-width: 700px,
  ),
  'large': (
    min-width: 1000px,
  ),
  'x-large': (
    min-width: 1200px,
  ),
);

/* Miscellaneous default global variables */
$lcc-input-border-radius: 2px;
$lcc-button-border-radius: 5px;
$lcc-spacing: 20px;
