<div class="container">
	<lcc-screen-header title="Documents"
										 icon="file-text">
	</lcc-screen-header>

	<table class="lcc-table documents-table">
		<thead>
			<th>Document</th>
			<th>Published</th>
			<th>Last Modified</th>
		</thead>
		<tbody>
			<tr>
				<td class="document">
					<i-feather name="file-text"></i-feather>
					<span>Club Bylaws</span>
				</td>
				<td class="published">Mon, Apr 15, 2024</td>
				<td class="last-modified">Mon, Apr 15, 2024</td>
			</tr>
			<tr>
				<td class="document">
					<i-feather name="file-text"></i-feather>
					<span>Board Meeting - DEC 12, 2023 - Minutes</span>
				</td>
				<td class="published">Mon, Apr 15, 2024</td>
				<td class="last-modified">Mon, Apr 15, 2024</td>
			</tr>
			<tr>
				<td class="document">
					<i-feather name="file-text"></i-feather>
					<span>Board Meeting - JAN 9, 2024 - Minutes</span>
				</td>
				<td class="published">Mon, Apr 15, 2024</td>
				<td class="last-modified">Mon, Apr 15, 2024</td>
			</tr>
			<tr>
				<td class="document">
					<i-feather name="file-text"></i-feather>
					<span>Board Meeting - APR 2, 2024 - Minutes</span>
				</td>
				<td class="published">Mon, Apr 15, 2024</td>
				<td class="last-modified">Mon, Apr 15, 2024</td>
			</tr>
		</tbody>
	</table>
</div>
