<clr-modal [clrModalOpen]="facade.isOpen$ | async"
					 [clrModalClosable]="false">
	<h3 class="modal-title">{{ (facade.modal$ | async)?.title }}</h3>
	<div class="modal-body">
		<p>{{ (facade.modal$ | async)?.body }}</p>
	</div>
	<div *ngIf="(facade.modal$ | async)?.buttons"
			 class="modal-footer">
		<button *ngFor="let button of (facade.modal$ | async)?.buttons"
						[ngClass]="button.style"
						(click)="facade.onSelect(button.action)">
			{{ button.text }}
		</button>
	</div>
</clr-modal>
