@import 'styles/abstracts/mixins';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 8px;
  width: 100%;
  min-width: 280px;
}

table {
  tbody {
    tr {
      &.next-event {
        background-color: var(--lcc-color--schedule-nextEventBackground) !important;
        outline: 1px solid var(--lcc-color--schedule-nextEventOutline) !important;

        .title {
          font-weight: 600;
        }
      }

      td.main-container {
        display: flex;
        flex-flow: column nowrap;
        padding: 4px;

        @include respond-to('gt-md') {
          flex-flow: row nowrap;

          .created-and-edited {
            justify-self: flex-end;
            align-self: flex-end;
          }
        }
      }

      .main-content {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: 4px;
        padding: 8px;
  
        .title {
          color: var(--lcc-color--schedule-titleText);
          line-height: normal;
          font-size: 15px !important;
          margin-bottom: 4px;
        }

        .type-container {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 8px;
          border-radius: var(--lcc-borderRadius--large);
          padding: 2px 8px;
          width: auto;

          &.blitz-tournament {
            background-color: var(--lcc-color--schedule-blitzTournamentBackground);
            border: 1px solid var(--lcc-color--schedule-blitzTournamentBorder);
          }

          &.rapid-tournament {
            background-color: var(--lcc-color--schedule-rapidTournamentBackground);
            border: 1px solid var(--lcc-color--schedule-rapidTournamentBorder);
          }

          &.active-tournament {
            background-color: var(--lcc-color--schedule-activeTournamentBackground);
            border: 1px solid var(--lcc-color--schedule-activeTournamentBorder);
          }

          &.lecture {
            background-color: var(--lcc-color--schedule-lectureTournamentBackground);
            border: 1px solid var(--lcc-color--schedule-lectureTournamentBorder);
          }

          &.simul {
            background-color: var(--lcc-color--schedule-simulBackground);
            border: 1px solid var(--lcc-color--schedule-simulBorder);
          }

          &.championship {
            background-color: var(--lcc-color--schedule-championshipBackground);
            border: 2px solid var(--lcc-color--schedule-championshipBorder);
          }

          &.other {
            background-color: var(--lcc-color--schedule-otherBackground);
            border: 1px solid var(--lcc-color--schedule-otherBorder);
          }

          &.closed {
            background-color: var(--lcc-color--schedule-closedBackground);
            border: 1px solid var(--lcc-color--schedule-closedBorder);
          }

          .award-icon {
            color: var(--lcc-color--schedule-medalIcon);
            height: 16px;
            width: 16px;
          }
        }

        .event-details {
          width: 100%;
          color: var(--lcc-color--schedule-eventDetailsText);
          padding-top: 16px;
          font-size: var(--lcc-fontSize--h4);
          font-weight: 200;
        }
      }

      .created-and-edited {
        min-width: 200px;
        align-self: flex-end;
        text-align: right;
        font-size: var(--lcc-fontSize--h6) !important;
        font-weight: 100;
        color: var(--lcc-color--schedule-createdAndEditedText);
      }
    }
  }

  td.date {
    padding: 4px 16px 0;
    
    // Minimum width needed to fit all month names on a single line
    width: 105px;
  }
}
