@if (facade.isAdmin$ | async) {
<lcc-link-list [links]="[addEventLink]"></lcc-link-list>
}

<table class="lcc-table">
	@if (shownEvents?.length) {
	<thead>
		@if (facade.isAdmin$ | async) {
		<th class="lcc-table-admin-controls-filler">
		</th>
		}
		<th class="date">Date</th>
		<th class="event">Event</th>
	</thead>
	}
	<tbody>
		@for (event of shownEvents; track event.id; let last = $last) {
		<tr class="lcc-admin-controls-container"
				[id]="event.id"
				[class.next-event]="event.id === (facade.nextEventId$ | async)"
				[ngClass]="{'last-row': last}">
			@if (facade.isAdmin$ | async) {
			<lcc-admin-controls [editPath]="'/' + NavPathTypes.EVENT + '/' + NavPathTypes.EDIT + '/' + event.id"
													[itemName]="event.title"
													(delete)="facade.onDeleteEvent(event)">
			</lcc-admin-controls>
			}
			<td class="date">{{ setLocalTime(event.eventDate) | formatDate:'long no-time' }}
			</td>
			<td class="main-container">
				<div class="main-content">
					<h4 class="title">{{ event.title }}</h4>
					<div class="type-container"
							 [ngClass]="kebabize(event.type)">
						<span class="type">{{ event.type }}</span>
						@if (kebabize(event.type) === 'championship') {
						<i-feather name="award"
											 class="award-icon">
						</i-feather>
						}
					</div>
					@if (includeDetails) {
					<p class="event-details">
						{{ event.details }}
					</p>
					}
					@if (event.associatedArticleId) {
					<a [routerLink]="'/' + NavPathTypes.ARTICLE + '/' + NavPathTypes.VIEW + '/' + event?.associatedArticleId"
						 class="lcc-link event-associated-article">
						More details
					</a>
					}
				</div>
				@if (includeDetails && (facade.isAdmin$ | async)) {
				<aside class="created-and-edited">
					Event created
					{{ event.modificationInfo?.dateCreated | formatDate:'short no-time' }}<br />
					Last edited
					{{ event.modificationInfo?.dateLastEdited | formatDate:'short no-time' }}
				</aside>
				}
			</td>
		</tr>
		}
	</tbody>
</table>

@if (allowTogglePastEvents) {
<button class="lcc-raised-button toggle-past-events-button"
				(click)="onShowHidePastEvents()">
	{{ (showPast$ | async) ? 'Hide' : 'Show' }} past events
</button>
}
