@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: $lcc-space--sm;
  width: 100%;
  min-width: 280px;
}

table {
  width: 100%;
  max-width: 1000px;

  tbody {
    tr {
      &.next-event {
        background-color: $lcc-color--bg-highlighted-event !important;
        outline: 1px solid darken($lcc-color--bg-highlighted-event, 10%) !important;

        .title {
          font-weight: 600;
        }
      }

      .details-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: $lcc-space--sm;
        padding: $lcc-space--md;
  
        .title {
          color: lighten($lcc-color--text-primary-black, 20%);
          line-height: normal;
          font-size: 15px !important;
        }

        .type {
          border-radius: $lcc-border-radius--lg;
          padding: $lcc-space--xs $lcc-space--sm;
          width: auto;

          &.blitz-tournament {
            background: lighten(rgba(red, 0.3), 40%);
            border: 1px solid rgba(red, 0.3);
          }

          &.rapid-tournament {
            background: lighten(rgba(orange, 0.3), 40%);
            border: 1px solid rgba(orange, 0.3);
          }

          &.classical-tournament {
            background: lighten(rgba(gold, 0.3), 40%);
            border: 1px solid rgba(gold, 0.3);
          }

          &.lecture {
            background: lighten(rgba(brown, 0.3), 40%);
            border: 1px solid rgba(brown, 0.3);
          }

          &.simul {
            background: lighten(rgba(green, 0.3), 40%);
            border: 1px solid rgba(green, 0.3);
          }

          &.casual {
            background: lighten(rgba(blue, 0.3), 40%);
            border: 1px solid rgba(blue, 0.3);
          }

          &.other {
            background: lighten(rgba(silver, 0.3), 40%);
            border: 1px solid rgba(silver, 0.3);
          }

          &.closed {
            background: lighten(rgba(black, 0.3), 40%);
            border: 1px solid rgba(black, 0.3);
          }
        }

        .details {
          width: 100%;
          color: $lcc-color--text-primary-black;
          padding-top: $lcc-space--md;
          font-size: $h4;
          font-weight: 200;
        }

        .created-and-edited {
          min-width: 200px;
          align-self: flex-end;
          text-align: right;
          font-size: $h6 !important;
          font-weight: 100;
          color: lighten($lcc-color--text-secondary, 10%);
        }
      }
    }
  }

  .date {
    padding-right: unset;
    
    // Minimum width needed to fit longest month and day on a single line
    width: 105px;
  }
}
