<form *ngIf="form"
			class="lcc-form"
			[formGroup]="form"
			(ngSubmit)="onSubmit()">
	<div class="lcc-form-fields">
		<label for="title-input">
			Title:
		</label>
		<input id="title-input"
					 type="text"
					 name="title"
					 formControlName="title" />
		<div class="lcc-form-error-container">
			<cds-icon *ngIf="hasError(form.controls['title'])"
								class="lcc-form-error-icon"
								shape="exclamation-triangle"
								size="md"
								[tooltip]="getErrorMessage(form.controls['title'])">
			</cds-icon>
		</div>

		<label for="subtitle-input">
			Subtitle:
		</label>
		<input id="subtitle-input"
					 type="text"
					 name="subtitle"
					 formControlName="subtitle" />
		<div class="lcc-form-error-container">
			<cds-icon *ngIf="hasError(form.controls['subtitle'])"
								class="lcc-form-error-icon"
								shape="exclamation-triangle"
								size="md"
								[tooltip]="getErrorMessage(form.controls['subtitle'])">
			</cds-icon>
		</div>

		<label for="header-image-input">Header image</label>
		<input type="file"
					 name="header-image-input"
					 #fileUploader
					 (change)="onImageChange($event)" />
		<button class="lcc-secondary-button"
						type="button"
						(click)="fileUploader.click()">
			Choose header image
		</button>
		<div class="image-preview">
			<img [src]="imagePreview"
					 [alt]="form.value.title" />
		</div>

		<label for="body-input">
			Content:
		</label>
		<input id="body-input"
					 type="text"
					 name="body"
					 formControlName="body" />
		<div class="lcc-form-error-container">
			<cds-icon *ngIf="hasError(form.controls['body'])"
								class="lcc-form-error-icon"
								shape="exclamation-triangle"
								size="md"
								[tooltip]="getErrorMessage(form.controls['body'])">
			</cds-icon>
		</div>
	</div>

	<div class="lcc-form-buttons-container">
		<button class="lcc-secondary-button"
						type="button"
						(click)="onCancel()">
			Cancel
		</button>
		<button class="lcc-primary-button"
						type="submit"
						[disabled]="form.invalid || !(facade.hasUnsavedChanges$ | async)">
			<ng-container *ngIf="facade.isEditMode$ | async; else createModeButton">Update
				article</ng-container>
			<ng-template #createModeButton>Publish article</ng-template>
		</button>
	</div>
</form>
