:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding: 8px 16px;
  box-shadow: 1px 1px 5px 2px var(--lcc-color--form-boxShadow);
  background-color: var(--lcc-color--form-background);
  border-radius: var(--lcc-borderRadius--small);

  .image-section-container {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .banner-image,
    .loading-placeholder-image {
      background-color: black;
      aspect-ratio: 3 / 2;
      object-fit: contain;
      width: 100%;
      border-radius: var(--lcc-borderRadius--large);
      max-width: 320px;
    }

    .image-controls-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-self: flex-end;

      button {
        padding: 0;
        height: 40px;
        min-width: 40px;
      }
    }
  }

  textarea {
    height: 320px;
  }

  .preview-section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 4px;
    width: 100%;

    h3 {
      align-self: flex-start;
      font-weight: 400;
      color: var(--lcc-color--articleForm-previewHeaderText);
    }

    hr {
      width: 100%;
      border-top: 1px solid var(--lcc-color--general-dividerLine);
      margin: 4px 0 16px;
    }

    .markdown-container {
      width: 100%;
      box-shadow: 1px 1px 8px 1px var(--lcc-color--articleForm-markdownPreviewBoxShadow);
      border-radius: var(--lcc-borderRadius--large);
      padding: 8px;
      overflow: hidden;
    }
  }
}
