@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  gap: $lcc-space--md;
  
  textarea {
    height: 320px;
  }
  
  .banner-image {
    aspect-ratio: 3/2;
    object-fit: cover;
    width: 100%;
    border-radius: $lcc-border-radius--lg;
    max-width: 800px;
  }

  .image-controls-container {
    display: flex;
    justify-content: start;
  }

  input[type="file"] {
    display: none;
  }
}
