<form
  class="lcc-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <div class="lcc-form-fields">
    <label class="lcc-required-field">Banner Image:</label>
    <div class="image-section-container">
      <div class="image-container">
        <img [image]="bannerImage" />
      </div>

      <div class="image-controls-container">
        <button
          class="image-explorer-button lcc-secondary-button"
          type="button"
          tooltip="Open Image Explorer"
          (click)="onOpenImageExplorer()">
          <i-feather name="image"></i-feather>
        </button>
        <button
          class="revert-button lcc-secondary-button"
          type="button"
          tooltip="Revert to original image"
          [disabled]="
            originalArticle?.bannerImageId === form.controls.bannerImageId.value
          "
          (click)="onRevertImage()">
          <i-feather name="rotate-ccw"></i-feather>
        </button>
      </div>
    </div>
    <lcc-form-error-icon [control]="form.controls.bannerImageId"></lcc-form-error-icon>

    <label
      for="title-input"
      class="lcc-required-field">
      Title:
    </label>
    <input
      id="title-input"
      type="text"
      name="title"
      formControlName="title"
      maxlength="120" />
    <lcc-form-error-icon [control]="form.controls.title"></lcc-form-error-icon>

    <label
      for="body-input"
      class="lcc-required-field">
      Content:
    </label>
    <textarea
      id="body-input"
      name="body"
      formControlName="body"
      maxlength="50000">
    </textarea>
    <lcc-form-error-icon [control]="form.controls.body"></lcc-form-error-icon>
  </div>

  <aside class="lcc-required-fields-legend">Required fields</aside>

  <div class="preview-section-container">
    @if (!!form.controls.body.value) {
      <h3>Article preview:</h3>
      <hr />
      <div class="markdown-container">
        <lcc-markdown-renderer [data]="form.controls.body.value"> </lcc-markdown-renderer>
      </div>
    }
  </div>

  @if (originalArticle?.modificationInfo; as info) {
    <lcc-modification-info [info]="info"></lcc-modification-info>
  }

  <div class="lcc-form-buttons-container">
    <button
      class="cancel-button lcc-secondary-button"
      type="button"
      (click)="onCancel()">
      Cancel
    </button>
    <button
      class="submit-button lcc-primary-button"
      type="submit"
      [disabled]="form.invalid || !hasUnsavedChanges">
      {{ originalArticle ? 'Update' : 'Publish article' }}
    </button>
  </div>
</form>
