@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  gap: 16px;
  
  textarea {
    height: 320px;
  }
  
  .lcc-banner-image-preview {
    aspect-ratio: 3/2;
    width: 90%;
    object-fit: cover;
    border-radius: $lcc-border-radius-lg;
  }

  .lcc-image-controls-container {
    display: flex;
    justify-content: start;
  }

  input[type="file"] {
    display: none;
  }
}
