<p>
  <span>
    The London Chess Club is open to players of all ages and abilities. We host regular
    blitz and rapid chess tournaments, as well as a variety of lectures, simuls and team
    competitions. Every fall we also host the London Chess Championship, a multi-section
    round-robin tournament to crown the city's next
  </span>
  <a [routerLink]="NavPathTypes.CITY_CHAMPION" class="lcc-link"> London Chess Champion</a
  >.
</p>

<section class="address-section">
  <div class="address-and-time-container">
    <div class="address">
      <i-feather name="map-pin" class="icon"> </i-feather>
      <div>
        Kiwanis Seniors' Community Centre<br />
        78 Riverside Drive, London ON
      </div>
    </div>
    <div class="time">
      <span>Thursdays, 6:00pm &ndash; 9:00pm</span>
    </div>
  </div>
  <lcc-club-map></lcc-club-map>
</section>

<section class="contact-section">
  <div class="contact-line">
    <i-feather name="mail" class="icon"> </i-feather>
    <span class="contact-line-text">
      Questions or suggestions? Email us at
      <a
        href="mailto:welcome@londonchess.ca"
        class="lcc-link"
        alt="welcome@londonchess.ca"
      >
        welcome&#64;londonchess.ca
      </a>
    </span>
  </div>

  <div class="contact-line">
    <i-feather name="instagram" class="icon"> </i-feather>
    <span class="contact-line-text">
      Follow us on
      <a
        href="https://www.instagram.com/londonchessclub_?igsh=MWxqM25sMDdzemV5aA%3D%3D&utm_source=qr"
        class="lcc-link"
      >
        Instagram
      </a>
    </span>
  </div>

  <div class="contact-line">
    <i-feather name="radio" class="icon"> </i-feather>
    <span class="contact-line-text">
      Join our
      <a href="https://bit.ly/LCC-NoticeBoard" class="lcc-link"> noticeboard </a>
      group chat on WhatsApp for all the latest club updates
    </span>
  </div>
</section>
