<div class="container">
	<p>
		The London Chess Club is open to players of all ages and abilities. We host regular
		blitz and rapid chess tournaments, as well as a variety of lectures, simuls and team
		competitions.
	</p>
	<section class="where">
		<div>Where?</div>
		<div>
			Kiwanis Seniors' Community Centre<br />
			78 Riverside Drive, London ON
		</div>
	</section>

	<section class="when">
		<div>When?</div>
		<div>Thursdays,<wbr> 6:00pm&nbsp;&ndash;&nbsp;9:00pm</div>
	</section>

	<lcc-club-map></lcc-club-map>

	<p>Questions or suggestions? We'd love to hear from you!</p>
	<p>
		<i-feather name="mail"
							 class="icon">
		</i-feather>
		<span>Email us at:</span>
		<a href="mailto:welcome@londonchess.ca"
			 class="lcc-link"
			 alt="welcome@londonchess.ca">
			welcome&#64;londonchess.ca
		</a>
	</p>

	<p>
		<i-feather name="instagram"
							 class="icon">
		</i-feather>
		<span>Follow us on:</span>
		<a href="https://www.instagram.com/londonchessclub_?igsh=MWxqM25sMDdzemV5aA%3D%3D&utm_source=qr"
			 class="lcc-link">
			Instagram
		</a>
	</p>

	<p>
		<i-feather name="radio"
							 class="icon">
		</i-feather>
		<span>Join our</span>
		<a href="https://bit.ly/LCC-NoticeBoard"
			 class="lcc-link">
			noticeboard
		</a>
		<span>group chat on WhatsApp for all the latest club updates</span>
	</p>
</div>
