@use '../../../styles/abstracts/mixins';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.icon {
  width: 20px;
  height: 20px;
}

.address-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  white-space: nowrap;

  .address-and-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--lcc-color--clubSummary-addressAndTimeContainerBorder);
    border-radius: var(--lcc-borderRadius--large);
    padding: 8px 16px;
    color: var(--lcc-color--clubSummary-addressAndTimeContainerForeground);

    @include mixins.respond-to('gt-lg') {
      gap: 32px;
      flex-direction: row;
    }

    .address {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }

    .time {
      display: flex;
      align-items: center;
    }
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .contact-line {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .icon {
    flex: none;
    margin-top: 1px;
  }
}
