footer {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  padding: 10px;
}

small {
  font-size: 60%;
}

button.btn.btn-sm.btn-link {
  height: 1.4rem;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  font-size: 80%;
}
