@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  padding: 30px 0;
  white-space: nowrap;
}

small {
  font-size: 60%;
}

a {
  font-size: $h5;
}
