@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
  background-color: $lcc-color--primary;
  padding: 2px $lcc-app-side-padding;
}

.lcc-alert-message-container {
  flex: 1;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: $lcc-app-max-width;
}

.lcc-alert-message {
  display: inline-block;
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $lcc-color--white;
  font-size: $h4;
}

.lcc-alert-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .lcc-alert-action-button {
    white-space: nowrap;
    padding: 4px;
    height: 22px;
    color: darken($lcc-color--white, 10%);
  }

  .lcc-alert-close-button {
    padding: 4px;
    color: darken($lcc-color--white, 10%);
  }
}
