@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 10px;

  ul {
    display: flex;
    flex-flow: row wrap;
    gap: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;

    li {
      width: 240px;
      height: 280px;
      padding: 6px;
      background-color: darken($lcc-color--white, 6%);
    }
  }
}
