@if ((facade.upcomingEvent$ | async); as upcomingEvent) {
<div class="container"
		 [ngClass]="kebabize(upcomingEvent.type)">
	<div class="banner-message-container">
		<a class="banner-message"
			 [routerLink]="NavPathTypes.SCHEDULE"
			 (click)="facade.onClearBanner()">
			<span>
				Next event: <b>{{ upcomingEvent.title }}</b> on
				<b>{{ setLocalTime(upcomingEvent.eventDate) | formatDate:'short' }}</b>
			</span>
		</a>
		<i-feather name="x"
							 class="close-icon"
							 (click)="facade.onClearBanner()">
		</i-feather>
	</div>
</div>
}
