@if (nextEvent$ | async; as nextEvent) {
  <div
    class="container"
    [ngClass]="nextEvent.type | kebabCase">
    <div class="banner-message-container">
      <a
        class="banner-message"
        routerLink="schedule"
        (click)="onClearBanner()">
        <span>
          Next event: <b>{{ nextEvent.title }}</b> on
          <b>{{ nextEvent.eventDate | formatDate: 'short' }}</b>
        </span>
      </a>

      <button class="lcc-icon-button">
        <i-feather
          name="x"
          class="close-icon"
          (click)="onClearBanner()">
        </i-feather>
      </button>
    </div>
  </div>
}
