@use '../../../styles/abstracts/mixins' as *;

:host {
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: center;
  padding: 2px 8px;
  border-bottom: 1px solid var(--lcc-color--upcomingEventBanner-borderBottom);

  &.blitz-tournament-10-mins {
    background-color: var(--lcc-color--upcomingEventBanner-background-blitz10Tournament);
  }

  &.rapid-tournament-25-mins {
    background-color: var(--lcc-color--upcomingEventBanner-background-rapid25Tournament);
  }

  &.rapid-tournament-40-mins {
    background-color: var(--lcc-color--upcomingEventBanner-background-rapid40Tournament);
  }

  &.lecture {
    background-color: var(--lcc-color--upcomingEventBanner-background-lecture);
  }

  &.simul {
    background-color: var(--lcc-color--upcomingEventBanner-background-simul);
  }

  &.championship {
    background-color: var(--lcc-color--upcomingEventBanner-background-championship);
  }

  &.other {
    background-color: var(--lcc-color--upcomingEventBanner-background-other);
  }

  &.closed {
    background-color: var(--lcc-color--upcomingEventBanner-background-closed);
  }
}

.banner-message-container {
  flex: 1;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: var(--lcc-width--appContent);
}

.banner-message {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--lcc-color--upcomingEventBanner-text);
  font-size: 14px;

  &:hover {
    color: var(--lcc-color--upcomingEventBanner-textOnHover);

    b {
      color: var(--lcc-color--upcomingEventBanner-boldTextOnHover);
    }
  }

  b {
    color: var(--lcc-color--upcomingEventBanner-boldText);
    font-weight: bold;
    padding: 0 2px;
  }
}

mat-icon {
  @include icon-size(18px);

  color: var(--lcc-color--upcomingEventBanner-closeIcon);

  &:hover {
    color: var(--lcc-color--upcomingEventBanner-closeIconOnHover);
  }
}
