@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
  background-color: $lcc-color--primary;
  padding: $lcc-space--xxs $lcc-space--md;
}

.alert-message-container {
  flex: 1;
  display: flex;
  gap: $lcc-space--xs;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: $lcc-width--app-content;
}

.alert-message {
  display: inline-block;
  padding: $lcc-space--xs;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: darken($lcc-color--white, 10%);
  font-size: $h4;

  span {
    color: darken($lcc-color--white, 5%);
    font-weight: bold;
    padding: 0 $lcc-space--xs;
  }
}

.alert-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .alert-action-button {
    white-space: nowrap;
    padding: $lcc-space--xs;
    height: $lcc-space--md;
    color: darken($lcc-color--white, 10%);
  }

  .alert-close-button {
    padding: 4px;
    color: darken($lcc-color--white, 10%);
  }
}
