<div class="alert-message-container">
	<p class="alert-message">
		Next event: <span>{{ (facade.nextEvent$ | async)?.title }}</span>
		on <span>{{ (facade.nextEvent$ | async)?.eventDate }}</span>
	</p>
	<div class="alert-controls">
		<button class="lcc-ghost-button alert-action-button"
						(click)="facade.onClickAction()">
			Details
		</button>
		<cds-icon class="lcc-icon-button alert-close-button"
							shape="window-close"
							size="md"
							(click)="close.emit()">
		</cds-icon>
	</div>
</div>
