@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
  background-color: lighten($lcc-color--black, 10%);
  padding: $lcc-space--xxs $lcc-space--md;
}

.alert-message-container {
  flex: 1;
  display: flex;
  gap: $lcc-space--xs;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: $lcc-width--app-content;
}

.alert-message {
  display: inline-block;
  padding: $lcc-space--xs;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: darken($lcc-color--white, 10%);
  font-size: $h4;

  span {
    color: darken($lcc-color--white, 5%);
    font-weight: bold;
    padding: 0 $lcc-space--xs;
  }
}

.alert-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: $lcc-space--xs;

  .details-button {
    white-space: nowrap;
    padding: $lcc-space--xs $lcc-space--sm;
    color: darken($lcc-color--white, 10%);
  }

  .close-icon {
    height: 18px;
    width: 18px;
    color: darken($lcc-color--white, 10%);

    &:hover {
      cursor: pointer;
      color: darken($lcc-color--white, 2%);
    }
  }
}
