<div *ngIf="(facade.upcomingEvent$ | async) as upcomingEvent"
		 class="alert-message-container">
	<p class="alert-message">
		Next event:
		<span>{{ upcomingEvent.title }}</span>
		on
		<span>{{ setLocalTime(upcomingEvent.eventDate) | formatDate:'short' }}</span>
	</p>
	<div class="alert-controls">
		<button class="lcc-ghost-button details-button"
						(click)="facade.onDetails()">
			Details
		</button>
		<i-feather name="x"
							 class="close-icon"
							 (click)="close.emit()">
		</i-feather>
	</div>
</div>
