@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
  background-color: $lcc-color--primary;
  padding: 2px $lcc-app-side-padding;
}

.alert-message-container {
  flex: 1;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: $lcc-app-width-lg;
}

.alert-message {
  display: inline-block;
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: darken($lcc-color--white, 10%);
  font-size: $h4;

  span {
    color: darken($lcc-color--white, 5%);
    font-weight: bold;
    padding: 0 4px;
  }
}

.alert-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .alert-action-button {
    white-space: nowrap;
    padding: 4px;
    height: 22px;
    color: darken($lcc-color--white, 10%);
  }

  .alert-close-button {
    padding: 4px;
    color: darken($lcc-color--white, 10%);
  }
}
