@if ((facade.upcomingEvent$ | async); as upcomingEvent) {
<div class="alert-message-container">
	<p class="alert-message">
		Next event:
		<span>{{ upcomingEvent.title }}</span>
		on
		<span>{{ setLocalTime(upcomingEvent.eventDate) | formatDate:'short' }}</span>
	</p>
	<div class="alert-controls">
		<a class="lcc-ghost-button details-button"
			 [routerLink]="NavPathTypes.SCHEDULE">
			Details
		</a>
		<i-feather name="x"
							 class="close-icon"
							 (click)="close.emit()">
		</i-feather>
	</div>
</div>
}
