@import '../../../styles/abstracts/mixins';

.overlay-content {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: var(--lcc-color--modal-background);
  border-radius: var(--lcc-borderRadius--small);
  box-shadow: 1px 1px 5px 0 var(--lcc-color--modal-boxShadow);

  @include respond-to('gt-sm') {
    width: 450px;
  }

  .close-button {
    height: 18px;
    width: 18px;
    align-self: flex-end;
    margin: 8px;

    &:hover {
      cursor: pointer;
    }
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 32px 32px;

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
  }
}
