<div class="lcc-overlay">
  <div class="overlay-content">
    <i-feather
      name="x"
      class="close-button"
      (click)="onClose()">
    </i-feather>
    <div class="modal-content">
      <div class="text-container">
        <h3>{{ (modal$ | async)?.title }}</h3>
        <p>{{ (modal$ | async)?.body }}</p>
      </div>
      @if ((modal$ | async)?.buttons) {
        <div class="action-buttons">
          @for (button of (modal$ | async)?.buttons; track button.text) {
            <button
              [ngClass]="button.style"
              (click)="onSelect(button.action)">
              {{ button.text }}
            </button>
          }
        </div>
      }
    </div>
  </div>
</div>
