@use "sass:map";

$lcc-color-palette: (
  grayscale: (
    black-2: hsl(0, 0%, 2%),
    black-5: hsl(0, 0%, 5%),
    black-10: hsl(0, 0%, 10%),
    black-15: hsl(0, 0%, 15%),
    gray-25: hsl(0, 0%, 25%),
    gray-35: hsl(0, 0%, 35%),
    gray-50: hsl(0, 0%, 50%),
    gray-65: hsl(0, 0%, 65%),
    gray-75: hsl(0, 0%, 75%),
    white-85: hsl(0, 0%, 85%),
    white-90: hsl(0, 0%, 90%),
    white-95: hsl(0, 0%, 95%),
    white-98: hsl(0, 0%, 98%),
  ),
  primary: (
    darker: hsl(210, 40%, 20%),
    dark: hsl(210, 40%, 33%),
    base: hsl(210, 40%, 40%),
    light: hsl(210, 40%, 47%),
    lighter: hsl(210, 40%, 60%),
  ),
  secondary: (
    darker: hsl(24, 73%, 38%),
    dark: hsl(24, 73%, 51%),
    base: hsl(24, 73%, 58%),
    light: hsl(24, 73%, 65%),
    lighter: hsl(24, 73%, 78%),
  ),
  success: (
    base: hsl(101, 50%, 40%),
    light: hsl(100, 50%, 60%),
  ),
  warning: (
    base: hsl(0, 90%, 50%),
    light: hsl(0, 90%, 70%),
  ),
  info: (
    base: hsl(215, 70%, 40%),
    light: hsl(215, 70%, 60%),
  ),
  select: (
    base: hsl(200, 100%, 40%),
    light: hsl(200, 100%, 60%),
  ),
  event-blitz-tournament: (
    base: hsl(5, 40%, 27%),
    light: hsl(5, 40%, 47%),
  ),
  event-rapid-tournament: (
    base: hsl(43, 74%, 50%),
    light: hsl(43, 74%, 70%),
  ),
  event-active-tournament: (
    base: hsl(107, 60%, 40%),
    light: hsl(107, 60%, 60%),
  ),
  event-lecture: (
    base: hsl(237, 40%, 36%),
    light: hsl(237, 40%, 56%),
  ),
  event-simul: (
    base: hsl(277, 69%, 32%),
    light: hsl(277, 54%, 52%),
  ),
  event-championship: (
    base: hsl(210, 40%, 40%),
    light: hsl(210, 40%, 60%),
  ),
  event-other: (
    base: hsl(0, 0%, 60%),
    light: hsl(0, 0%, 80%),
  ),
  event-closed: (
    base: hsl(0, 0%, 7%),
    light: hsl(0, 0%, 27%),
  ),
  award: (
    base: hsl(43, 74%, 49%),
  ),
  chessboard: (
    base: hsl(34, 44%, 69%),
  ),
);

@function color($color, $tone: base, $opacity: 1) {
  @if map.has-key($lcc-color-palette, $color) {
    $colorKey: map.get($lcc-color-palette, $color);

    @if map.has-key($colorKey, $tone) {
      @return rgba(map.get($colorKey, $tone), $opacity);
    }

    @warn "[LCC] Unknown tone '#{$tone}' in color '#{$color}'";
    @return null;
  }

  @warn "[LCC] Unknown color '#{$color}' in palette";
  @return null;
}
