@use 'colour-palette' as *;

:root:has(body[data-theme='dark']),
body[data-theme='dark'] {
  --lcc-color--aboutPage-addressAndTimeText: #{clr(grayscale, white-90)};
  --lcc-color--aboutPage-boardChairText: #{clr(grayscale, gray-65)};
  --lcc-color--aboutPage-cardBackground: #{clr(grayscale, black-20)};
  --lcc-color--aboutPage-cardBoxShadow: #{clr(grayscale, black-10, 0.7)};
  --lcc-color--aboutPage-cellBorder: #{clr(grayscale, black-20, 0.2)};
  --lcc-color--aboutPage-cellBackground1: #{clr(grayscale, black-15)};
  --lcc-color--aboutPage-cellBackground2: #{clr(grayscale, black-20)};
  --lcc-color--aboutPage-sectionHeaderText: #{clr(grayscale, white-98)};
  --lcc-color--aboutPage-text: #{clr(grayscale, gray-65)};

  --lcc-color--adminControls-bookmarkIcon: #{clr(secondary, base)};
  --lcc-color--adminControls-bookmarkIconOnHover: #{clr(secondary, light)};
  --lcc-color--adminControls-buttonBackground: #{clr(grayscale, gray-75)};
  --lcc-color--adminControls-buttonBackgroundOnHover: #{clr(grayscale, white-85)};
  --lcc-color--adminControls-buttonBorder: #{clr(grayscale, gray-35, 0.6)};
  --lcc-color--adminControls-deleteIcon: #{clr(warning)};
  --lcc-color--adminControls-deleteIconOnHover: #{clr(warning, light)};
  --lcc-color--adminControls-disabledButtonBackground: #{clr(grayscale, gray-75)};
  --lcc-color--adminControls-disabledButtonBorder: #{clr(grayscale, gray-65, 0.6)};
  --lcc-color--adminControls-disabledButtonIcon: #{clr(grayscale, gray-65)};
  --lcc-color--adminControls-editIcon: #{clr(primary, base)};
  --lcc-color--adminControls-editIconOnHover: #{clr(primary, light)};

  --lcc-color--adminToolbar-adminIcon: #{clr(admin, base, 0.1)};
  --lcc-color--adminToolbar-boxShadow: #{clr(grayscale, black-20, 0.7)};
  --lcc-color--adminToolbar-innerBackground: #{clr(grayscale, black-20)};
  --lcc-color--adminToolbar-outerBackground: #{clr(admin, light)};

  --lcc-color--albumForm-headerText: #{clr(grayscale, white-80)};

  --lcc-color--app-mainBackground: #{clr(grayscale, gray-25)};

  --lcc-color--article-authorText: #{clr(grayscale, white-95)};
  --lcc-color--article-bannerImageBackground: #{clr(grayscale, black-15)};
  --lcc-color--article-bannerImageHeaderBackground: #{clr(grayscale, white-98, 0.8)};
  --lcc-color--article-bannerImageHeaderText: #{clr(grayscale, black-2)};
  --lcc-color--article-dateCreatedText: #{clr(grayscale, gray-65)};
  --lcc-color--article-editorText: #{clr(grayscale, gray-65)};

  --lcc-color--articleForm-markdownPreviewBoxShadow: #{clr(grayscale, gray-25, 0.5)};
  --lcc-color--articleForm-previewHeaderText: #{clr(grayscale, gray-65)};

  --lcc-color--articleGrid-articleCreationDateText: #{clr(grayscale, gray-65)};
  --lcc-color--articleGrid-articleHeaderText: #{clr(grayscale, white-90)};
  --lcc-color--articleGrid-articleSummaryText: #{clr(grayscale, white-85)};
  --lcc-color--articleGrid-bookmarkIcon: #{clr(grayscale, white-90, 0.6)};
  --lcc-color--articleGrid-cardBackground: #{clr(primary, darker, 0.85)};
  --lcc-color--articleGrid-cardBackgroundOnHover: #{clr(primary, darker)};
  --lcc-color--articleGrid-cardDividerLine: #{clr(grayscale, gray-65, 0.5)};

  --lcc-color--basicDialog-dividerLine: #{clr(grayscale, white-80)};

  --lcc-color--button-border: #{clr(grayscale, white-95, 0.2)};
  --lcc-color--button-darkSecondaryButtonBorder: #{clr(grayscale, gray-25)};
  --lcc-color--button-darkSecondaryButtonBorderOnHover: #{clr(grayscale, black-15)};
  --lcc-color--button-darkSecondaryButtonForeground: #{clr(grayscale, gray-25)};
  --lcc-color--button-darkSecondaryButtonForegroundOnHover: #{clr(grayscale, black-2)};
  --lcc-color--button-disabledButtonBackground: #{clr(grayscale, gray-35)};
  --lcc-color--button-disabledButtonBorder: #{clr(grayscale, gray-75, 0.3)};
  --lcc-color--button-disabledButtonForeground: #{clr(grayscale, gray-75, 0.4)};
  --lcc-color--button-lightSecondaryButtonBorder: #{clr(grayscale, gray-75)};
  --lcc-color--button-lightSecondaryButtonBorderOnHover: #{clr(grayscale, white-85)};
  --lcc-color--button-lightSecondaryButtonForeground: #{clr(grayscale, gray-75)};
  --lcc-color--button-lightSecondaryButtonForegroundOnHover: #{clr(grayscale, white-85)};
  --lcc-color--button-primaryButtonBackground: #{clr(primary, base)};
  --lcc-color--button-primaryButtonBackgroundOnHover: #{clr(primary, light)};
  --lcc-color--button-primaryButtonForeground: #{clr(grayscale, white-90)};
  --lcc-color--button-raisedButtonBoxShadow: #{clr(grayscale, gray-65, 0.7)};
  --lcc-color--button-secondaryButtonBorder: #{clr(grayscale, gray-75)};
  --lcc-color--button-secondaryButtonBorderOnHover: #{clr(grayscale, white-85)};
  --lcc-color--button-secondaryButtonForeground: #{clr(grayscale, gray-75)};
  --lcc-color--button-secondaryButtonForegroundOnHover: #{clr(grayscale, white-85)};
  --lcc-color--button-warningButtonBackground: #{clr(warning)};
  --lcc-color--button-warningButtonBackgroundOnHover: #{clr(warning, light)};
  --lcc-color--button-warningButtonForeground: #{clr(grayscale, white-90)};

  --lcc-color--championPage-cellBackground: #{clr(grayscale, black-15)};
  --lcc-color--championPage-cellBorder: #{clr(grayscale, gray-50, 0.4)};
  --lcc-color--championPage-championshipIcon: #{clr(secondary, base)};
  --lcc-color--championPage-expansionHeaderBackgroundOnHover: #{clr(
      grayscale,
      gray-25,
      0.3
    )};
  --lcc-color--championPage-headerText: #{clr(grayscale, gray-75)};
  --lcc-color--championPage-primaryText: #{clr(grayscale, gray-75)};
  --lcc-color--championPage-primaryTextBold: #{clr(grayscale, white-98)};
  --lcc-color--championPage-secondaryText: #{clr(grayscale, gray-65)};

  --lcc-color--clubLinks-boxShadow: #{clr(grayscale, black-10, 0.7)};

  --lcc-color--contentPlaceholder-background: #{clr(grayscale, gray-75)};
  --lcc-color--contentPlaceholder-foreground1: #{clr(grayscale, gray-65, 0.05)};
  --lcc-color--contentPlaceholder-foreground2: #{clr(grayscale, gray-65, 0.3)};
  --lcc-color--contentPlaceholder-foreground3: #{clr(grayscale, gray-65, 0.6)};

  --lcc-color--dataToolbar-background: #{clr(primary, darker)};
  --lcc-color--dataToolbar-buttonBorder: #{clr(grayscale, gray-75)};
  --lcc-color--dataToolbar-selectedButtonBorder: #{clr(secondary, base)};
  --lcc-color--dataToolbar-text: #{clr(grayscale, white-90)};

  --lcc-color--datePicker-buttonsBackground: #{clr(primary, base, 0.4)};
  --lcc-color--datePicker-buttonsBackgroundOnHover: #{clr(primary, light, 0.4)};
  --lcc-color--datePicker-cellBorderOnHover: #{clr(grayscale, gray-75, 0.5)};
  --lcc-color--datePicker-cellBorderOnSelect: #{clr(primary, base)};
  --lcc-color--datePicker-disabledCell: #{clr(grayscale, gray-50, 0.5)};
  --lcc-color--datePicker-headerBackground: #{clr(primary, dark, 0.3)};
  --lcc-color--datePicker-headerText: #{clr(grayscale, white-80)};
  --lcc-color--datePicker-selectedDateText: #{clr(grayscale, white-80)};

  --lcc-color--dialog-background: #{clr(grayscale, white-90)};
  --lcc-color--dialog-closeIcon: #{clr(grayscale, gray-25)};
  --lcc-color--dialog-closeIconOnHover: #{clr(grayscale, black-5)};
  --lcc-color--dialog-headerBackground: #{clr(grayscale, white-85, 0.95)};
  --lcc-color--dialog-headerBorderBottom: #{clr(grayscale, gray-75)};

  --lcc-color--documentsPage-documentLabelOnHover: #{clr(primary, lighter)};
  --lcc-color--documentsPage-downloadLinkOnHover: #{clr(primary, lighter)};

  --lcc-color--documentViewer-loaderBackground: #{clr(primary, dark, 0.5)};
  --lcc-color--documentViewer-loaderBoxShadow: #{clr(grayscale, white-85, 0.7)};
  --lcc-color--documentViewer-pageBackground: #{clr(grayscale, white-85)};
  --lcc-color--documentViewer-scrollbarBackground: #{clr(grayscale, white-90)};
  --lcc-color--documentViewer-scrollbar: #{clr(grayscale, gray-65)};

  --lcc-color--figure-captionBackground: #{clr(primary, darker)};
  --lcc-color--figure-captionText: #{clr(grayscale, white-90)};

  --lcc-color--footer-background: #{clr(grayscale, black-20)};
  --lcc-color--footer-copyrightSectionBackground: #{clr(primary, darker)};
  --lcc-color--footer-copyrightSectionText: #{clr(grayscale, white-95)};
  --lcc-color--footer-dividerLine: #{clr(grayscale, gray-35, 0.5)};
  --lcc-color--footer-primaryText: #{clr(grayscale, white-85)};
  --lcc-color--footer-secondaryText: #{clr(grayscale, gray-65)};
  --lcc-color--footer-verticalSpacer: #{clr(grayscale, gray-50)};

  --lcc-color--form-background: #{clr(grayscale, black-15)};
  --lcc-color--form-boxShadow: #{clr(grayscale, black-15, 0.7)};
  --lcc-color--form-headerText: #{clr(grayscale, white-90)};
  --lcc-color--form-labelText: #{clr(grayscale, white-85)};
  --lcc-color--form-requiredFieldAsterisk: #{clr(warning, light)};
  --lcc-color--form-requiredFieldText: #{clr(grayscale, gray-75)};

  --lcc-color--formErrorIcon: #{clr(warning, light)};

  --lcc-color--gameArchivesPage-activeButtonBackground: #{clr(primary, lighter)};
  --lcc-color--gameArchivesPage-activeButtonText: #{clr(grayscale, white-98)};
  --lcc-color--gameArchivesPage-activeGamesBackground: #{clr(grayscale, black-15)};
  --lcc-color--gameArchivesPage-chartLabel: #{clr(grayscale, white-90)};
  --lcc-color--gameArchivesPage-filterContainerBackground: #{clr(grayscale, black-15)};
  --lcc-color--gameArchivesPage-filterSectionBorder: #{clr(grayscale, gray-25)};
  --lcc-color--gameArchivesPage-headerText: #{clr(grayscale, white-95)};
  --lcc-color--gameArchivesPage-labelUnderline: #{clr(secondary, darker)};
  --lcc-color--gameArchivesPage-loadingText: #{clr(grayscale, gray-65)};
  --lcc-color--gameArchivesPage-text: #{clr(grayscale, gray-65)};

  --lcc-color--general-cardBackground: #{clr(grayscale, black-20, 0.5)};
  --lcc-color--general-cardBoxShadow: #{clr(grayscale, black-10, 0.7)};
  --lcc-color--general-dividerLine: #{clr(grayscale, gray-25, 0.5)};
  --lcc-color--general-dividerLineLight: #{clr(grayscale, gray-35, 0.5)};
  --lcc-color--general-editorTextSpacer: #{clr(grayscale, gray-50)};
  --lcc-color--general-overlayLightBackdrop: #{clr(grayscale, black-20, 0.4)};
  --lcc-color--general-overlayHeavyBackdrop: #{clr(grayscale, black-10, 0.7)};
  --lcc-color--general-scrollbar: #{clr(grayscale, gray-50, 0.7)};

  --lcc-color--header-background: #{clr(primary, darker)};
  --lcc-color--header-brandingBackground: #{clr(grayscale, white-85)};
  --lcc-color--header-brandingBackgroundOnHover: #{clr(grayscale, white-95)};
  --lcc-color--header-text: #{clr(grayscale, white-85)};
  --lcc-color--header-textOnHover: #{clr(grayscale, white-95)};

  --lcc-color--homePage-articleBackground: #{clr(grayscale, black-15)};
  --lcc-color--homePage-boxShadow: #{clr(grayscale, black-10, 0.7)};
  --lcc-color--homePage-headingText: #{clr(grayscale, gray-75)};
  --lcc-color--homePage-primaryText: #{clr(grayscale, white-90)};
  --lcc-color--homePage-secondaryText: #{clr(grayscale, gray-65)};

  --lcc-color--imageExplorer-articleAppearancesText: #{clr(primary, base)};
  --lcc-color--imageExplorer-controlsHeaderBackground: #{clr(grayscale, gray-25)};
  --lcc-color--imageExplorer-gridBackground: #{clr(grayscale, white-95)};
  --lcc-color--imageExplorer-imageBackgroundOnHover: #{clr(grayscale, gray-75, 0.5)};
  --lcc-color--imageExplorer-imageBorderOnHover: #{clr(primary, base)};
  --lcc-color--imageExplorer-text: #{clr(grayscale, black-20)};

  --lcc-color--imageViewer-albumText: #{clr(grayscale, gray-35)};
  --lcc-color--imageViewer-background: #{clr(grayscale, gray-75)};
  --lcc-color--imageViewer-buttonBackground: #{clr(grayscale, gray-35, 0.6)};
  --lcc-color--imageViewer-buttonDisabledBackground: #{clr(grayscale, gray-50, 0.1)};
  --lcc-color--imageViewer-buttonDisabledBorder: #{clr(grayscale, gray-65, 0.2)};
  --lcc-color--imageViewer-buttonDisabledIcon: #{clr(grayscale, gray-65, 0.2)};
  --lcc-color--imageViewer-dividerLine: #{clr(grayscale, gray-75, 0.4)};

  --lcc-color--input-background: #{clr(grayscale, gray-25)};
  --lcc-color--input-border: #{clr(grayscale, gray-35)};
  --lcc-color--input-borderOnHover: #{clr(grayscale, gray-50)};
  --lcc-color--input-checkboxAndRadio: #{clr(primary, lighter)};
  --lcc-color--input-invalidBorder: #{clr(warning, lighter)};
  --lcc-color--input-placeholderText: #{clr(grayscale, gray-65)};
  --lcc-color--input-text: #{clr(grayscale, white-95)};

  --lcc-color--lifetimePage-blockBackground: #{clr(grayscale, black-20)};
  --lcc-color--lifetimePage-blockBoldText: #{clr(grayscale, white-98)};
  --lcc-color--lifetimePage-blockText: #{clr(grayscale, gray-75)};
  --lcc-color--lifetimePage-portraitBorder: #{clr(grayscale, gray-35, 0.3)};
  --lcc-color--lifetimePage-sectionHeaderDivider: #{clr(primary, base)};
  --lcc-color--lifetimePage-sectionHeaderText: #{clr(grayscale, white-98)};

  --lcc-color--link: #{clr(primary, lighter)};
  --lcc-color--linkDisabled: #{clr(grayscale, gray-35)};
  --lcc-color--linkOnHover: #{clr(primary, lightest)};
  --lcc-color--linkUnderline: #{clr(primary, lightest, 0.8)};

  --lcc-color--linkList-headerText: #{clr(grayscale, gray-75)};

  --lcc-color--loader: #{clr(grayscale, black-15)};

  --lcc-color--markdownRenderer-blockquoteBackground: #{clr(grayscale, gray-35, 0.4)};
  --lcc-color--markdownRenderer-blockquoteBorder: #{clr(grayscale, gray-25, 0.5)};
  --lcc-color--markdownRenderer-primaryText: #{clr(grayscale, white-95)};
  --lcc-color--markdownRenderer-secondaryText: #{clr(grayscale, gray-75)};

  --lcc-color--membersTable-cityChampionIcon: #{clr(secondary, base)};
  --lcc-color--membersTable-cityChampionIconHover: #{clr(secondary, lighter)};
  --lcc-color--membersTable-headerBackgroundOnHover: #{clr(primary, base, 0.7)};
  --lcc-color--membersTable-inactiveMemberAsterisk: #{clr(grayscale, gray-75)};
  --lcc-color--membersTable-inactiveMemberText: #{clr(grayscale, gray-65, 0.8)};
  --lcc-color--membersTable-tableControlsText: #{clr(grayscale, white-85)};

  --lcc-color--modificationInfo-background: #{clr(primary, base, 0.5)};
  --lcc-color--modificationInfo-border: #{clr(grayscale, gray-75, 0.2)};
  --lcc-color--modificationInfo-icons: #{clr(grayscale, white-85)};
  --lcc-color--modificationInfo-primaryText: #{clr(grayscale, white-85)};
  --lcc-color--modificationInfo-secondaryText: #{clr(grayscale, gray-65)};
  --lcc-color--modificationInfo-verticalSpacer: #{clr(grayscale, gray-50, 0.5)};

  --lcc-color--nav-background: #{clr(grayscale, black-15)};
  --lcc-color--nav-border: #{clr(grayscale, gray-50, 0.5)};
  --lcc-color--nav-linkForeground: #{clr(grayscale, white-85)};
  --lcc-color--nav-linkForegroundOnHover: #{clr(primary, lighter)};
  --lcc-color--nav-linkForegroundWhenActive: #{clr(grayscale, white-98)};

  --lcc-color--pgnViewer-board: #{clr(chessboard)};
  --lcc-color--pgnViewer-playerNameText: #{clr(grayscale, white-85)};

  --lcc-color--photoGrid-albumNameText: #{clr(grayscale, white-80)};
  --lcc-color--photoGrid-albumNameTextHover: #{clr(grayscale, white-98)};
  --lcc-color--photoGrid-boxShadow: #{clr(grayscale, black-10, 0.7)};
  --lcc-color--photoGrid-photoCountText: #{clr(grayscale, gray-65)};

  --lcc-color--ratingChanges-changedCellBackground: #{clr(secondary, base, 0.15)};

  --lcc-color--safeModeNotice-border: #{clr(success, base)};
  --lcc-color--safeModeNotice-icon: #{clr(success, base)};
  --lcc-color--safeModeNotice-text: #{clr(grayscale, gray-75)};

  --lcc-color--schedule-blitz10TournamentBackground: #{clr(
      event-blitz-10-tournament,
      light,
      0.5
    )};
  --lcc-color--schedule-blitz10TournamentBorder: #{clr(
      event-blitz-10-tournament,
      base,
      0.5
    )};
  --lcc-color--schedule-championshipBackground: #{clr(event-championship, light, 0.5)};
  --lcc-color--schedule-championshipBorder: #{clr(event-championship, base, 0.5)};
  --lcc-color--schedule-championshipMedalIcon: #{clr(event-championship)};
  --lcc-color--schedule-closedBackground: #{clr(event-closed, light, 0.5)};
  --lcc-color--schedule-closedBorder: #{clr(event-closed, base, 0.5)};
  --lcc-color--schedule-createdAndEditedText: #{clr(grayscale, gray-75)};
  --lcc-color--schedule-eventDetailsText: #{clr(grayscale, gray-75)};
  --lcc-color--schedule-eventType: #{clr(grayscale, white-98)};
  --lcc-color--schedule-lectureBackground: #{clr(event-lecture, light, 0.5)};
  --lcc-color--schedule-lectureBorder: #{clr(event-lecture, base, 0.5)};
  --lcc-color--schedule-nextEventText: #{clr(grayscale, white-98)};
  --lcc-color--schedule-nextEventBackgroundHighlight: #{clr(highlight, base, 0.4)};
  --lcc-color--schedule-nowLine: #{clr(schedule-now-line, base, 0.5)};
  --lcc-color--schedule-otherBackground: #{clr(event-other, light, 0.5)};
  --lcc-color--schedule-otherBorder: #{clr(event-other, base, 0.5)};
  --lcc-color--schedule-rapid25TournamentBackground: #{clr(
      event-rapid-25-tournament,
      light,
      0.5
    )};
  --lcc-color--schedule-rapid25TournamentBorder: #{clr(
      event-rapid-25-tournament,
      base,
      0.5
    )};
  --lcc-color--schedule-rapid40TournamentBackground: #{clr(
      event-rapid-40-tournament,
      light,
      0.5
    )};
  --lcc-color--schedule-rapid40TournamentBorder: #{clr(
      event-rapid-40-tournament,
      base,
      0.5
    )};
  --lcc-color--schedule-simulBackground: #{clr(event-simul, light, 0.5)};
  --lcc-color--schedule-simulBorder: #{clr(event-simul, base, 0.5)};
  --lcc-color--schedule-titleText: #{clr(grayscale, white-95)};

  --lcc-color--searchHighlight-background: #{clr(highlight, light)};
  --lcc-color--searchHighlight-text: #{clr(grayscale, black-10)};

  --lcc-color--pageHeader-adminIcon: #{clr(admin, base)};
  --lcc-color--pageHeader-asteriskText: #{clr(grayscale, gray-50)};
  --lcc-color--pageHeader-background: #{clr(grayscale, black-15)};
  --lcc-color--pageHeader-boxShadow: #{clr(grayscale, gray-25, 0.7)};
  --lcc-color--pageHeader-icon: #{clr(secondary, base)};
  --lcc-color--pageHeader-text: #{clr(grayscale, white-85)};

  --lcc-color--table-boxShadow: #{clr(grayscale, black-20, 0.7)};
  --lcc-color--table-footerForeground: #{clr(grayscale, gray-65)};
  --lcc-color--table-headerBackground: #{clr(primary, darker)};
  --lcc-color--table-headerForeground: #{clr(grayscale, white-95)};
  --lcc-color--table-rowBackgroundEven: #{clr(grayscale, gray-30)};
  --lcc-color--table-rowBackgroundOdd: #{clr(grayscale, gray-32)};
  --lcc-color--table-rowForeground: #{clr(grayscale, white-90)};

  --lcc-color--toast-boxShadow: #{clr(grayscale, gray-35, 0.7)};
  --lcc-color--toast-icon: #{clr(grayscale, black-2)};
  --lcc-color--toast-infoBackground: #{clr(info, light)};
  --lcc-color--toast-primaryText: #{clr(grayscale, black-2)};
  --lcc-color--toast-secondaryText: #{clr(grayscale, black-15)};
  --lcc-color--toast-successBackground: #{clr(success, light)};
  --lcc-color--toast-warningBackground: #{clr(warning, lightest)};

  --lcc-color--toggleSwitch-sliderBackgroundDefaultOn: #{clr(grayscale, gray-35)};
  --lcc-color--toggleSwitch-sliderBackgroundDefaultOff: #{clr(grayscale, gray-25)};
  --lcc-color--toggleSwitch-warning: #{clr(warning, lighter)};
  --lcc-color--toggleSwitch-slider: #{clr(grayscale, white-90)};

  --lcc-color--tooltip-background: #{clr(tooltip, light)};
  --lcc-color--tooltip-border: #{clr(tooltip)};
  --lcc-color--tooltip-highlightedText: #{clr(tooltip, highlighted)};
  --lcc-color--tooltip-text: #{clr(grayscale, white-90)};

  --lcc-color--upcomingEventBanner-background-blitz10Tournament: #{clr(
      event-blitz-10-tournament,
      light
    )};
  --lcc-color--upcomingEventBanner-background-championship: #{clr(
      event-championship,
      light
    )};
  --lcc-color--upcomingEventBanner-background-closed: #{clr(event-closed, light)};
  --lcc-color--upcomingEventBanner-background-lecture: #{clr(event-lecture, light)};
  --lcc-color--upcomingEventBanner-background-other: #{clr(event-other, light)};
  --lcc-color--upcomingEventBanner-background-rapid25Tournament: #{clr(
      event-rapid-25-tournament,
      light
    )};
  --lcc-color--upcomingEventBanner-background-rapid40Tournament: #{clr(
      event-rapid-40-tournament,
      light
    )};
  --lcc-color--upcomingEventBanner-background-simul: #{clr(event-simul, light)};
  --lcc-color--upcomingEventBanner-boldText: #{clr(grayscale, black-10)};
  --lcc-color--upcomingEventBanner-boldTextOnHover: #{clr(grayscale, black-2)};
  --lcc-color--upcomingEventBanner-borderBottom: #{clr(grayscale, gray-50)};
  --lcc-color--upcomingEventBanner-closeIcon: #{clr(grayscale, black-20)};
  --lcc-color--upcomingEventBanner-closeIconOnHover: #{clr(grayscale, black-2)};
  --lcc-color--upcomingEventBanner-text: #{clr(grayscale, black-20)};
  --lcc-color--upcomingEventBanner-textOnHover: #{clr(grayscale, black-2)};

  --lcc-color--userSettingsMenu-background: #{clr(grayscale, black-15)};
  --lcc-color--userSettingsMenu-boxShadow: #{clr(grayscale, gray-25, 0.7)};
  --lcc-color--userSettingsMenu-itemBackgroundOnHover: #{clr(grayscale, gray-50)};
  --lcc-color--userSettingsMenu-itemForeground: #{clr(grayscale, white-98)};
  --lcc-color--userSettingsMenu-itemTextOnHover: #{clr(grayscale, white-98)};
  --lcc-color--userSettingsMenu-userIcon: #{clr(admin, base)};
  --lcc-color--userSettingsMenu-warning: #{clr(warning, lighter)};
}
