@use 'colour-palette' as *;

// [data-theme="light"] is the default and fallback theme
:root {
  --lcc-color--aboutScreen-boardChairText: #{clr(grayscale, gray-35)};
  --lcc-color--aboutScreen-cellBorder: #{clr(grayscale, white-92)};
  --lcc-color--aboutScreen-darkCellBackground: #{clr(grayscale, white-95)};
  --lcc-color--aboutScreen-lightCellBackground: #{clr(grayscale, white-98)};
  --lcc-color--aboutScreen-sectionHeaderText: #{clr(grayscale, gray-25)};
  --lcc-color--aboutScreen-text: #{clr(grayscale, black-15)};

  --lcc-color--adminControls-buttonBackground: #{clr(grayscale, white-92)};
  --lcc-color--adminControls-buttonBackgroundOnHover: #{clr(grayscale, white-98)};
  --lcc-color--adminControls-buttonBorder: #{clr(grayscale, white-85)};
  --lcc-color--adminControls-deleteIcon: #{clr(warning)};
  --lcc-color--adminControls-deleteIconOnHover: #{clr(warning, light)};
  --lcc-color--adminControls-editIcon: #{clr(grayscale, gray-25)};
  --lcc-color--adminControls-editIconOnHover: #{clr(grayscale, black-10)};

  --lcc-color--app-mainBackground: #{clr(grayscale, white-95)};

  --lcc-color--article-authorText: #{clr(grayscale, black-15)};
  --lcc-color--article-bannerImageBackground: #{clr(grayscale, black-15)};
  --lcc-color--article-bannerImageHeaderBackground: #{clr(grayscale, white-98, 0.8)};
  --lcc-color--article-bannerImageHeaderText: #{clr(grayscale, black-2)};
  --lcc-color--article-dateCreatedText: #{clr(grayscale, gray-25)};
  --lcc-color--article-editorText: #{clr(grayscale, gray-25)};
  --lcc-color--general-editorTextSpacer: #{clr(grayscale, gray-75)};

  --lcc-color--articleForm-markdownPreviewBoxShadow: #{clr(grayscale, gray-75, 0.5)};
  --lcc-color--articleForm-previewHeaderText: #{clr(grayscale, gray-35)};

  --lcc-color--articleGrid-articleDatesPrimaryText: #{clr(grayscale, black-10)};
  --lcc-color--articleGrid-articleDatesSecondaryText: #{clr(grayscale, gray-35)};
  --lcc-color--articleGrid-articleHeaderText: #{clr(grayscale, black-10)};
  --lcc-color--articleGrid-articleSummaryText: #{clr(grayscale, gray-35)};
  --lcc-color--articleGrid-cardBackground1: #{clr(primary, base, 0.2)};
  --lcc-color--articleGrid-cardBackground2: #{clr(primary, base, 0.3)};
  --lcc-color--articleGrid-cardBackgroundOnHover: #{clr(primary, base, 0.3)};
  --lcc-color--articleGrid-cardDividerLine: #{clr(grayscale, gray-75, 0.5)};
  --lcc-color--articleGrid-stickyIcon: #{clr(grayscale, white-90, 0.6)};

  --lcc-color--button-border: #{clr(grayscale, white-95, 0.2)};
  --lcc-color--button-darkSecondaryButtonBorder: #{clr(grayscale, gray-50)};
  --lcc-color--button-darkSecondaryButtonBorderOnHover: #{clr(grayscale, black-15)};
  --lcc-color--button-darkSecondaryButtonForeground: #{clr(grayscale, gray-25)};
  --lcc-color--button-darkSecondaryButtonForegroundOnHover: #{clr(grayscale, black-2)};
  --lcc-color--button-disabledButtonBackground: #{clr(grayscale, white-90)};
  --lcc-color--button-disabledButtonBorder: #{clr(grayscale, gray-50, 0.3)};
  --lcc-color--button-disabledButtonForeground: #{clr(grayscale, gray-50, 0.4)};
  --lcc-color--button-lightSecondaryButtonBorder: #{clr(grayscale, gray-75)};
  --lcc-color--button-lightSecondaryButtonBorderOnHover: #{clr(grayscale, white-85)};
  --lcc-color--button-lightSecondaryButtonForeground: #{clr(grayscale, gray-75)};
  --lcc-color--button-lightSecondaryButtonForegroundOnHover: #{clr(grayscale, white-85)};
  --lcc-color--button-primaryButtonBackground: #{clr(primary)};
  --lcc-color--button-primaryButtonBackgroundOnHover: #{clr(primary, light)};
  --lcc-color--button-primaryButtonForeground: #{clr(grayscale, white-90)};
  --lcc-color--button-raisedButtonBoxShadow: #{clr(grayscale, gray-65, 0.7)};
  --lcc-color--button-secondaryButtonBorder: #{clr(grayscale, gray-50)};
  --lcc-color--button-secondaryButtonBorderOnHover: #{clr(grayscale, black-15)};
  --lcc-color--button-secondaryButtonForeground: #{clr(grayscale, gray-25)};
  --lcc-color--button-secondaryButtonForegroundOnHover: #{clr(grayscale, black-2)};
  --lcc-color--button-warningButtonBackground: #{clr(warning)};
  --lcc-color--button-warningButtonBackgroundOnHover: #{clr(warning, light)};
  --lcc-color--button-warningButtonForeground: #{clr(grayscale, white-90)};

  --lcc-color--championScreen-cellBackground: #{clr(grayscale, white-90)};
  --lcc-color--championScreen-cellBorder: #{clr(grayscale, white-85, 0.5)};
  --lcc-color--championScreen-historyText: #{clr(grayscale, gray-25)};
  --lcc-color--championScreen-historyTextBold: #{clr(grayscale, black-5)};
  --lcc-color--championScreen-pastWinnersHeaderText: #{clr(grayscale, black-15)};

  --lcc-color--clubSummary-addressAndTimeContainerBorder: #{clr(grayscale, white-95)};
  --lcc-color--clubSummary-addressAndTimeContainerForeground: #{clr(grayscale, black-15)};

  --lcc-color--contentPlaceholder-background: #{clr(grayscale, white-90)};
  --lcc-color--contentPlaceholder-foreground1: #{clr(grayscale, white-95, 0.05)};
  --lcc-color--contentPlaceholder-foreground2: #{clr(grayscale, white-95, 0.3)};
  --lcc-color--contentPlaceholder-foreground3: #{clr(grayscale, white-95, 0.6)};

  --lcc-color--datePicker-buttonsBackground: #{clr(primary)};
  --lcc-color--datePicker-buttonsBackgroundOnHover: #{clr(primary, light)};
  --lcc-color--datePicker-cellBorderOnHover: #{clr(grayscale, gray-75, 0.3)};
  --lcc-color--datePicker-cellBorderOnSelect: #{clr(primary, lighter)};
  --lcc-color--datePicker-disabledCell: #{clr(grayscale, gray-50, 0.5)};
  --lcc-color--datePicker-headerBackground: #{clr(primary, dark, 0.3)};
  --lcc-color--datePicker-headerText: #{clr(grayscale, black-10)};
  --lcc-color--datePicker-selectedDateText: #{clr(grayscale, black-20)};

  --lcc-color--documentsScreen-documentLabelOnHover: #{clr(primary, light)};
  --lcc-color--documentsScreen-downloadLinkOnHover: #{clr(primary, light)};
  --lcc-color--documentsScreen-pdfViewerCloseIcon: #{clr(grayscale, white-85)};
  --lcc-color--documentsScreen-pdfViewerCloseIconOnHover: #{clr(grayscale, white-95)};
  --lcc-color--documentsScreen-pdfViewerHeaderBackground: #{clr(primary, darker)};
  --lcc-color--documentsScreen-pdfViewerLoaderBackground: #{clr(grayscale, white-98)};
  --lcc-color--documentsScreen-pdfViewerLoaderBorderBottom: #{clr(primary, darker)};
  --lcc-color--documentsScreen-pdfViewerLoaderBoxShadow: #{clr(grayscale, white-85, 0.7)};
  --lcc-color--documentsScreen-pdfViewerOverlayBackground: #{clr(grayscale, black-10, 0.8)};
  --lcc-color--documentsScreen-pdfViewerPageBackground: #{clr(grayscale, gray-75)};
  --lcc-color--documentsScreen-pdfViewerScrollbarBackground: #{clr(grayscale, white-90)};
  --lcc-color--documentsScreen-pdfViewerScrollbar: #{clr(grayscale, gray-65)};

  --lcc-color--expansionPanel-contentBackground: #{clr(grayscale, white-95)};
  --lcc-color--expansionPanel-headerForeground: #{clr(grayscale, black-15)};
  --lcc-color--expansionPanel-headerBackground: #{clr(primary, lightest, 0.6)};
  --lcc-color--expansionPanel-headerBackgroundOnHover: #{clr(primary, lightest)};

  --lcc-color--figure-captionBackground: #{clr(primary, base, 0.1)};
  --lcc-color--figure-captionText: #{clr(grayscale, black-10)};

  --lcc-color--footer-background: #{clr(grayscale, white-98)};
  --lcc-color--footer-text: #{clr(grayscale, black-15)};
  --lcc-color--footer-verticalSpacer: #{clr(grayscale, gray-75)};

  --lcc-color--form-background: #{clr(grayscale, white-98)};
  --lcc-color--form-boxShadow: #{clr(grayscale, white-95, 0.7)};
  --lcc-color--form-errorIcon: #{clr(warning, lighter)};
  --lcc-color--form-headerText: #{clr(grayscale, black-10)};
  --lcc-color--form-labelText: #{clr(grayscale, black-15)};
  --lcc-color--form-requiredFieldAsterisk: #{clr(warning, light)};
  --lcc-color--form-requiredFieldText: #{clr(grayscale, black-15)};

  --lcc-color--gameArchivesScreen-chartLabel: #{clr(grayscale, black-10)};
  --lcc-color--gameArchivesScreen-filterContainerBackground: #{clr(grayscale, white-90)};
  --lcc-color--gameArchivesScreen-filterSectionBorder: #{clr(grayscale, white-80)};
  --lcc-color--gameArchivesScreen-headerText: #{clr(grayscale, black-10)};
  --lcc-color--gameArchivesScreen-labelUnderline: #{clr(secondary, light)};
  --lcc-color--gameArchivesScreen-loadingText: #{clr(grayscale, white-85)};
  --lcc-color--gameArchivesScreen-text: #{clr(grayscale, gray-25)};

  --lcc-color--general-backgroundOverlay: #{clr(grayscale, black-10, 0.8)};
  --lcc-color--general-dividerLine: #{clr(grayscale, gray-75, 0.5)};
  --lcc-color--general-dividerLineLight: #{clr(grayscale, white-85, 0.5)};
  --lcc-color--general-scrollbar: #{clr(grayscale, gray-75, 0.5)};

  --lcc-color--header-background1: #{clr(primary)};
  --lcc-color--header-background2: #{clr(primary, dark)};
  --lcc-color--header-brandingBackground: #{clr(grayscale, white-85)};
  --lcc-color--header-brandingBackgroundOnHover: #{clr(grayscale, white-95)};
  --lcc-color--header-text: #{clr(grayscale, white-85)};
  --lcc-color--header-textOnHover: #{clr(grayscale, white-95)};

  --lcc-color--homeScreen-articleBackground: #{clr(grayscale, white-98)};
  --lcc-color--homeScreen-sectionHeaderText: #{clr(grayscale, black-15)};
  --lcc-color--homeScreen-welcomeHeaderText: #{clr(grayscale, black-15)};
  --lcc-color--homeScreen-welcomeSectionText: #{clr(grayscale, gray-25)};

  --lcc-color--imageExplorer-background: #{clr(grayscale, white-95)};
  --lcc-color--imageExplorer-border: #{clr(grayscale, gray-75)};
  --lcc-color--imageExplorer-closeIcon: #{clr(grayscale, gray-25)};
  --lcc-color--imageExplorer-closeIconOnHover: #{clr(grayscale, black-5)};
  --lcc-color--imageExplorer-headerBackground: #{clr(grayscale, gray-75)};
  --lcc-color--imageExplorer-headerBorderBottom: #{clr(grayscale, gray-65)};
  --lcc-color--imageExplorer-imageBackgroundOnHover: #{clr(grayscale, gray-75, 0.5)};
  --lcc-color--imageExplorer-imageBorderOnHover: #{clr(primary, base)};
  --lcc-color--imageExplorer-text: #{clr(grayscale, black-20)};

  --lcc-color--imageOverlay-closeIcon: #{clr(grayscale, gray-25)};
  --lcc-color--imageOverlay-closeIconOnHover: #{clr(grayscale, black-5)};
  --lcc-color--imageOverlay-headerBackground: #{clr(grayscale, gray-75)};
  --lcc-color--imageOverlay-headerBorderBottom: #{clr(grayscale, gray-65)};
  --lcc-color--imageOverlay-labelBackground: #{clr(grayscale, white-98, 0.8)};
  --lcc-color--imageOverlay-labelText: #{clr(grayscale, black-10)};
  --lcc-color--imageOverlay-navigationIcons: #{clr(grayscale, white-85)};
  --lcc-color--imageOverlay-navigationIconsOnHover: #{clr(grayscale, white-95)};

  --lcc-color--input-background: #{clr(grayscale, white-98)};
  --lcc-color--input-border: #{clr(grayscale, gray-65)};
  --lcc-color--input-borderOnHover: #{clr(grayscale, gray-75)};
  --lcc-color--input-boxShadowOnHover: #{clr(primary, lightest, 0.6)};
  --lcc-color--input-checkboxAndRadio: #{clr(primary)};
  --lcc-color--input-invalidBorder: #{clr(warning, lighter)};
  --lcc-color--input-text: #{clr(grayscale, black-5)};

  --lcc-color--link: #{clr(primary, light)};
  --lcc-color--linkDisabled: #{clr(grayscale, gray-50)};
  --lcc-color--linkOnHover: #{clr(primary, lighter)};

  --lcc-color--linkList-headerText: #{clr(grayscale, gray-35)};

  --lcc-color--loadingSpinner1: #{clr(grayscale, black-2, 0.7)};
  --lcc-color--loadingSpinner2: #{clr(grayscale, black-2, 0.9)};
  --lcc-color--loadingSpinner-screenOverlay: #{clr(grayscale, black-10, 0.5)};

  --lcc-color--markdownRenderer-primaryText: #{clr(grayscale, black-15)};
  --lcc-color--markdownRenderer-secondaryText: #{clr(grayscale, gray-35)};

  --lcc-color--memberForm-safeModeNoticeBorder: #{clr(success, base)};
  --lcc-color--memberForm-safeModeNoticeIcon: #{clr(success, base)};
  --lcc-color--memberForm-safeModeNoticeText: #{clr(grayscale, black-15)};

  --lcc-color--membersTable-asideBorder: #{clr(grayscale, gray-75, 0.2)};
  --lcc-color--membersTable-asideCheckboxLabelTextOnHover: #{clr(grayscale, gray-25)};
  --lcc-color--membersTable-asideCheckboxSectionBackground: #{clr(primary, base, 0.1)};
  --lcc-color--membersTable-asideText: #{clr(grayscale, black-10)};
  --lcc-color--membersTable-headerBackgroundOnHover: #{clr(primary, light)};
  --lcc-color--membersTable-inactiveMemberAsterisk: #{clr(grayscale, gray-65)};
  --lcc-color--membersTable-inactiveMemberText: #{clr(grayscale, gray-50)};

  --lcc-color--modal-background: #{clr(grayscale, white-85)};
  --lcc-color--modal-boxShadow: #{clr(grayscale, white-85, 0.7)};

  --lcc-color--modificationInfo-background: #{clr(primary, base, 0.1)};
  --lcc-color--modificationInfo-border: #{clr(grayscale, gray-75, 0.2)};
  --lcc-color--modificationInfo-icons: #{clr(grayscale, black-5)};
  --lcc-color--modificationInfo-primaryText: #{clr(grayscale, black-5)};
  --lcc-color--modificationInfo-secondaryText: #{clr(grayscale, gray-35)};
  --lcc-color--modificationInfo-verticalSpacer: #{clr(grayscale, gray-50, 0.5)};

  --lcc-color--nav-background: #{clr(grayscale, white-98)};
  --lcc-color--nav-border: #{clr(grayscale, gray-75, 0.7)};
  --lcc-color--nav-dropdownBackground: #{clr(grayscale, white-98)};
  --lcc-color--nav-dropdownBoxShadow: #{clr(grayscale, white-90, 0.7)};
  --lcc-color--nav-dropdownItemBackgroundOnHover: #{clr(grayscale, white-95)};
  --lcc-color--nav-dropdownItemForeground: #{clr(grayscale, black-15)};
  --lcc-color--nav-dropdownItemTextOnHover: #{clr(grayscale, black-2)};
  --lcc-color--nav-linkForeground: #{clr(grayscale, black-15)};
  --lcc-color--nav-linkForegroundOnHover: #{clr(primary, light)};
  --lcc-color--nav-linkForegroundWhenActive: #{clr(grayscale, black-2)};
  --lcc-color--nav-safeModeOffAlertIcon: #{clr(warning, light)};

  --lcc-color--paginator-background: #{clr(primary, base, 0.1)};
  --lcc-color--paginator-border: #{clr(grayscale, gray-75, 0.2)};
  --lcc-color--paginator-buttonBackground: #{clr(grayscale, white-95)};
  --lcc-color--paginator-buttonBackgroundOnHover: #{clr(grayscale, white-98)};
  --lcc-color--paginator-buttonText: #{clr(grayscale, black-15)};
  --lcc-color--paginator-buttonTextOnHover: #{clr(grayscale, black-2)};
  --lcc-color--paginator-pageNumberText: #{clr(grayscale, black-10)};
  --lcc-color--paginator-selectedButtonBackground: #{clr(grayscale, white-98)};
  --lcc-color--paginator-selectedButtonBorder: #{clr(secondary)};
  --lcc-color--paginator-selectedButtonColor: #{clr(grayscale, black-2)};

  --lcc-color--pgnViewer-board: #{clr(chessboard)};
  --lcc-color--pgnViewer-playerNameText: #{clr(grayscale, white-85)};

  --lcc-color--photoGrid-imageBorder: #{clr(grayscale, white-85, 0.7)};
  --lcc-color--photoGrid-imageBorderOnHover: #{clr(grayscale, gray-75)};
  --lcc-color--photoGrid-imageBoxShadowOnHover: #{clr(grayscale, white-85, 0.7)};

  --lcc-color--schedule-activeTournamentBackground: #{clr(
      event-active-tournament,
      light,
      0.5
    )};
  --lcc-color--schedule-activeTournamentBorder: #{clr(event-active-tournament, base, 0.5)};
  --lcc-color--schedule-blitzTournamentBackground: #{clr(
      event-blitz-tournament,
      light,
      0.5
    )};
  --lcc-color--schedule-blitzTournamentBorder: #{clr(event-blitz-tournament, base, 0.5)};
  --lcc-color--schedule-championshipBackground: #{clr(event-championship, light, 0.5)};
  --lcc-color--schedule-championshipBorder: #{clr(event-championship, base, 0.5)};
  --lcc-color--schedule-championshipMedalIcon: #{clr(event-championship)};
  --lcc-color--schedule-closedBackground: #{clr(event-closed, light, 0.5)};
  --lcc-color--schedule-closedBorder: #{clr(event-closed, base, 0.5)};
  --lcc-color--schedule-createdAndEditedText: #{clr(grayscale, gray-35)};
  --lcc-color--schedule-eventDetailsText: #{clr(grayscale, black-15)};
  --lcc-color--schedule-eventType: #{clr(grayscale, black-10)};
  --lcc-color--schedule-lectureBackground: #{clr(event-lecture, light, 0.5)};
  --lcc-color--schedule-lectureBorder: #{clr(event-lecture, base, 0.5)};
  --lcc-color--schedule-nextEventBackgroundHighlight: #{clr(highlight, base, 0.5)};
  --lcc-color--schedule-nextEventText: #{clr(grayscale, black-5)};
  --lcc-color--schedule-nowLine: #{clr(schedule-now-line, base, 0.5)};
  --lcc-color--schedule-otherBackground: #{clr(event-other, light, 0.5)};
  --lcc-color--schedule-otherBorder: #{clr(event-other, base, 0.5)};
  --lcc-color--schedule-rapidTournamentBackground: #{clr(
      event-rapid-tournament,
      light,
      0.5
    )};
  --lcc-color--schedule-rapidTournamentBorder: #{clr(event-rapid-tournament, base, 0.5)};
  --lcc-color--schedule-simulBackground: #{clr(event-simul, light, 0.5)};
  --lcc-color--schedule-simulBorder: #{clr(event-simul, base, 0.5)};
  --lcc-color--schedule-titleText: #{clr(grayscale, black-5)};

  --lcc-color--screenHeader-background: #{clr(grayscale, white-95)};
  --lcc-color--screenHeader-boxShadow: #{clr(grayscale, white-85, 0.7)};
  --lcc-color--screenHeader-icon: #{clr(secondary)};
  --lcc-color--screenHeader-text: #{clr(grayscale, black-10)};
  --lcc-color--screenHeaderAsterisk-text: #{clr(grayscale, gray-35)};

  --lcc-color--table-border: #{clr(grayscale, gray-75, 0.2)};
  --lcc-color--table-footerForeground: #{clr(grayscale, gray-35)};
  --lcc-color--table-headerBackground: #{clr(primary)};
  --lcc-color--table-headerForeground: #{clr(grayscale, white-95)};
  --lcc-color--table-rowBackgroundEven: #{clr(grayscale, white-92)};
  --lcc-color--table-rowBackgroundOdd: #{clr(grayscale, white-95)};
  --lcc-color--table-rowForeground: #{clr(grayscale, black-10)};

  --lcc-color--toast-boxShadow: #{clr(grayscale, gray-65, 0.7)};
  --lcc-color--toast-icon: #{clr(grayscale, black-2)};
  --lcc-color--toast-infoBackground: #{clr(info, light)};
  --lcc-color--toast-primaryText: #{clr(grayscale, black-2)};
  --lcc-color--toast-secondaryText: #{clr(grayscale, black-15)};
  --lcc-color--toast-successBackground: #{clr(success, light)};
  --lcc-color--toast-warningBackground: #{clr(warning, lightest)};

  --lcc-color--toggleSwitch-sliderBackgroundWhenOn: #{clr(grayscale, gray-35)};
  --lcc-color--toggleSwitch-sliderBackgroundWhenOff: #{clr(grayscale, gray-25)};
  --lcc-color--toggleSwitch-slider: #{clr(grayscale, white-90)};

  --lcc-color--tooltip-background: #{clr(tooltip, light)};
  --lcc-color--tooltip-border: #{clr(tooltip)};
  --lcc-color--tooltip-text: #{clr(grayscale, white-90)};

  --lcc-color--upcomingEventBanner-background-activeTournament: #{clr(
      event-active-tournament,
      light
    )};
  --lcc-color--upcomingEventBanner-background-blitzTournament: #{clr(
      event-blitz-tournament,
      light
    )};
  --lcc-color--upcomingEventBanner-background-championship: #{clr(
      event-championship,
      light
    )};
  --lcc-color--upcomingEventBanner-background-closed: #{clr(event-closed, light)};
  --lcc-color--upcomingEventBanner-background-lecture: #{clr(event-lecture, light, 0.7)};
  --lcc-color--upcomingEventBanner-background-other: #{clr(event-other, light)};
  --lcc-color--upcomingEventBanner-background-rapidTournament: #{clr(
      event-rapid-tournament,
      light
    )};
  --lcc-color--upcomingEventBanner-background-simul: #{clr(event-simul, light)};
  --lcc-color--upcomingEventBanner-borderBottom: #{clr(grayscale, gray-50, 0.5)};
  --lcc-color--upcomingEventBanner-closeIcon: #{clr(grayscale, gray-25)};
  --lcc-color--upcomingEventBanner-closeIconOnHover: black;
  --lcc-color--upcomingEventBanner-boldText: #{clr(grayscale, black-20)};
  --lcc-color--upcomingEventBanner-boldTextOnHover: black;
  --lcc-color--upcomingEventBanner-text: #{clr(grayscale, gray-25)};
  --lcc-color--upcomingEventBanner-textOnHover: #{clr(grayscale, black-2)};
}
