// [data-theme="light"] is the default and fallback theme
:root {
  --lcc-color--aboutScreen-boardChairText: #{color(grayscale, gray-35)};
  --lcc-color--aboutScreen-cellBorder: #{color(grayscale, white-92)};
  --lcc-color--aboutScreen-darkCellBackground: #{color(grayscale, white-95)};
  --lcc-color--aboutScreen-lightCellBackground: #{color(grayscale, white-98)};
  --lcc-color--aboutScreen-sectionHeaderText: #{color(grayscale, gray-25)};
  --lcc-color--aboutScreen-text: #{color(grayscale, black-15)};

  --lcc-color--adminControls-buttonBackground: #{color(grayscale, white-92)};
  --lcc-color--adminControls-buttonBackgroundOnHover: #{color(grayscale, white-98)};
  --lcc-color--adminControls-buttonBorder: #{color(grayscale, white-85)};
  --lcc-color--adminControls-deleteIcon: #{color(warning)};
  --lcc-color--adminControls-deleteIconOnHover: #{color(warning, light)};
  --lcc-color--adminControls-editIcon: #{color(grayscale, gray-25)};
  --lcc-color--adminControls-editIconOnHover: #{color(grayscale, black-10)};

  --lcc-color--app-mainBackground: #{color(grayscale, white-95)};

  --lcc-color--article-authorText: #{color(grayscale, black-15)};
  --lcc-color--article-bannerImageBackground: #{color(grayscale, black-15)};
  --lcc-color--article-bannerImageHeaderBackground: #{color(grayscale, white-98, 0.8)};
  --lcc-color--article-bannerImageHeaderText: #{color(grayscale, black-2)};
  --lcc-color--article-dateCreatedText: #{color(grayscale, gray-25)};
  --lcc-color--article-editorText: #{color(grayscale, gray-25)};
  --lcc-color--general-editorTextSpacer: #{color(grayscale, gray-75)};

  --lcc-color--articleForm-markdownPreviewBoxShadow: #{color(grayscale, gray-75, 0.5)};
  --lcc-color--articleForm-previewHeaderText: #{color(grayscale, gray-35)};

  --lcc-color--articleGrid-articleDatesPrimaryText: #{color(grayscale, black-10)};
  --lcc-color--articleGrid-articleDatesSecondaryText: #{color(grayscale, gray-35)};
  --lcc-color--articleGrid-articleHeaderText: #{color(grayscale, black-10)};
  --lcc-color--articleGrid-articleSummaryText: #{color(grayscale, gray-35)};
  --lcc-color--articleGrid-cardBackground1: #{color(primary, base, 0.1)};
  --lcc-color--articleGrid-cardBackground2: #{color(primary, base, 0.2)};
  --lcc-color--articleGrid-cardBackgroundOnHover: #{color(primary, base, 0.2)};
  --lcc-color--articleGrid-cardDividerLine: #{color(grayscale, gray-75, 0.5)};
  --lcc-color--articleGrid-stickyIcon: #{color(grayscale, white-90, 0.6)};

  --lcc-color--button-border: #{color(grayscale, white-95, 0.2)};
  --lcc-color--button-darkSecondaryButtonBorder: #{color(grayscale, gray-50)};
  --lcc-color--button-darkSecondaryButtonBorderOnHover: #{color(grayscale, black-15)};
  --lcc-color--button-darkSecondaryButtonForeground: #{color(grayscale, gray-25)};
  --lcc-color--button-darkSecondaryButtonForegroundOnHover: #{color(grayscale, black-2)};
  --lcc-color--button-disabledButtonBackground: #{color(grayscale, white-90)};
  --lcc-color--button-disabledButtonBorder: #{color(grayscale, gray-50, 0.1)};
  --lcc-color--button-disabledButtonForeground: #{color(grayscale, gray-75, 0.4)};
  --lcc-color--button-lightSecondaryButtonBorder: #{color(grayscale, gray-75)};
  --lcc-color--button-lightSecondaryButtonBorderOnHover: #{color(grayscale, white-85)};
  --lcc-color--button-lightSecondaryButtonForeground: #{color(grayscale, gray-75)};
  --lcc-color--button-lightSecondaryButtonForegroundOnHover: #{color(grayscale, white-85)};
  --lcc-color--button-primaryButtonBackground: #{color(primary)};
  --lcc-color--button-primaryButtonBackgroundOnHover: #{color(primary, light)};
  --lcc-color--button-primaryButtonForeground: #{color(grayscale, white-90)};
  --lcc-color--button-raisedButtonBoxShadow: #{color(grayscale, gray-65, 0.7)};
  --lcc-color--button-secondaryButtonBorder: #{color(grayscale, gray-50)};
  --lcc-color--button-secondaryButtonBorderOnHover: #{color(grayscale, black-15)};
  --lcc-color--button-secondaryButtonForeground: #{color(grayscale, gray-25)};
  --lcc-color--button-secondaryButtonForegroundOnHover: #{color(grayscale, black-2)};
  --lcc-color--button-warningButtonBackground: #{color(warning)};
  --lcc-color--button-warningButtonBackgroundOnHover: #{color(warning, light)};
  --lcc-color--button-warningButtonForeground: #{color(grayscale, white-90)};
  
  --lcc-color--championScreen-cellBackground: #{color(grayscale, white-90)};
  --lcc-color--championScreen-cellBorder: #{color(grayscale, white-85, 0.5)};
  --lcc-color--championScreen-historyText: #{color(grayscale, gray-25)};
  --lcc-color--championScreen-historyTextBold: #{color(grayscale, black-5)};
  --lcc-color--championScreen-pastWinnersHeaderText: #{color(grayscale, black-15)};

  --lcc-color--clubSummary-addressAndTimeContainerBorder: #{color(grayscale, white-95)};
  --lcc-color--clubSummary-addressAndTimeContainerForeground: #{color(grayscale, black-15)};

  --lcc-color--contentPlaceholder-background: #{color(grayscale, white-90)};
  --lcc-color--contentPlaceholder-foreground1: #{color(grayscale, white-95, 0.05)};
  --lcc-color--contentPlaceholder-foreground2: #{color(grayscale, white-95, 0.3)};
  --lcc-color--contentPlaceholder-foreground3: #{color(grayscale, white-95, 0.6)};

  --lcc-color--documentsScreen-documentLabelOnHover: #{color(primary, light)};
  --lcc-color--documentsScreen-downloadLinkOnHover: #{color(primary, light)};
  --lcc-color--documentsScreen-pdfViewerCloseIcon: #{color(grayscale, white-85)};
  --lcc-color--documentsScreen-pdfViewerCloseIconOnHover: #{color(grayscale, white-95)};
  --lcc-color--documentsScreen-pdfViewerHeaderBackground: #{color(primary, darker)};
  --lcc-color--documentsScreen-pdfViewerLoaderBackground: #{color(grayscale, white-98)};
  --lcc-color--documentsScreen-pdfViewerLoaderBorderBottom: #{color(primary, darker)};
  --lcc-color--documentsScreen-pdfViewerLoaderBoxShadow: #{color(grayscale, white-85, 0.7)};
  --lcc-color--documentsScreen-pdfViewerOverlayBackground: #{color(grayscale, black-10, 0.8)};
  --lcc-color--documentsScreen-pdfViewerPageBackground: #{color(grayscale, gray-75)};
  --lcc-color--documentsScreen-pdfViewerScrollbarBackground: #{color(grayscale, white-90)};
  --lcc-color--documentsScreen-pdfViewerScrollbar: #{color(grayscale, gray-65)};

  --lcc-color--expansionPanel-contentBackground: #{color(grayscale, gray-25)};
  --lcc-color--expansionPanel-headerForeground: #{color(grayscale, black-15)};
  --lcc-color--expansionPanel-headerBackground: #{color(primary, lightest, 0.6)};
  --lcc-color--expansionPanel-headerBackgroundOnHover: #{color(primary, lightest)};

  --lcc-color--figure-captionBackground: #{color(primary, base, 0.1)};
  --lcc-color--figure-captionText: #{color(grayscale, black-10)};

  --lcc-color--footer-background: #{color(grayscale, white-98)};
  --lcc-color--footer-text: #{color(grayscale, black-15)};

  --lcc-color--form-background: #{color(grayscale, white-98)};
  --lcc-color--form-boxShadow: #{color(grayscale, white-95, 0.7)};
  --lcc-color--form-errorIcon: #{color(warning, lighter)};
  --lcc-color--form-headerText: #{color(grayscale, black-10)};
  --lcc-color--form-labelText: #{color(grayscale, black-15)};
  --lcc-color--form-requiredFieldAsterisk: #{color(warning, light)};
  --lcc-color--form-requiredFieldText: #{color(grayscale, black-15)};

  --lcc-color--imageOverlay-closeIcon: #{color(grayscale, white-85)};
  --lcc-color--imageOverlay-closeIconOnHover: #{color(grayscale, white-95)};
  --lcc-color--imageOverlay-descriptionBackground: #{color(grayscale, white-98, 0.8)};
  --lcc-color--imageOverlay-descriptionText: #{color(grayscale, black-10)};
  --lcc-color--imageOverlay-headerBackground: #{color(primary, darker)};
  --lcc-color--imageOverlay-headerBorderBottom: #{color(grayscale, black-15)};
  --lcc-color--imageOverlay-navigationIcons: #{color(grayscale, white-85)};
  --lcc-color--imageOverlay-navigationIconsOnHover: #{color(grayscale, white-95)};

  --lcc-color--gameArchivesScreen-headerText: #{color(grayscale, black-10)};
  --lcc-color--gameArchivesScreen-loadingText: #{color(grayscale, white-85)};
  --lcc-color--gameArchivesScreen-text: #{color(grayscale, gray-25)};

  --lcc-color--general-backgroundOverlay: #{color(grayscale, black-10, 0.8)};
  --lcc-color--general-dividerLine: #{color(grayscale, gray-75, 0.5)};
  --lcc-color--general-dividerLineLight: #{color(grayscale, white-85, 0.5)};
  --lcc-color--general-scrollbar: #{color(grayscale, gray-75, 0.5)};

  --lcc-color--header-background1: #{color(primary)};
  --lcc-color--header-background2: #{color(primary, base, 0.5)};
  --lcc-color--header-brandingBackground: #{color(grayscale, white-85)};
  --lcc-color--header-brandingBackgroundOnHover: #{color(grayscale, white-95)};
  --lcc-color--header-text: #{color(grayscale, white-85)};
  --lcc-color--header-textOnHover: #{color(grayscale, white-95)};
  
  --lcc-color--homeScreen-articleBackground: #{color(grayscale, white-98)};
  --lcc-color--homeScreen-sectionHeaderText: #{color(grayscale, black-15)};
  --lcc-color--homeScreen-welcomeHeaderText: #{color(grayscale, black-15)};
  --lcc-color--homeScreen-welcomeSectionText: #{color(grayscale, gray-25)};

  --lcc-color--input-background: #{color(grayscale, white-98)};
  --lcc-color--input-border: #{color(grayscale, gray-65)};
  --lcc-color--input-borderOnHover: #{color(grayscale, gray-75)};
  --lcc-color--input-boxShadowOnHover: #{color(primary, lightest, 0.6)};
  --lcc-color--input-checkboxAndRadio: #{color(primary)};
  --lcc-color--input-invalidBorder: #{color(warning, lighter)};
  --lcc-color--input-text: #{color(grayscale, black-5)};

  --lcc-color--link: #{color(primary, light)};
  --lcc-color--linkOnHover: #{color(primary, lighter)};

  --lcc-color--loadingSpinner1: #{color(grayscale, black-2, 0.7)};
  --lcc-color--loadingSpinner2: #{color(grayscale, black-2, 0.9)};
  --lcc-color--loadingSpinner-screenOverlay: #{color(grayscale, black-10, 0.5)};

  --lcc-color--markdownRenderer-primaryText: #{color(grayscale, black-15)};
  --lcc-color--markdownRenderer-secondaryText: #{color(grayscale, gray-35)};

  --lcc-color--membersTable-asideBorder: #{color(grayscale, gray-75, 0.2)};
  --lcc-color--membersTable-asideCheckboxLabelTextOnHover: #{color(grayscale, gray-25)};
  --lcc-color--membersTable-asideCheckboxSectionBackground: #{color(primary, base, 0.1)};
  --lcc-color--membersTable-asideText: #{color(grayscale, black-10)};
  --lcc-color--membersTable-headerBackgroundOnHover: #{color(primary, light)};
  --lcc-color--membersTable-inactiveMemberAsterisk: #{color(grayscale, gray-65)};
  --lcc-color--membersTable-inactiveMemberText: #{color(grayscale, gray-50)};

  --lcc-color--modal-background: #{color(grayscale, white-85)};
  --lcc-color--modal-boxShadow: #{color(grayscale, white-85, 0.7)};

  --lcc-color--modificationInfo-background: #{color(primary, base, 0.1)};
  --lcc-color--modificationInfo-border: #{color(grayscale, gray-75, 0.2)};
  --lcc-color--modificationInfo-icons: #{color(grayscale, black-5)};
  --lcc-color--modificationInfo-primaryText: #{color(grayscale, black-5)};
  --lcc-color--modificationInfo-secondaryText: #{color(grayscale, gray-35)};
  --lcc-color--modificationInfo-verticalSpacer: #{color(grayscale, gray-50, 0.5)};

  --lcc-color--nav-background: #{color(grayscale, white-98)};
  --lcc-color--nav-border: #{color(grayscale, gray-75, 0.7)};
  --lcc-color--nav-dropdownBackground: #{color(grayscale, white-98)};
  --lcc-color--nav-dropdownBoxShadow: #{color(grayscale, white-90, 0.7)};
  --lcc-color--nav-dropdownItemBackgroundOnHover: #{color(grayscale, white-95)};
  --lcc-color--nav-dropdownItemForeground: #{color(grayscale, black-15)};
  --lcc-color--nav-dropdownItemTextOnHover: #{color(grayscale, black-2)};
  --lcc-color--nav-linkForeground: #{color(grayscale, black-15)};
  --lcc-color--nav-linkForegroundOnHover: #{color(primary, light)};
  --lcc-color--nav-linkForegroundWhenActive: #{color(grayscale, black-2)};

  --lcc-color--paginator-background: #{color(primary, base, 0.1)};
  --lcc-color--paginator-border: #{color(grayscale, gray-75, 0.2)};
  --lcc-color--paginator-buttonBackground: #{color(grayscale, white-95)};
  --lcc-color--paginator-buttonBackgroundOnHover: #{color(grayscale, white-98)};
  --lcc-color--paginator-buttonText: #{color(grayscale, black-15)};
  --lcc-color--paginator-buttonTextOnHover: #{color(grayscale, black-2)};
  --lcc-color--paginator-pageNumberText: #{color(grayscale, black-10)};
  --lcc-color--paginator-selectedButtonBackground: #{color(grayscale, white-98)};
  --lcc-color--paginator-selectedButtonBorder: #{color(secondary)};
  --lcc-color--paginator-selectedButtonColor: #{color(grayscale, black-2)};
  
  --lcc-color--pgnViewer-board: #{color(chessboard)};
  --lcc-color--pgnViewer-playerNameText: #{color(grayscale, white-85)};

  --lcc-color--photoGrid-imageBorder: #{color(grayscale, white-85, 0.7)};
  --lcc-color--photoGrid-imageBorderOnHover: #{color(grayscale, gray-75)};
  --lcc-color--photoGrid-imageBoxShadowOnHover: #{color(grayscale, white-85, 0.7)};

  --lcc-color--schedule-activeTournamentBackground: #{color(event-active-tournament, light, 0.5)};
  --lcc-color--schedule-activeTournamentBorder: #{color(event-active-tournament, base, 0.5)};
  --lcc-color--schedule-blitzTournamentBackground: #{color(event-blitz-tournament, light, 0.5)};
  --lcc-color--schedule-blitzTournamentBorder: #{color(event-blitz-tournament, base, 0.5)};
  --lcc-color--schedule-championshipBackground: #{color(event-championship, light, 0.5)};
  --lcc-color--schedule-championshipBorder: #{color(event-championship, base, 0.5)};
  --lcc-color--schedule-championshipMedalIcon: #{color(event-championship)};
  --lcc-color--schedule-closedBackground: #{color(event-closed, light, 0.5)};
  --lcc-color--schedule-closedBorder: #{color(event-closed, base, 0.5)};
  --lcc-color--schedule-createdAndEditedText: #{color(grayscale, gray-35)};
  --lcc-color--schedule-eventDetailsText: #{color(grayscale, black-15)};
  --lcc-color--schedule-eventType: #{color(grayscale, black-10)};
  --lcc-color--schedule-lectureBackground: #{color(event-lecture, light, 0.5)};
  --lcc-color--schedule-lectureBorder: #{color(event-lecture, base, 0.5)};
  --lcc-color--schedule-nextEventBackgroundHighlight: #{color(highlight, base, 0.5)};
  --lcc-color--schedule-nextEventText: #{color(grayscale, black-5)};
  --lcc-color--schedule-otherBackground: #{color(event-other, light, 0.5)};
  --lcc-color--schedule-otherBorder: #{color(event-other, base, 0.5)};
  --lcc-color--schedule-rapidTournamentBackground: #{color(event-rapid-tournament, light, 0.5)};
  --lcc-color--schedule-rapidTournamentBorder: #{color(event-rapid-tournament, base, 0.5)};
  --lcc-color--schedule-simulBackground: #{color(event-simul, light, 0.5)};
  --lcc-color--schedule-simulBorder: #{color(event-simul, base, 0.5)};
  --lcc-color--schedule-titleText: #{color(grayscale, black-5)};

  --lcc-color--screenHeader-background: #{color(grayscale, white-95)};
  --lcc-color--screenHeader-boxShadow: #{color(grayscale, white-85, 0.7)};
  --lcc-color--screenHeader-icon: #{color(secondary)};
  --lcc-color--screenHeader-text: #{color(grayscale, black-10)};

  --lcc-color--table-border: #{color(grayscale, gray-75, 0.2)};
  --lcc-color--table-footerForeground: #{color(grayscale, gray-35)};
  --lcc-color--table-headerBackground: #{color(primary)};
  --lcc-color--table-headerForeground: #{color(grayscale, white-95)};
  --lcc-color--table-rowBackgroundEven: #{color(grayscale, white-92)};
  --lcc-color--table-rowBackgroundOdd: #{color(grayscale, white-95)};
  --lcc-color--table-rowForeground: #{color(grayscale, black-10)};

  --lcc-color--themeToggle-sliderBackgroundWhenOn: #{color(grayscale, gray-35)};
  --lcc-color--themeToggle-sliderBackgroundWhenOff: #{color(grayscale, gray-25)};
  --lcc-color--themeToggle-slider: #{color(grayscale, white-90)};

  --lcc-color--toast-boxShadow: #{color(grayscale, gray-65, 0.7)};
  --lcc-color--toast-icon: #{color(grayscale, black-2)};
  --lcc-color--toast-infoBackground: #{color(info, light)};
  --lcc-color--toast-primaryText: #{color(grayscale, black-2)};
  --lcc-color--toast-secondaryText: #{color(grayscale, gray-25)};
  --lcc-color--toast-successBackground: #{color(success, light)};
  --lcc-color--toast-warningBackground: #{color(warning, lightest)};

  --lcc-color--tooltip-background: #{color(tooltip, light)};
  --lcc-color--tooltip-border: #{color(tooltip)};
  --lcc-color--tooltip-text: #{color(grayscale, white-90)};

  --lcc-color--upcomingEventBanner-background-activeTournament: #{color(event-active-tournament, light)};
  --lcc-color--upcomingEventBanner-background-blitzTournament: #{color(event-blitz-tournament, light)};
  --lcc-color--upcomingEventBanner-background-championship: #{color(event-championship, light)};
  --lcc-color--upcomingEventBanner-background-closed: #{color(event-closed, light)};
  --lcc-color--upcomingEventBanner-background-lecture: #{color(event-lecture, light, 0.7)};
  --lcc-color--upcomingEventBanner-background-other: #{color(event-other, light)};
  --lcc-color--upcomingEventBanner-background-rapidTournament: #{color(event-rapid-tournament, light)};
  --lcc-color--upcomingEventBanner-background-simul: #{color(event-simul, light)};
  --lcc-color--upcomingEventBanner-borderBottom: #{color(grayscale, gray-50, 0.5)};
  --lcc-color--upcomingEventBanner-closeIcon: #{color(grayscale, gray-25)};
  --lcc-color--upcomingEventBanner-closeIconOnHover: black;
  --lcc-color--upcomingEventBanner-boldText: #{color(grayscale, black-20)};
  --lcc-color--upcomingEventBanner-boldTextOnHover: black;
  --lcc-color--upcomingEventBanner-text: #{color(grayscale, gray-25)};
  --lcc-color--upcomingEventBanner-textOnHover: #{color(grayscale, black-2)};
}
