<div class="container">
	<lcc-screen-header title="City Champion"
										 iconShape="award">
	</lcc-screen-header>

	<section class="grid-container">
		<article class="cup">
			<figure class="lcc-figure cup-figure">
				<img src="assets/london-chess-champion/championship-cup.jpg"
						 alt="Championship Cup" />
				<figcaption>The Championship Cup</figcaption>
			</figure>
		</article>

		<article class="champion-2023">
			<figure class="lcc-figure 2023-champion-figure">
				<img src="assets/london-chess-champion/2023-champion.png"
						 alt="2023 London Chess Champion" />
				<figcaption>
					2023&nbsp;London Chess&nbsp;Champion<br />
					<b>Serhii Ivanchuk</b>
				</figcaption>
			</figure>
		</article>

		<article class="trophies-2023">
			<figure class="lcc-figure 2023-championship-trophies">
				<img src="assets/london-chess-champion/2023-championship-trophies.png"
						 alt="2023 Championship Trophies" />
				<figcaption>2023 Championship Trophies</figcaption>
			</figure>
		</article>

		<article class="champion-2019">
			<figure class="lcc-figure 2019-champion-figure">
				<img src="assets/london-chess-champion/2019-champion.jpg"
						 alt="2019 London Chess Champion" />
				<figcaption>
					2019&nbsp;London Chess&nbsp;Champion<br />
					<b>Kevin Gibson</b>
				</figcaption>
			</figure>
		</article>

		<article class="championship-match-2022">
			<figure class="lcc-figure 2022-championship-match-figure">
				<img src="assets/london-chess-champion/2022-championship-match.png"
						 alt="2022 Championship Match" />
				<figcaption>
					2022&nbsp;Championship&nbsp;Match<br />
					<b>Carl Ehrman</b> vs. <b>Geoffrey Ruelland</b>
				</figcaption>
			</figure>
		</article>

		<article class="history">
			<p>
				Every fall, chess players from around London and the surrounding region gather
				to compete for the title of <b>London Chess Champion</b>.
			</p>
			<p>
				Peter Murray won the inaugural tournament in 1967, and defended his title the
				following year. Since then, the trophy has changed hands over 20 times, with 17
				different players crowned champion to date.
			</p>
			<p>
				In 2019, Kevin Gibson (2296) defeated Steve Demmery (2230) to retain his title and
				the city could not have asked for a better spectacle! The match was drawn after
				three rounds, meaning a win in round 4 could clinch the victory for either player.
				Gibson did just that, winning his 5th <i>(!!)</i> consecutive title, and 8th
				total.
			</p>
			<p>
				In 2022, the club re-opened its doors after the pandemic and saw another fantastic
				Championship match up, this time between Carl Ehrman (2087) and Geoffrey Ruelland
				(2162). The match was tied 1.5-1.5 after 3 rounds, but it was Ruelland who
				ultimately came out ahead in round 4 and crowned City Champion on December 22nd,
				2022.
			</p>
			<p>
				The 2023 Championship Match (Section A) was between Sasha Chen (2000) and
				<b>Serhii Ivanchuk (2148)</b>. Serhii Ivanchuk emerged victorious among a roster
				of the best players at the London Chess Club. His record in the round-robin
				was 6.5/7, with a single draw against Section A2 runner-up, Michael Lippai. His
				opponent in the finals was Section A1 winner, Sasha Chen. Sasha had defeated
				runner-up Rene Bartar with black in the final game to clinch the qualification to
				the finals. Serhii clinically won with a 3-1 score and performed at a 2200 level.
				His overall record was 9 wins, 1 draw, and 1 loss. Congratulations!
			</p>
		</article>

		<article class="past-winners">
			<h3>Past winners</h3>
			<table class="lcc-table">
				<thead>
					<th>Year</th>
					<th>Winner</th>
				</thead>
				<tbody>
					<tr *ngFor="let championship of pastChampionships">
						<td [style]="championship.style">{{ championship.year }}</td>
						<td [style]="championship.style">{{ championship.winner }}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="100%">
							Club formed c.1965
						</td>
					</tr>
				</tfoot>
			</table>
		</article>
	</section>

	<lcc-link-list [links]="links"></lcc-link-list>
</div>
