@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

@mixin dark-bg {
  background-color: darken($lcc-color--bg-grid-item, 2%);
  border: 2px solid darken($lcc-color--bg-grid-item, 4%);
}

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: $lcc-space--sm;
  margin: auto;
  width: 100%;
  max-width: $lcc-width--app-content;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'history'
    'champ-2023'
    'trophies-2023'
    'cup'
    'champ-2022'
    'champ-2019'
    'past-winners';
  gap: $lcc-space--xs;

  @include respond-to('gt-sm') {
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-areas:
      'history history history'
      'champ-2023 trophies-2023 trophies-2023'
      'champ-2022 cup champ-2019'
        'past-winners past-winners past-winners';
    }

  @include respond-to('gt-lg') {
    grid-template-columns: 3fr 2fr 2fr 2fr;
    grid-template-areas:
    'history history history past-winners'
    'champ-2023 trophies-2023 trophies-2023 past-winners'
    'champ-2022 cup champ-2019 past-winners'
    '. . . past-winners'
  }

  article {
    place-self: stretch;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: $lcc-space--sm;
    background-color: lighten($lcc-color--bg-grid-item, 2%);

    @include respond-to('gt-sm') {
      border-radius: $lcc-border-radius--sm;

      img {
        max-height: 350px;
      }
    }

    &.history {
      grid-area: history;
      padding: $lcc-space--md;
      align-items: flex-start;

      p {
        margin: 0.5em 0;
      }
    }

    &.cup {
      grid-area: cup;
      @include dark-bg;

      @include respond-to('lt-sm') {
        margin: 0 $lcc-space--xs;
        border-radius: $lcc-border-radius--lg;
      }
    }
    
    &.past-winners {
      grid-area: past-winners;
      padding: $lcc-space--md;

      h3 {
        width: 100%;
        text-align: left;
        padding: $lcc-space--xxs;
        border-bottom: 1px solid lighten($lcc-color--grey, 20%);
        margin-bottom: 0.5em;
      }

      table {
        min-width: 350px;

        tfoot tr td {
          text-align: center;
        }
      }
    }

    &.champion-2023 {
      grid-area: champ-2023;
      @include dark-bg;

      @include respond-to('lt-sm') {
        margin: 0 $lcc-space--xs;
        border-radius: $lcc-border-radius--lg;
      }
    }

    &.trophies-2023 {
      grid-area: trophies-2023;
      @include dark-bg;

      @include respond-to('lt-sm') {
        margin: 0 $lcc-space--xs;
        border-radius: $lcc-border-radius--lg;
      }
    }
    
    &.champion-2019 {
      grid-area: champ-2019;
      @include dark-bg;

      @include respond-to('lt-sm') {
        margin: 0 $lcc-space--xs;
        border-radius: $lcc-border-radius--lg;
      }
    }

    &.championship-match-2022 {
      grid-area: champ-2022;
      @include dark-bg;

      @include respond-to('lt-sm') {
        margin: 0 $lcc-space--xs;
        border-radius: $lcc-border-radius--lg;
      }
    }
  }
}
