<div class="lcc-canvas">
	<lcc-screen-header [title]="'London Chess Champion'"
										 [iconShape]="'crown'">
	</lcc-screen-header>

	<section class="lcc-grid">
		<article class="lcc-grid-item-1 lcc-darker-grid-item">
			<figure class="lcc-figure cup-figure">
				<img src="assets/london-chess-champion/championship-cup.jpg"
						 alt="Championship Cup" />
				<figcaption>The Championship Cup</figcaption>
			</figure>
		</article>

		<article class="lcc-grid-item-2">
			<p>
				Every fall, chess players from around London and the surrounding region gather
				to compete for the city's most coveted chess prize:
				<b>the Championship Cup</b>.
			</p>
			<p>
				Peter Murray won the inaugural tournament in 1967, and defended his title the
				following year. Since then, the trophy has changed hands over 20 times, with 17
				different players having been crowned <b>London Chess Champion</b> to date.
			</p>
			<p>
				In 2019, <b>Kevin Gibson (2296)</b> defeated Steve Demmery (2230) to retain his
				title as London Champion. The city could not have asked for a better spectacle:
				the match was drawn after three rounds, meaning a win in round 4 could clinch
				the victory for either player. Kevin did just that, winning his <b>5th <i>(!!)</i>
					consecutive title</b>, and 8th total.
			</p>
		</article>

		<article class="lcc-grid-item-3">
			<p>
				The London Chess Championship was canceled in 2020 and 2021 due to the pandemic,
				but 2022 will more than make up for it. <b>50 players</b> are currently
				participating in the event &mdash; more than ever before in its entire 55-year
				history!
			</p>
			<p>
				Players are split into 3 sections by rating, with each section comprising
				of two groups. Section A and B groups play an 8-player round robin, whereas
				Section C groups have 9 players each, thus completing this phase of the tournament
				one week later.
			</p>
			<p>
				Winners and runner-ups from each group will then play each other in a 4-game
				playoff to determine the winners for each section. The winner of Section B gets
				automatically bumped up to Section A next year. The winner of Section A is crowned
				the new London Chess Champion. For more information, please speak to
				tournament director Gerry Litchfield, or visit our
				<a class="lcc-link"
					 (click)="facade.onNavigate(NavPathTypes.SCHEDULE)">
					schedule</a> page.
			</p>
		</article>

		<article class="lcc-grid-item-4 lcc-darker-grid-item">
			<figure class="lcc-figure champion-2019-figure">
				<img src="assets/london-chess-champion/2019-champion.jpg"
						 alt="2019 London Chess Champion" />
				<figcaption>
					2019&nbsp;London Chess&nbsp;Champion<br />
					<b>Kevin Gibson</b>
				</figcaption>
			</figure>
		</article>

		<article class="lcc-grid-item-5 lcc-darker-grid-item">
			<figure class="lcc-figure crosstable-figure">
				<img src="assets/london-chess-champion/2019-championship-crosstable.png"
						 alt="2019 Championship Crosstable"
						 class="lcc-gt-sm" />
				<img src="assets/london-chess-champion/2019-championship-crosstable--narrow.png"
						 alt="2019 Championship Crosstable"
						 class="lcc-lt-sm" />
				<figcaption>2019&nbsp;Championship &mdash; Final&nbsp;Results</figcaption>
			</figure>
		</article>

		<hr class="lcc-grid-item-6" />

		<article class="lcc-grid-item-7 links">
			<lcc-link-list [links]="links"></lcc-link-list>
		</article>
	</section>
</div>
