:host {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100%;
  width: 100%;
  border: 2px solid var(--lcc-color--imageExplorer-border);
  border-radius: var(--lcc-borderRadius--small);
  background-color: var(--lcc-color--imageExplorer-background);
}

header {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: var(--lcc-color--imageExplorer-headerBackground);
  border-bottom: 2px solid var(--lcc-color--imageExplorer-headerBorderBottom);

  .close-icon {
    margin: 0 4px 0 auto;
    background-color: inherit;
    height: 24px;
    width: 24px;
    color: var(--lcc-color--imageExplorer-closeIcon);

    &:hover {
      cursor: pointer;
      color: var(--lcc-color--imageExplorer-closeIconOnHover);
    }
  }
}

.grid-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 8px;
  overflow: auto;
  padding: 8px;

  .image-wrapper {
    padding: 4px;
    border-radius: var(--lcc-borderRadius--large);
    border: 2px solid transparent;

    &:hover {
      cursor: pointer;
      background-color: var(--lcc-color--imageExplorer-imageBackgroundOnHover);
      border-color: var(--lcc-color--imageExplorer-imageBorderOnHover);
    }

    img,
    .loading-placeholder-image {
      aspect-ratio: 3 / 2;
      border-radius: var(--lcc-borderRadius--large);
      width: 100%;
    }

    .thumbnail-file-size,
    .upload-date,
    .article-appearances {
      font-size: 13px;
      color: var(--lcc-color--imageExplorer-text);

      label {
        font-weight: bold;
        margin-right: 0.5em;
      }

      b {
        margin: 0.3em;
      }
    }
  }
}
