@for (image of images$ | async; track image.id) {
  <div
    class="image-card-container"
    [class.selectable]="selectable"
    [adminControls]="getAdminControlsConfig(image)"
    (click)="selectable ? dialogResult.emit(image.id) : null">
    <div class="image-container">
      <img [image]="image" />
    </div>

    <div class="caption">
      <label>Caption:</label>
      <span class="lcc-truncate">{{ image.caption }}</span>
    </div>

    <div class="filename">
      <label>Filename:</label>
      <span class="lcc-truncate">{{ image.filename }}</span>
    </div>

    @if (image.fileSize) {
      <div class="file-size">
        <label>File size:</label>
        <span class="lcc-truncate">{{ image.fileSize | formatBytes }}</span>
      </div>
    }

    @if (image.width && image.height) {
      <div class="dimensions">
        <label>Dimensions:</label>
        <span class="lcc-truncate">{{ image.width }} x {{ image.height }} px</span>
      </div>
    }

    <div class="upload-date">
      <label>Upload date:</label>
      <span class="lcc-truncate">
        {{ image.modificationInfo.dateCreated | formatDate: 'short' }}
      </span>
    </div>

    <div class="albums">
      <label>Album(s):</label>
      <span class="lcc-truncate-max-2-lines">
        {{ image.albums.join(', ') }}
      </span>
    </div>

    @if (image?.articleAppearances; as num) {
      <div class="article-appearances">
        <span>(Used in</span>
        <b>{{ num }}</b>
        <span>{{ num! > 1 ? 'articles' : 'article' }})</span>
      </div>
    }
  </div>
}
