@if (viewModel$ | async; as vm) {
  <lcc-admin-toolbar [adminLinks]="[addImageLink]"></lcc-admin-toolbar>

  <lcc-data-toolbar
    entity="images"
    [filteredCount]="vm.filteredCount"
    [options]="vm.options"
    searchPlaceholder="Search by caption, filename or album"
    (optionsChange)="onOptionsChange($event)"
    (optionsChangeNoFetch)="onOptionsChange($event, false)">
  </lcc-data-toolbar>

  <div class="image-grid-wrapper">
    <div
      class="image-grid"
      [attr.card-count]="vm.images.length"
      cdkScrollable>
      @for (image of vm.images; track image.id) {
        <div
          class="image-card"
          [class.selectable]="selectable"
          [adminControls]="getAdminControlsConfig(image)"
          (click)="selectable ? dialogResult.emit(image.id) : null">
          <div class="image-container">
            <img [image]="image" />
          </div>

          <div class="caption">
            <label>Caption:</label>
            <span
              class="lcc-truncate"
              [innerHTML]="image.caption | highlight: vm.options.search">
            </span>
          </div>

          <div class="filename">
            <label>Filename:</label>
            <span
              class="lcc-truncate"
              [innerHTML]="image.filename | highlight: vm.options.search">
            </span>
          </div>

          @if (image.mainFileSize) {
            <div class="file-size">
              <label>File size:</label>
              <span class="lcc-truncate">
                {{ image.mainFileSize | formatBytes }}
              </span>
            </div>
          }

          @if (image.mainWidth && image.mainHeight) {
            <div class="dimensions">
              <label>Dimensions:</label>
              <span class="lcc-truncate">
                {{ image.mainWidth }} x {{ image.mainHeight }} px
              </span>
            </div>
          }

          <div class="upload-date">
            <label>Upload date:</label>
            <span class="lcc-truncate">
              {{ image.modificationInfo.dateCreated | formatDate: 'short' }}
            </span>
          </div>

          <div class="album">
            <label>Album:</label>
            <span
              class="lcc-truncate-max-2-lines"
              [innerHTML]="image.album | highlight: vm.options.search">
            </span>
          </div>

          @if (image?.articleAppearances; as num) {
            <div class="article-appearances">
              <span>(Used in</span>
              <b>{{ num }}</b>
              <span>{{ num! > 1 ? 'articles' : 'article' }})</span>
            </div>
          }
        </div>
      }
    </div>
  </div>
}
