:host {
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  background-color: var(--lcc-color--expansionPanel-headerBackground);
  border-top-left-radius: var(--lcc-borderRadius--large);
  border-top-right-radius: var(--lcc-borderRadius--large);

  ::ng-deep * {
    color: var(--lcc-color--expansionPanel-headerForeground);
  }

  &:not(.isOpen) {
    filter: grayscale(40%);
    border-bottom-left-radius: var(--lcc-borderRadius--large);
    border-bottom-right-radius: var(--lcc-borderRadius--large);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--lcc-color--expansionPanel-headerBackgroundOnHover);
  }
}

.content-container {
  background-color: var(--lcc-color--expansionPanel-contentBackground);
  border-bottom-left-radius: var(--lcc-borderRadius--large);
  border-bottom-right-radius: var(--lcc-borderRadius--large);
  margin-bottom: 16px;
}
