<div class="lcc-canvas container">
	<header class="lcc-screen-header">
		Photo Gallery
		<cds-icon shape="image-gallery"
							size="sm">
		</cds-icon>
	</header>

	<section class="photos-section">
		<img *ngFor="let n of numSequence(16); let i = index;"
				 [src]="'assets/photos/' + (i + 1) + '-thumbnail.jpg'"
				 (click)="facade.onClickImage(i + 1)" />
	</section>

	<section class="links-section">
		<ul class="links">
			<li *ngFor="let link of links">
				<a [href]="link.url"
					 class="lcc-link"
					 alt="link.alt"
					 target="_blank">
					<cds-icon shape="camera"
										size="sm">
					</cds-icon>
					{{ link.text }}
				</a>
			</li>
		</ul>
	</section>
</div>
