.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 8px;
  margin: auto;
  max-width: var(--lcc-width--appContent);
}

hr {
  width: 100%;
  border-top: 1px solid var(--lcc-color--general-dividerLine);
  margin-top: 16px;
}
