@import 'styles/abstracts/variables';

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: $lcc-space--sm;
  margin: auto;
  max-width: $lcc-width--app-content;
}

hr {
  width: 100%;
  border-top: 1px solid $lcc-color--fg-divider;
  margin-top: $lcc-space--md;
}
