:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

form {
  max-width: var(--lcc-width--smallForm);
}

.details-textarea {
  height: 100px;
}

hr {
  width: 100%;
  border-top: 1px solid var(--lcc-color--general-dividerLine);
  margin: 1em 0;
}
