<form
  class="lcc-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <div class="lcc-form-fields">
    <label
      for="event-date-input"
      class="lcc-required-field">
      Event date:
    </label>
    <lcc-date-picker
      id="event-date-input"
      name="event-date"
      formControlName="eventDate">
    </lcc-date-picker>
    <lcc-form-error-icon [control]="form.controls.eventDate"></lcc-form-error-icon>

    <label
      for="event-time-input"
      class="lcc-required-field">
      Event time:
    </label>
    <input
      id="event-time-input"
      type="text"
      name="event-time"
      formControlName="eventTime"
      maxlength="8" />
    <lcc-form-error-icon [control]="form.controls.eventTime"></lcc-form-error-icon>

    <label
      for="title-input"
      class="lcc-required-field">
      Title:
    </label>
    <input
      id="title-input"
      type="text"
      name="title"
      formControlName="title"
      maxlength="100" />
    <lcc-form-error-icon [control]="form.controls.title"></lcc-form-error-icon>

    <label
      for="details-input"
      class="lcc-required-field">
      Details:
    </label>
    <textarea
      id="details-input"
      class="details-textarea"
      name="details"
      formControlName="details"
      maxlength="200">
    </textarea>
    <lcc-form-error-icon [control]="form.controls.details"></lcc-form-error-icon>

    <label
      for="type-input"
      class="lcc-required-field">
      Event type:
    </label>
    <fieldset class="event-type-fieldset">
      <div>
        <input
          type="radio"
          id="blitz-10-input"
          name="type"
          formControlName="type"
          value="blitz tournament (10 mins)"
          [checked]="form.value.type === 'blitz tournament (10 mins)'" />
        <label for="blitz-10-input">Blitz tournament (10 minutes)</label>
      </div>
      <div>
        <input
          type="radio"
          id="rapid-25-input"
          name="type"
          formControlName="type"
          value="rapid tournament (25 mins)"
          [checked]="form.value.type === 'rapid tournament (25 mins)'" />
        <label for="rapid-25-input">Rapid tournament (25 minutes)</label>
      </div>
      <div>
        <input
          type="radio"
          id="rapid-40-input"
          name="type"
          formControlName="type"
          value="rapid tournament (40 mins)"
          [checked]="form.value.type === 'rapid tournament (40 mins)'" />
        <label for="rapid-40-input">Rapid tournament (40 minutes)</label>
      </div>
      <div>
        <input
          type="radio"
          id="lecture-input"
          name="type"
          formControlName="type"
          value="lecture"
          [checked]="form.value.type === 'lecture'" />
        <label for="lecture-input">Lecture</label>
      </div>
      <div>
        <input
          type="radio"
          id="simul-input"
          name="type"
          formControlName="type"
          value="simul"
          [checked]="form.value.type === 'simul'" />
        <label for="simul-input">Simul</label>
      </div>
      <div>
        <input
          type="radio"
          id="championship-input"
          name="type"
          formControlName="type"
          value="championship"
          [checked]="form.value.type === 'championship'" />
        <label for="championship-input">Championship</label>
      </div>
      <div>
        <input
          type="radio"
          id="closed-input"
          name="type"
          formControlName="type"
          value="closed"
          [checked]="form.value.type === 'closed'" />
        <label for="closed-input">Closed</label>
      </div>
      <div>
        <input
          type="radio"
          id="other-input"
          name="type"
          formControlName="type"
          value="other"
          [checked]="form.value.type === 'other'" />
        <label for="other-input">Other</label>
      </div>
    </fieldset>

    <label for="article-id-input">Associated Article ID:</label>
    <input
      id="article-id-input"
      type="text"
      name="article-id"
      formControlName="articleId"
      maxlength="24" />
    <lcc-form-error-icon [control]="form.controls.articleId"></lcc-form-error-icon>

    <button
      class="restore-button lcc-secondary-button"
      [disabled]="!hasUnsavedChanges"
      tooltip="Restore event to its original state"
      (click)="onRestore()">
      <mat-icon>restore</mat-icon>
    </button>
  </div>

  <aside class="lcc-required-fields-legend">Required fields</aside>

  <hr />

  @if (originalEvent?.modificationInfo; as info) {
    <lcc-modification-info [info]="info"></lcc-modification-info>
  }

  <div class="lcc-form-buttons-container">
    <button
      class="cancel-button lcc-secondary-button"
      type="button"
      (click)="onCancel()">
      Cancel
    </button>
    <button
      class="submit-button lcc-primary-button"
      type="submit"
      [disabled]="form.invalid || !hasUnsavedChanges">
      {{ originalEvent ? 'Update event' : 'Add event' }}
    </button>
  </div>
</form>
