@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: $lcc-space--xs;
}

form {
  max-width: $lcc-width--small-form;
}

.details-textarea {
  height: 100px;
}

hr {
  width: 100%;
  border-top: 1px solid $lcc-color--fg-divider;
  margin: 1em 0;
}
