@use '../../../styles/abstracts/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 8px 16px;
  border-radius: var(--lcc-borderRadius--small);
  box-shadow: 1px 1px 5px 2px var(--lcc-color--form-boxShadow);
  background-color: var(--lcc-color--form-background);

  .file-and-preview-container {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .choose-file-button {
      display: flex;
      align-self: end;
      align-items: center;
      justify-content: center;
      padding: 4px;

      & > input {
        display: none;
      }
    }
  }

  .image-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 300px;
    border-radius: var(--lcc-borderRadius--large);
    background-color: var(--lcc-color--contentPlaceholder-background);

    &.full-span {
      grid-column: 1 / -1;
    }

    img {
      object-fit: contain;
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 300px;
    }

    lcc-image {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 300px;

      ::ng-deep img {
        object-fit: contain;
        max-height: 300px;
      }
    }
  }

  .existing-albums-fieldset {
    display: grid;
    gap: 0 16px;
    grid-template-columns: auto;

    &.invalid {
      border-color: var(--lcc-color--input-invalidBorder);
    }

    .existing-album,
    .new-album {
      display: flex;
      flex-direction: row;
      gap: 4px;
      height: 42px; // Match height of new album input

      input {
        margin-left: 8px;
      }

      label {
        max-width: unset;
        text-align: unset;
      }
    }

    @include respond-to('gt-md') {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  .restore-button {
    display: flex;
    justify-self: end;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;
    padding: 4px;

    &:not(:disabled) {
      color: var(--lcc-color--general-warning);
    }
  }

  hr {
    width: 100%;
    margin: 1em 0;
    border-top: 1px solid var(--lcc-color--general-dividerLine);
  }
}
