@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 4px;

  @include respond-to('lt-md') {
    gap: unset;
  }

  img {
    overflow: hidden;
    flex: 1;
    max-width: 320px;
    min-width: 160px;

    padding: 2px;
    border-radius: $lcc-border-radius-lg;

    &:hover {
      cursor: pointer;
    }
  }
}
