@import 'styles/abstracts/variables';

$header-height: 26px;

.content {
  padding: $lcc-space--md;

  header {
    background-color: darken($lcc-color--primary, 20%);
    border-top-left-radius: $lcc-border-radius--lg;
    border-top-right-radius: $lcc-border-radius--lg;
    border-bottom: 2px solid darken($lcc-color--primary, 30%);
    height: $header-height;
    display: flex;

    .close-button {
      margin: 0 $lcc-space--xs 0 auto;
      border: none;
      background-color: inherit;
      color: darken($lcc-color--white, 10%);

      &:hover {
        color: white;
      }
    }
  }

  img {
    z-index: 101;
    width: 100%;
    max-width: calc(100vw - #{$lcc-space--md});
    max-height: calc(100vh - #{$header-height} - #{$lcc-space--md});
    border-bottom-left-radius: $lcc-border-radius--lg;
    border-bottom-right-radius: $lcc-border-radius--lg;
  }

  .description {
    position: relative;
    top: -2.8em;
    left: $lcc-space--sm;
    right: -$lcc-space--sm;
    width: calc(100% - 2 * $lcc-space--sm);
    padding: $lcc-space--xs $lcc-space--sm;
    border-radius: $lcc-border-radius--sm;
    background-color: hsla(0, 0%, 99%, 0.8);
    color: $lcc-color--text-primary-black;
  }
}
