@import 'styles/abstracts/variables';

.content {
  padding: $lcc-space--md;

  header {
    background-color: darken($lcc-color--primary, 20%);
    border-top-left-radius: $lcc-border-radius--lg;
    border-top-right-radius: $lcc-border-radius--lg;
    border-bottom: 2px solid darken($lcc-color--primary, 30%);
    height: 26px;
    display: flex;

    .close-button {
      margin: 0 $lcc-space--xs 0 auto;
      border: none;
      background-color: inherit;
      color: darken($lcc-color--white, 10%);

      &:hover {
        color: white;
      }
    }
  }

  img {
    z-index: 101;
    opacity: 100%;
    width: 100%;
    max-height: 100vh;
    border-bottom-left-radius: $lcc-border-radius--lg;
    border-bottom-right-radius: $lcc-border-radius--lg;
  }
}
