<div class="lcc-overlay"
		 (click)="facade.onOverlay($event)">
	<div class="content">
		<header>
			<i-feather name="x"
								 class="close-icon"
								 (click)="facade.onClose()">
			</i-feather>
		</header>
		<img id="overlayImage"
				 [src]="'assets/photos/' + (facade.photo$ | async)?.filename + '.jpg'"
				 (load)="imageLoaded()" />
		<h4 class="description lcc-truncate">
			{{ (facade.photo$ | async)?.description }}
		</h4>
		<div *ngIf="imageHeight"
				 class="image-navigation-icons-container"
				 [style.bottom.px]="32 + (50 / 2) + (imageHeight / 2)">
			<div class="previous-image-icon-container">
				<i-feather name="chevron-left"
									 class="previous-image-icon"
									 [tooltip]="'Previous photo'"
									 (click)="facade.onPreviousImage()">
				</i-feather>
			</div>
			<div class="next-image-icon-container">
				<i-feather name="chevron-right"
									 class="next-image-icon"
									 [tooltip]="'Next photo'"
									 (click)="facade.onNextImage()">
				</i-feather>
			</div>
		</div>
	</div>
</div>
