<div class="container">
	<section class="about">
		<lcc-about></lcc-about>
	</section>

	<article class="schedule">
		<section>
			<h4>Coming up soon</h4>
			<lcc-schedule [maxEvents]="5"
										[includeDetails]="false">
			</lcc-schedule>
		</section>
		<lcc-link-list [links]="[scheduleLink]"></lcc-link-list>
	</article>

	<article class="articles">
		<section>
			<h4>Latest news</h4>
			<lcc-article-grid [maxArticles]="4"></lcc-article-grid>
		</section>
		<lcc-link-list [links]="[newsLink]"></lcc-link-list>
	</article>

	<article class="photos">
		<lcc-photo-grid [photos]="photos"></lcc-photo-grid>
		<lcc-link-list [links]="[photoGalleryLink]"></lcc-link-list>
	</article>
</div>
