@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

.container {
  max-width: $lcc-width--app-content;
  display: grid;
  grid-template-areas: 'about' 'schedule' 'articles' 'photos';
  grid-template-columns: minmax(0, 1fr);
  margin: auto;
  gap: $lcc-space--sm;
  
  @include respond-to('gt-md') {
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
      'about schedule'
      'articles articles'
      'photos photos';
  }

  article {
    background-color: lighten($lcc-color--bg-grid-item, 4%);
    padding: $lcc-space--sm $lcc-space--md;
    display: flex;
    flex-flow: column nowrap;
    gap: $lcc-space--md;
    
    @include respond-to('gt-lg') {
      border-radius: $lcc-border-radius--sm;
    }

    &.about {
      grid-area: about;
      display: flex;
      flex-flow: column nowrap;
      background-color: $lcc-color--bg-canvas;
      border-radius: $lcc-border-radius--sm;
      box-shadow: $lcc-box-shadow;
    }
  
    &.schedule {
      grid-area: schedule;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }
  
    &.articles {
      grid-area: articles;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }

    &.photos {
      grid-area: photos;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }

    section {
      display: flex;
      flex-flow: column nowrap;
      gap: $lcc-space--sm;

      h4 {
        width: 100%;
        text-align: left;
        padding: $lcc-space--xxs;
        border-bottom: 1px solid lighten($lcc-color--grey, 20%);
      }
    }
  }
}