@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'grid-item-1 grid-item-2'
    'grid-item-3 grid-item-4'
    'grid-item-5 grid-item-5'
    'grid-item-6 grid-item-6'
    'grid-item-7 grid-item-7';

  article {
    justify-content: center;

    &.links {
      background-color: unset;
      border: unset;
      margin-bottom: 20px;
    }

    &.champion-2019-figure {
      width: 180px;
    }
  }

  @include respond-to('lt-md') {
    grid-template-columns: 1fr;
    grid-template-areas:
      'grid-item-1'
      'grid-item-2'
      'grid-item-4'
      'grid-item-3'
      'grid-item-5'
      'grid-item-6'
      'grid-item-7';   
  }
}


