<div
  class="article-grid"
  [class.is-home-page]="isHomePage"
  [attr.card-count]="visibleRows.length">
  @for (row of displayItems; track $index) {
    <a
      class="article"
      [class.skeleton]="showSkeleton"
      [style.animation-delay.s]="showSkeleton ? $index * 0.1 : null"
      [attr.aria-hidden]="showSkeleton || null"
      [adminControls]="
        !showSkeleton && isAdmin ? getAdminControlsConfig(row.article) : null
      "
      [routerLink]="
        showSkeleton
          ? undefined
          : row.article.title
            ? (['article', 'view', row.article.id] | routerLink)
            : undefined
      ">
      @if (!showSkeleton && row.article.bookmarkDate) {
        <mat-icon class="bookmark-icon">bookmark_border</mat-icon>
      }

      @if (showSkeleton) {
        <div class="image-container lcc-content-placeholder-wrapper">
          <div class="lcc-content-placeholder"></div>
        </div>
      } @else {
        <div class="image-container">
          <lcc-image [image]="row.bannerImage" />
        </div>
      }

      <div class="article-summary-container">
        @if (showSkeleton) {
          <div class="article-title-wrapper lcc-content-placeholder-wrapper">
            <div class="lcc-content-placeholder"></div>
          </div>
        } @else {
          <div class="article-title-wrapper">
            <h3
              class="article-title lcc-truncate-max-3-lines"
              [innerHTML]="row.article.title | highlight: options?.search">
            </h3>
          </div>
        }
        <hr />
        @if (showSkeleton) {
          <div class="article-preview lcc-content-placeholder-wrapper">
            <div class="lcc-content-placeholder"></div>
          </div>
          <div class="skeleton-date lcc-content-placeholder-wrapper">
            <div class="lcc-content-placeholder"></div>
          </div>
        } @else {
          <p
            class="article-preview lcc-truncate-max-5-lines"
            [innerHTML]="
              row.article.body
                | summarizeArticle: row.article.title.startsWith('Blitz')
                | highlight: options?.search
            ">
          </p>
          <div class="article-creation-date">
            {{ row.article.modificationInfo.dateCreated | formatDate: 'short no-time' }}
          </div>
        }
      </div>
    </a>
  }
</div>
