:host {
  max-width: 450px !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: start;
  padding: 16px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}
