<table class="lcc-table events-table">
  <thead>
    <th class="header">Event</th>
    <th class="header"></th>
  </thead>

  <tbody>
    @for (group of displayGroups; track $index) {
      @if (group.hasNextEvent && options?.filters?.showPastEvents?.value) {
        <tr>
          <td colspan="2">
            <hr class="today-line today-scroll-point" />
          </td>
        </tr>
      }
      <tr
        [class.today-scroll-point]="group.hasNextEvent"
        [id]="group.events[0].id">
        <td class="event-date-cell">
          @if (showSkeleton) {
            <div
              class="event-date-widget skeleton-date-widget lcc-content-placeholder-wrapper">
              <div class="lcc-content-placeholder"></div>
            </div>
          } @else {
            <div class="event-date-widget">
              <div class="date-text">
                {{ group.events[0].eventDate | formatDate: 'short day-of-week' }}
              </div>
              <div class="date-text">
                <b>{{ group.events[0].eventDate | formatDate: 'short month-day' }}</b>
              </div>
              <div class="date-text">{{
                group.events[0].eventDate | formatDate: 'year'
              }}</div>
            </div>
          }
        </td>

        <td class="event-details-cell">
          @if (showSkeleton) {
            <div class="event-entry">
              <div class="main-content skeleton-main-content">
                <div class="skeleton-line wide lcc-content-placeholder-wrapper">
                  <div class="lcc-content-placeholder"></div>
                </div>
                <div class="skeleton-line narrow lcc-content-placeholder-wrapper">
                  <div class="lcc-content-placeholder"></div>
                </div>
              </div>
            </div>
          } @else {
            @for (event of group.events; track event.id) {
              <div class="event-entry">
                <div
                  class="main-content"
                  [adminControls]="isAdmin ? getAdminControlsConfig(event) : null">
                  <div class="title-and-type">
                    <h3 class="title">
                      @if (event?.articleId) {
                        <a
                          [routerLink]="'/article/view/' + event.articleId"
                          class="event-article-link lcc-link"
                          [innerHTML]="event.title | highlight: options?.search">
                        </a>
                      } @else {
                        <span [innerHTML]="event.title | highlight: options?.search">
                        </span>
                      }
                    </h3>
                    <div
                      class="type-container"
                      [ngClass]="event.type | kebabCase">
                      <span
                        class="type"
                        [innerHTML]="event.type | highlight: options?.search">
                      </span>

                      @if ((event.type | kebabCase) === 'championship') {
                        <mat-icon class="championship-icon">emoji_events</mat-icon>
                      }
                    </div>
                  </div>

                  <p
                    class="event-details"
                    [innerHTML]="
                      event.details.replaceAll('\\n', ' \n ') | highlight: options?.search
                    ">
                  </p>
                </div>

                @if (showModificationInfo) {
                  <aside class="created-and-edited">
                    <div>
                      Event created
                      {{
                        event.modificationInfo.dateCreated | formatDate: 'short no-time'
                      }}
                    </div>
                    <div>
                      Last edited
                      {{
                        event.modificationInfo.dateLastEdited
                          | formatDate: 'short no-time'
                      }}
                    </div>
                  </aside>
                }
              </div>
            }
          }
        </td>
      </tr>
    }
  </tbody>
</table>
