@import 'styles/abstracts/variables';

.banner-image-container {
  position: relative;

  img {
    height: 100%;
    width: 100%;
  }

  h2 {
    position: absolute;
    bottom: $lcc-space--sm;
    left: $lcc-space--md;
    right: $lcc-space--md;
    height: unset;
    line-height: 1.5em;
    padding: $lcc-space--xs $lcc-space--sm;
    color:  $lcc-color--text-primary-black;
    background-color: hsla(0, 0%, 99%, 0.8);
    border-radius: $lcc-border-radius--sm;
  }
}

.article-details-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: $lcc-space--md;
  padding: $lcc-space--md;

  .creator-container,
  .editor-container {
    display: flex;
    flex-flow: row nowrap;
    gap: $lcc-space--sm;
  }

  .creator-container {
    display: flex;
    flex-flow: column nowrap;
    gap: $lcc-space--xs;
    font-size: $h3;

    .date-created {
      font-size: $h4;
    }
  }

  .editor-container {
    display: flex;
    flex-flow: row nowrap;
    gap: $lcc-space--sm;
    font-size: $h4;
    
    .updated {
      font-weight: 100;
    }

    .vertical-spacer {
      padding: 0 0.5em;
    }

    .editor-name {
      margin-left: 0.5em;
    }
  }
}

hr {
  height: 1px;
  border-top: 1px solid lighten($lcc-color--gray, 30%);
  margin: 0.5em 0;
}

.markdown-container {
  padding: $lcc-space--md;
  overflow-x: hidden;
}
