@use '../../../styles/abstracts/mixins';

.banner-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--lcc-color--article-bannerImageBackground);

  img,
  .loading-placeholder-image {
    height: calc((100vw - 16px) / 1.5);
    // Set based on md-breakpoint value of 700px and 3:2 aspect ratio
    max-height: calc((700px - 16px) / 1.5);
    box-sizing: border-box;

    @include mixins.respond-to('lt-md') {
      width: 100%;
    }
  }

  h2 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    right: 16px;
    height: unset;
    line-height: 1.5em;
    padding: 4px 8px;
    background-color: var(--lcc-color--article-bannerImageHeaderBackground);
    border-radius: var(--lcc-borderRadius--small);
    color: var(--lcc-color--article-bannerImageHeaderText);
  }
}

.article-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;

  .author-container {
    display: flex;
    flex-direction: column;
    font-size: var(--lcc-fontSize--h3);
    color: var(--lcc-color--article-authorText);

    .date-created {
      font-size: var(--lcc-fontSize--h4);
      color: var(--lcc-color--article-dateCreatedText);
    }
  }

  .editor-container {
    font-size: var(--lcc-fontSize--h4);
    color: var(--lcc-color--article-editorText);

    .updated {
      font-weight: 100;
    }

    .editor-name {
      margin-left: 0.5em;
    }

    .vertical-spacer {
      padding: 0 0.5em;
      color: var(--lcc-color--general-editorTextSpacer);
    }
  }
}

hr {
  width: 100%;
  border-top: 1px solid var(--lcc-color--general-dividerLineLight);
  margin: 0.5em 0;
}

.markdown-container {
  padding: 4px;
  overflow-x: hidden;
}
