@import 'styles/abstracts/variables';

.banner-image-container {
  position: relative;

  img {
    height: 100%;
    width: 100%;
  }

  h2 {
    position: absolute;
    bottom: $lcc-space--sm;
    left: $lcc-space--md;
    right: $lcc-space--md;
    height: unset;
    line-height: 1.5em;
    padding: $lcc-space--xs $lcc-space--sm;
    color:  $lcc-color--text-primary-black;
    background-color: hsla(0, 0%, 99%, 0.8);
    border-radius: $lcc-border-radius--sm;
  }
}

.vertical-spacer {
  padding: 0 1em;
}

.edited {
  font-weight: 100;
}

.article-dates-container,
p {
  padding: $lcc-space--md;
}
