@if (viewModel$ | async; as vm) {
  <section class="welcome-section">
    <h2 class="section-heading">Welcome to the home of London&nbsp;chess!</h2>
    <p>
      <span>
        The London Chess Club is open to players of all ages and abilities. We host
        regular blitz and rapid chess tournaments, as well as a variety of lectures,
        simuls and team competitions. Every fall we also host the London Chess
        Championship, a multi-section round-robin tournament to crown the next
      </span>
      <a
        routerLink="/city-champion"
        class="lcc-link">
        city champion</a
      >.
    </p>

    <div class="main-links">
      <a
        class="tournament-registration-link-button lcc-primary-button"
        href="https://docs.google.com/forms/d/e/1FAIpQLSfCucQMB9RyiGNWCIAkh9N22S8CMSD5JWhi_A9RdcYSk4AYsg/viewform?usp=sharing&ouid=101543539456051433769"
        ref="noopener noreferrer"
        target="_blank"
        tooltip="Google Docs registration form for upcoming LCC tournaments">
        Register for a tournament
      </a>
      <lcc-link-list [links]="[aboutPageLink]"></lcc-link-list>
    </div>

    <lcc-club-links></lcc-club-links>
  </section>

  <section class="schedule-section">
    <h2 class="section-heading">Upcoming events</h2>
    @if (vm.isAdmin) {
      <lcc-admin-toolbar
        [adminLinks]="[addEventLink]"
        [adminButtons]="[exportToCsvButton]">
      </lcc-admin-toolbar>
    }
    @if (vm.isLoadingEvents || vm.homePageEvents.length) {
      <div class="events-table-wrapper">
        <lcc-events-table
          [dateLimit]="5"
          [events]="vm.homePageEvents"
          [isAdmin]="vm.isAdmin"
          [isLoading]="vm.isLoadingEvents"
          [nextEvent]="vm.nextEvent"
          (requestDeleteEvent)="onRequestDeleteEvent($event)">
        </lcc-events-table>
      </div>
      <lcc-link-list [links]="[schedulePageLink]"></lcc-link-list>
    }
  </section>

  <section class="articles-section">
    <h2 class="section-heading">Latest news</h2>
    @if (vm.isAdmin) {
      <lcc-admin-toolbar [adminLinks]="[createArticleLink]"></lcc-admin-toolbar>
    }
    <lcc-article-grid
      [articles]="vm.homePageArticles"
      [images]="vm.allImages"
      [isAdmin]="vm.isAdmin"
      [isHomePage]="true"
      [isLoading]="vm.isLoadingArticles || vm.isLoadingImages"
      (requestDeleteArticle)="onRequestDeleteArticle($event)"
      (requestUpdateArticleBookmark)="onRequestUpdateArticleBookmark($event)">
    </lcc-article-grid>
    <lcc-link-list [links]="[newsPageLink]"></lcc-link-list>
  </section>

  <section class="photos-section">
    <lcc-photo-grid
      [isAdmin]="vm.isAdmin"
      [isLoading]="vm.isLoadingImages"
      [maxAlbums]="20"
      [photoImages]="vm.photoImages"
      (requestDeleteAlbum)="onRequestDeleteAlbum($event)">
    </lcc-photo-grid>
    <lcc-link-list [links]="[photoGalleryPageLink]"></lcc-link-list>
  </section>
}
