<div class="lcc-canvas">
  <h3>Login</h3>
  <form class="lcc-form"
        [formGroup]="loginForm"
        (keyup)="onKeyUp($event)"
        (ngSubmit)="onLogin()">
    <input type="text"
           name="email"
           formControlName="email"
           placeholder="Email"/>
    <input type="password"
           name="password"
           formControlName="password"
           placeholder="Password"/>
    <div class="lcc-login-links">
      <a href="#" class="lcc-link">Forgot password?</a>
      <a href="#" class="lcc-link">Don't have an account?</a>
    </div>
    <button class="lcc-primary-button"
            type="submit"
            [disabled]="loginForm.invalid">
      Log in
    </button>
  </form>
</div>
