:host {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  background-color: var(--lcc-color--app-mainBackground);

  main {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable both-edges;
    background-color: var(--lcc-color--app-mainBackground);

    &::ng-deep > *:not(router-outlet):not(lcc-footer) {
      position: relative;
      flex: 1;
      max-width: var(--lcc-width--appContent);
      width: 100%;

      // Margin needed to prevent scrollbar-gutter style
      // from cutting off screen content
      margin: 0 4px;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      // 6px top + 2px at bottom of Nav component = 8px;
      padding: 6px 4px 8px;
    }

    &::ng-deep lcc-footer {
      // Manually push footer background to edge of screen
      width: calc(100% + 16px);
    }
  }
}
