<ng-container *ngIf="showModal$ | async">
	<lcc-modal></lcc-modal>
</ng-container>

<ng-container *ngIf="showImageOverlay$ | async">
	<lcc-image-overlay></lcc-image-overlay>
</ng-container>

<div class="lcc-app-container">
	<ng-container *ngIf="showAlert$ | async">
		<lcc-alert></lcc-alert>
	</ng-container>
	<lcc-header></lcc-header>
	<lcc-nav></lcc-nav>
	<main>
		<router-outlet>
			<span *ngIf="isLoading"
						class="loading-spinner"></span>
			<ng-container *ngIf="showToaster$ | async">
				<lcc-toaster></lcc-toaster>
			</ng-container>
		</router-outlet>
	</main>
	<lcc-footer></lcc-footer>
</div>
