@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

.lcc-app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 10px;
  background-color: $lcc-background;
}

lcc-alert,
lcc-header,
lcc-nav,
lcc-footer {
  flex-shrink: 0;
}

lcc-toaster {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 100;
}

@include respond-to('lt-md') {
  lcc-toaster {
    right: 50%;
    transform: translateX(50%);
  }
}