@use '../../../styles/components/link';

:host {
  .table-of-contents {
    text-align: center;

    .heading-link {
      display: inline-block;
      font-size: 18px;
      margin: 4px 16px;
    }
  }

  markdown ::ng-deep {
    table {
      [align='right'] {
        text-align: right;
      }

      [align='left'] {
        text-align: left;
      }
    }

    a {
      @include link.lcc-link;
    }

    li {
      margin-left: 1em;
      line-height: 1.5em;
      color: var(--lcc-color--markdownRenderer-secondaryText);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--lcc-color--markdownRenderer-primaryText);
    }

    // h2 headings function as the article's scrollable anchors
    h2 {
      margin-top: 1em;
      padding-top: 16px;
    }

    p {
      color: var(--lcc-color--markdownRenderer-secondaryText);
    }

    b,
    strong {
      color: var(--lcc-color--markdownRenderer-primaryText);
    }

    img {
      min-width: 300px;
      max-width: 100%;
    }
  }
}
