@use '../../../styles/components/link';

:host {
  .table-of-contents {
    text-align: center;

    .heading-link {
      display: inline-block;
      font-size: 18px;
      margin: 4px 16px;
    }
  }

  markdown ::ng-deep {
    table {
      // Hide until app-specific markdown styles have been applied
      &:not(.lcc-table) {
        visibility: hidden;
      }

      [align='right'] {
        text-align: right;
      }

      [align='left'] {
        text-align: left;
      }
    }

    a {
      @include link.lcc-link;
    }

    li {
      margin-left: 1em;
      line-height: 1.5em;
      color: var(--lcc-color--markdownRenderer-secondaryText);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--lcc-color--markdownRenderer-primaryText);
    }

    // h2 headings function as the article's scrollable anchors
    h2 {
      margin-top: 1em;
      padding-top: 16px;
    }

    p {
      color: var(--lcc-color--markdownRenderer-secondaryText);
    }

    b,
    strong {
      color: var(--lcc-color--markdownRenderer-primaryText);
    }

    img {
      min-width: 300px;
      max-width: 100%;
    }

    blockquote {
      position: relative;
      margin: 0 16px;
      padding: 16px 24px;
      background: var(--lcc-color--markdownRenderer-blockquoteBackground);
      border: 1px solid var(--lcc-color--markdownRenderer-blockquoteBorder);
      border-radius: var(--lcc-borderRadius--large);

      & > p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
        font-size: 16px;
      }

      .lcc-quote-icon {
        position: absolute;
        top: -15px;
        left: -10px;
        width: 40px;
        height: 40px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.2;
        filter: invert(50%);
      }
    }
  }
}
