@use '../../../styles/components/link';

:host {
  .table-of-contents {
    text-align: center;

    .subheading-link {
      display: inline-block;
      font-size: 18px;
      padding: 4px 16px;
    }
  }

  markdown ::ng-deep {
    a {
      @include link.lcc-link;
    }

    li {
      list-style-type: disc;
      margin-left: 1em;
      line-height: 1.5em;
      color: var(--lcc-color--markdownRenderer-secondaryText);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--lcc-color--markdownRenderer-primaryText);
    }

    // These function as the article's scrollable page anchor subheadings
    h2 {
      padding-top: 1em;
    }

    p {
      color: var(--lcc-color--markdownRenderer-secondaryText);
    }

    b,
    strong {
      color: var(--lcc-color--markdownRenderer-primaryText);
    }

    img {
      width: 100%;
    }
  }
}
