:host {
  display: flex;
  justify-content: center;
}

input {
  width: 220px;
}

h3 {
  margin: 10px 0;
  white-space: nowrap;
}

.buttons-container {
  display: flex;
  justify-content: center;

  button {
    margin: 20px 6px;
  }
}
