@import 'styles/abstracts/variables.scss';

:host {
  display: flex;
  justify-content: flex-start;
  padding: 2px 12px;
  background-color: darken($lcc-primary, 20%);
}

.lcc-header-branding {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.lcc-header-title {
  color: darken($lcc-white, 10%);
}
