:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: var(--lcc-width--appContent);
  margin-bottom: 32px;
}
