<form
  class="lcc-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit(hasCode)">
  <div class="lcc-form-fields">
    <label for="email-input">Email:</label>
    <input
      id="email-input"
      type="text"
      name="email"
      formControlName="email"
      autocomplete="email" />

    @if (hasCode) {
      <label for="code-input">Verification code:</label>
      <input
        id="code-input"
        type="text"
        name="code"
        formControlName="code"
        autocomplete="verification-code"
        maxlength="6" />
      <lcc-form-error-icon [control]="form.controls.code"></lcc-form-error-icon>

      <label for="new-password-input">New password:</label>
      <input
        id="new-password-input"
        type="password"
        name="new-password"
        formControlName="newPassword"
        autocomplete="new-password" />
      <lcc-form-error-icon [control]="form.controls.newPassword"></lcc-form-error-icon>
      <label for="confirm-password-input">Confirm password:</label>
      <input
        id="confirm-password-input"
        type="password"
        name="confirm-password"
        formControlName="confirmPassword"
        autocomplete="new-password" />
      <lcc-form-error-icon [control]="form.controls.confirmPassword">
      </lcc-form-error-icon>
    }
  </div>

  <div class="lcc-form-buttons-container">
    <button
      class="submit-button lcc-primary-button"
      type="submit"
      [disabled]="hasCode ? form.invalid : form.controls.email.invalid">
      {{ hasCode ? 'Change password' : 'Get code' }}
    </button>
  </div>

  <div class="links">
    <a
      class="return-to-login-link lcc-link"
      routerLink="/login">
      Return to login
    </a>
    @if (hasCode) {
      <a
        class="request-new-code-link lcc-link"
        (click)="onRequestNewCode()">
        Request new code
      </a>
    }
  </div>
</form>
