@use '../../../styles/abstracts/mixins' as *;

.events-table {
  max-width: 800px;
  margin: auto;

  tbody {
    // Make the date widget appear centered
    .event-details-cell {
      padding-left: 0 !important;
    }

    tr {
      &.today {
        border-top: 3px solid var(--lcc-color--schedule-today) !important;
      }

      .event-date-cell {
        vertical-align: top;

        .event-date-widget {
          width: 65px;
          height: 65px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          gap: 2px;
          background-color: var(--lcc-color--schedule-dateBackground);
          border-radius: 50%;
          font-size: 13px;
        }
      }

      .event-details-cell {
        display: flex;
        flex-flow: row wrap;
        gap: 16px;

        .main-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;

          .title {
            color: var(--lcc-color--schedule-titleText);
            line-height: normal;
            font-size: 15px !important;
            margin-bottom: 4px;
          }

          .type-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            width: auto;
            border-radius: var(--lcc-borderRadius--large);
            padding: 2px 8px;
            color: var(--lcc-color--schedule-eventType);

            &.blitz-tournament-10-mins {
              background-color: var(--lcc-color--schedule-blitz10TournamentBackground);
            }

            &.rapid-tournament-25-mins {
              background-color: var(--lcc-color--schedule-rapid25TournamentBackground);
            }

            &.rapid-tournament-40-mins {
              background-color: var(--lcc-color--schedule-rapid40TournamentBackground);
            }

            &.lecture {
              background-color: var(--lcc-color--schedule-lectureBackground);
            }

            &.simul {
              background-color: var(--lcc-color--schedule-simulBackground);
            }

            &.championship {
              background-color: var(--lcc-color--schedule-championshipBackground);
            }

            &.other {
              background-color: var(--lcc-color--schedule-otherBackground);
            }

            &.closed {
              background-color: var(--lcc-color--schedule-closedBackground);
            }

            .championship-icon {
              @include icon-size(16px);

              color: var(--lcc-color--schedule-championshipMedalIcon);
            }
          }

          .event-details {
            color: var(--lcc-color--schedule-eventDetailsText);
            padding-top: 16px;
            font-size: 14px;
            font-weight: 200;
          }
        }

        .created-and-edited {
          flex: 1;
          align-self: flex-end;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          white-space: nowrap;
          gap: 4px;
          color: var(--lcc-color--schedule-createdAndEditedText);
          font-size: 11px;
          font-weight: 100;
        }
      }
    }
  }
}
