@import 'styles/abstracts/variables';

@mixin fadeoutAnimation {
  -o-animation: fadeAnimation 5s;
  -moz-animation: fadeAnimation 5s;
  -ms-animation: fadeAnimation 5s;
  -webkit-animation: fadeAnimation 5s;
  animation: fadeAnimation 5s;
}

.toast-container {
  display: flex;
  flex-flow: row nowrap;
  margin-top: $lcc-space--xs;
  padding: 0 $lcc-space--sm;
  width: 300px;
  border-radius: $lcc-border-radius--sm;
  box-shadow: $lcc-color--box-shadow;

  &.toast-success {
    background-color: $lcc-color--success;
    @include fadeoutAnimation();
    
    .toast-notification-container {
      .toast-title {
        color: lighten($lcc-color--text-primary-white, 10%);
      }
      .toast-message {
        color: $lcc-color--text-primary-white;
      }
    }

    .icon {
      color: lighten($lcc-color--white, 10%);
    }
  }

  &.toast-warning {
    background-color: $lcc-color--warn;
    @include fadeoutAnimation();

    .toast-notification-container {
      .toast-title {
        color: lighten($lcc-color--text-primary-white, 10%);
      }
      .toast-message {
        color: $lcc-color--text-primary-white;
      }
    }

    .icon {
      color: lighten($lcc-color--white, 10%);
    }
  }

  &.toast-info {
    background-color: $lcc-color--info;
    @include fadeoutAnimation();

    .toast-notification-container {
      .toast-title {
        color: $lcc-color--text-primary-black;
      }
      .toast-message {
        color: lighten($lcc-color--text-primary-black, 10%);
      }
    }

    .icon {
      color: lighten($lcc-color--black, 10%);
    }
  }
}

.toast-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.toast-notification-container {
  display: flex;
  flex-flow: column nowrap;
  gap: $lcc-space--sm;
  padding: $lcc-space--sm;
  overflow: hidden;

  .toast-title {
    width: 100%;
  }

  .toast-message {
    width: 100%;
    font-size: $h5;
  }
}


@-o-keyframes fadeAnimation {
  0% { opacity: 0; }
  5% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeAnimation {
  0% { opacity: 0; }
  5% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes fadeAnimation {
  0% { opacity: 0; }
  5% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeAnimation {
  0% { opacity: 0; }
  5% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
