@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

h3 {
  line-height: 30px;
}

h4 {
  line-height: 20px;
  color: $lcc-secondary-text;
  
}

.lcc-canvas {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}
