@if (viewModel$ | async; as vm) {
  <section class="welcome-section">
    <h2 class="section-heading">Welcome to the home of London&nbsp;chess!</h2>
    <p>
      <span>
        The London Chess Club is open to players of all ages and abilities. We host
        regular blitz and rapid chess tournaments, as well as a variety of lectures,
        simuls and team competitions. Every fall we also host the London Chess
        Championship, a multi-section round-robin tournament to crown the next
      </span>
      <a
        routerLink="/city-champion"
        class="lcc-link">
        city champion</a
      >.
    </p>
    <a
      class="tournament-registration-link-button lcc-primary-button"
      href="https://docs.google.com/forms/d/e/1FAIpQLSc7qb1rbunNQAvDIq0ClLQIYAocqjyXa_j-Q8xD2o_YxBabKw/viewform"
      ref="noopener noreferrer"
      target="_blank"
      tooltip="Google Docs registration form for upcoming LCC tournaments">
      Register for a tournament
    </a>
    <lcc-link-list [links]="[aboutPageLink]"></lcc-link-list>
    <lcc-club-links></lcc-club-links>
  </section>

  <section class="schedule-section">
    <h2 class="section-heading">Upcoming events</h2>
    <lcc-schedule
      [allowTogglePastEvents]="false"
      [events]="vm.events"
      [includeDetails]="false"
      [isAdmin]="vm.isAdmin"
      [lastFetch]="vm.lastEventsFetch"
      [nextEvent]="vm.nextEvent"
      [showPastEvents]="vm.showPastEvents"
      [upcomingEventLimit]="3"
      [upcomingEvents]="vm.upcomingEvents"
      (requestDeleteEvent)="onRequestDeleteEvent($event)"
      (requestFetch)="onRequestFetchEvents()">
    </lcc-schedule>
    <lcc-link-list [links]="[schedulePageLink]"></lcc-link-list>
  </section>

  <section class="articles-section">
    <h2 class="section-heading">Latest news</h2>
    @if (vm.isAdmin) {
      <lcc-admin-toolbar [adminLinks]="[createArticleLink]"></lcc-admin-toolbar>
    }
    <lcc-article-grid
      [articles]="vm.articles"
      [images]="vm.images"
      [isAdmin]="vm.isAdmin"
      [lastFetch]="vm.lastArticlesFetch"
      [options]="articleOptions"
      (requestDeleteArticle)="onRequestDeleteArticle($event)"
      (requestFetch)="onRequestFetchArticles()"
      (requestUpdateArticleBookmark)="onRequestUpdateArticleBookmark($event)">
    </lcc-article-grid>
    <lcc-link-list [links]="[newsPageLink]"></lcc-link-list>
  </section>

  <section class="regional-clubs-section">
    <h2 class="section-heading">Regional clubs</h2>

    <div class="regional-clubs-container">
      <div class="club-card">
        <h3 class="club-name">St. Thomas Chess Club</h3>
        <div class="address">
          <mat-icon class="map-icon">location_on</mat-icon>
          <a
            class="address-link lcc-link"
            href="https://maps.app.goo.gl/RUJk2MGqZsTACu4y9"
            rel="noopener noreferrer"
            target="_blank">
            Central United Church<br />
            135 Wellington Street<br />
            St. Thomas, ON N5R 2R7
            <mat-icon class="external-link-icon">open_in_new</mat-icon>
          </a>
        </div>
        <div class="date-and-time secondary-text">
          Wednesdays, 6:30pm &ndash; 8:30pm
        </div>
        <aside class="secondary-text">
          (basement entry through parking lot back door)
        </aside>
      </div>

      <div class="club-card">
        <h3 class="club-name">New Hamburg Chess Club</h3>
        <div class="address">
          <mat-icon class="map-icon">location_on</mat-icon>
          <a
            class="address-link lcc-link"
            href="https://maps.app.goo.gl/A8vhqayvZrkTJ74J6"
            rel="noopener noreferrer"
            target="_blank">
            New Hamburg Library<br />
            145 Huron Street<br />
            New Hamburg, ON N3A 1K1
            <mat-icon class="external-link-icon">open_in_new</mat-icon>
          </a>
        </div>

        <div class="date-and-time secondary-text">
          September &ndash; December 2025<br />
          Tuesdays, 6:00pm &ndash; 7:45pm<br />
          Saturdays, 12:00pm &ndash; 1:45pm
        </div>
      </div>
    </div>
  </section>

  <section class="photos-section">
    <lcc-photo-grid
      [isAdmin]="vm.isAdmin"
      [lastAlbumCoversFetch]="vm.lastAlbumCoversFetch"
      [lastImageMetadataFetch]="vm.lastImageMetadataFetch"
      [maxAlbums]="12"
      [photoImages]="vm.photoImages"
      (requestDeleteAlbum)="onRequestDeleteAlbum($event)"
      (requestFetchThumbnails)="onRequestFetchAlbumCoverThumbnails($event)">
    </lcc-photo-grid>
    <lcc-link-list [links]="[photoGalleryPageLink]"></lcc-link-list>
  </section>
}
