@if (viewModel$ | async; as vm) {
  <article class="welcome">
    <h1>Welcome to the home of London&nbsp;chess!</h1>
    <p>
      <span>
        The London Chess Club is open to players of all ages and abilities. We host
        regular blitz and rapid chess tournaments, as well as a variety of lectures,
        simuls and team competitions. Every fall we also host the London Chess
        Championship, a multi-section round-robin tournament to crown the next
      </span>
      <a
        routerLink="/city-champion"
        class="lcc-link">
        city champion</a
      >.
    </p>
    <lcc-link-list [links]="[aboutPageLink]"></lcc-link-list>
    <lcc-club-links></lcc-club-links>
  </article>

  <article class="schedule">
    <section>
      <h4>Upcoming events</h4>
      <lcc-schedule
        [allowTogglePastEvents]="false"
        [events]="vm.events"
        [includeDetails]="false"
        [isAdmin]="vm.isAdmin"
        [nextEvent]="vm.nextEvent"
        [showPastEvents]="vm.showPastEvents"
        [upcomingEventLimit]="3"
        [upcomingEvents]="vm.upcomingEvents">
      </lcc-schedule>
    </section>
    <lcc-link-list [links]="[schedulePageLink]"></lcc-link-list>
  </article>

  <article class="articles">
    <section>
      <h4>Latest news</h4>
      <lcc-article-grid
        [articles]="vm.articles"
        [articleImages]="vm.articleImages"
        [isAdmin]="vm.isAdmin"
        [maxArticles]="maxArticles">
      </lcc-article-grid>
    </section>
    <lcc-link-list [links]="[newsPageLink]"></lcc-link-list>
  </article>

  <article class="photos">
    <lcc-photo-grid
      [isAdmin]="vm.isAdmin"
      [maxAlbums]="20"
      [photoImages]="vm.photoImages">
    </lcc-photo-grid>
    <lcc-link-list [links]="[photoGalleryPageLink]"></lcc-link-list>
  </article>
}
