@defer {
  <img
    class="image-preview"
    [src]="originalImage.presignedUrl"
    default="assets/image-placeholder.png"
    alt="Image preview" />
} @placeholder (minimum 0.5s) {
  <div class="lcc-content-placeholder-wrapper loading-placeholder-image">
    <div class="lcc-content-placeholder"></div>
  </div>
}

<form
  class="lcc-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <div class="lcc-form-fields">
    <label
      for="caption-input"
      class="lcc-required-field">
      Caption:
    </label>
    <input
      id="caption-input"
      type="text"
      name="caption"
      formControlName="caption"
      maxlength="120" />
    <div class="lcc-form-error-container">
      @if (hasError(form.controls.caption)) {
        <i-feather
          name="alert-triangle"
          class="lcc-form-error-icon validation-alert-icon"
          [tooltip]="getErrorMessage(form.controls.caption)">
        </i-feather>
      }
    </div>
  </div>

  <div class="lcc-form-fields">
    <label class="lcc-required-field">Albums:</label>
    <div class="albums-container">
      <fieldset
        class="existing-album-fieldset"
        [class.invalid]="hasError(form.controls.albums) && form.controls.albums.dirty">
        @for (album of existingAlbums; track album) {
          <div class="existing-album">
            <input
              [id]="'album-' + album"
              type="checkbox"
              name="albums"
              [checked]="form.controls.albums.value.includes(album)"
              (change)="toggleAlbum(album)" />
            <label
              class="lcc-truncate"
              [for]="'album-' + album">
              {{ album }}
            </label>
          </div>
        }
      </fieldset>

      <input
        id="new-album-input"
        type="text"
        name="new-album"
        formControlName="newAlbum"
        placeholder="New album"
        maxlength="120" />
    </div>
    <div class="lcc-form-error-container">
      @if (hasError(form.controls.albums)) {
        <i-feather
          name="alert-triangle"
          class="lcc-form-error-icon validation-alert-icon"
          [tooltip]="getErrorMessage(form.controls.albums)">
        </i-feather>
      } @else if (hasError(form.controls.newAlbum)) {
        <i-feather
          name="alert-triangle"
          class="lcc-form-error-icon validation-alert-icon"
          [tooltip]="getErrorMessage(form.controls.newAlbum)">
        </i-feather>
      }
    </div>
  </div>

  <aside class="lcc-required-fields-legend">Required fields</aside>

  <hr />

  <lcc-modification-info [info]="originalImage.modificationInfo"></lcc-modification-info>

  <div class="lcc-form-buttons-container">
    <button
      class="lcc-secondary-button"
      type="button"
      (click)="onCancel()">
      Cancel
    </button>
    <button
      class="lcc-primary-button"
      type="submit"
      [disabled]="form.invalid || !hasUnsavedChanges">
      Update
    </button>
  </div>
</form>
