:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px 1px var(--lcc-color--screenHeader-boxShadow);
  gap: 8px;
  padding: 8px;
  background-color: var(--lcc-color--screenHeader-background);
  border-radius: var(--lcc-borderRadius--small);

  .screen-title {
    font-size: var(--lcc-fontSize--h3) !important;
    color: var(--lcc-color--screenHeader-text);
  }

  .icon {
    color: var(--lcc-color--screenHeader-icon);
    height: 24px;
    width: 24px;
  }
}
