@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

$grid-gap: $lcc-space--xs;
$card-min-width: 200px;

:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: $grid-gap;

  img {
    @include flex-wrap-fix-width($card-min-width, $grid-gap, $lcc-width--app-content);

    border-radius: $lcc-border-radius--sm;
    border: 1px solid $lcc-color--transparent-mostly;
    opacity: 0.85;

    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 4px 1px $lcc-color--box-shadow;
      border: 1px solid $lcc-color--primary;
      opacity: 1;
    }
  }
}
