@use '../../../styles/abstracts/mixins' as *;

:host {
  width: 100%;
}

.admin-controls-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  position: relative;

  lcc-link-list {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .image-explorer-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    padding: 4px;
  }
}

.grid-container {
  container: album-covers / inline-size;
}

.album-covers {
  column-count: 2;
  column-gap: 8px;

  @container (min-width: 600px) {
    column-count: 3;
  }

  @container (min-width: 800px) {
    column-count: 4;
  }

  @container (min-width: 1000px) {
    column-count: 5;
  }

  @container (min-width: 1200px) {
    column-count: 6;
  }

  .album-cover {
    display: block;
    width: 100%;
    background-color: var(--lcc-color--general-cardBackground);
    border: none;
    border-radius: var(--lcc-borderRadius--small);
    box-shadow: 3px 3px 5px var(--lcc-color--photoGrid-boxShadow);
    padding: 6px;
    margin: 8px;

    break-inside: avoid;
    page-break-inside: avoid;

    &:hover {
      animation: raise 0.2s ease forwards;
      box-shadow: 4px 4px 8px var(--lcc-color--photoGrid-boxShadow);
    }

    figure {
      display: flex;
      flex-direction: column;
      gap: 8px;

      img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 2px;
        border-radius: var(--lcc-borderRadius--small);
      }

      figcaption {
        text-align: left;
        margin: 0 2px;

        .album-name {
          font-size: 13px;
          color: var(--lcc-color--photoGrid-albumNameText);
          margin-bottom: 8px;
          line-height: 16px;

          @container (min-width: 600px) {
            font-size: 15px;
            line-height: 18px;
          }
        }

        .photo-count {
          font-size: 11px;
          color: var(--lcc-color--photoGrid-photoCountText);

          @container (min-width: 600px) {
            font-size: 13px;
            line-height: 18px;
          }
        }
      }
    }
  }
}

@keyframes raise {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.015);
  }
}
