@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: $lcc-space--xs;

  img {
    width: 250px;
    border-radius: $lcc-border-radius--sm;
    border: 1px solid $lcc-color--transparent-mostly;
    opacity: 0.85;

    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 4px 1px $lcc-color--box-shadow;
      border: 1px solid $lcc-color--primary;
      opacity: 1;
    }
  }
}
