@if (isAdmin) {
  <div class="admin-controls-header">
    <lcc-link-list [links]="links"></lcc-link-list>
    <button
      class="image-explorer-button lcc-secondary-button"
      type="button"
      tooltip="Open Image Explorer"
      (click)="onOpenImageExplorer()">
      <mat-icon>image_search</mat-icon>
    </button>
  </div>
}

<section class="grid-container">
  <div class="album-covers">
    @for (
      image of albumCovers.slice(0, maxAlbums ?? albumCovers.length);
      track image.id
    ) {
      <button
        class="album-cover"
        [adminControls]="isAdmin ? getAdminControlsConfig(image.album) : null"
        (click)="onClickAlbumCover(image.album)">
        <figure>
          <img [image]="image" />
          <figcaption>
            <div class="album-name lcc-truncate-max-2-lines">{{ image.album }}</div>
            <div class="photo-count">
              {{ getAlbumPhotoCountText(image.album) | uppercase }}
            </div>
          </figcaption>
        </figure>
      </button>
    }
  </div>
</section>
