@import 'styles/abstracts/mixins';

:host {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
  gap: 8px;
  width: 100%;
  max-width: var(--lcc-width--appContent);
}

lcc-article-grid {
  width: 100%;
}
