@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
  gap: $lcc-space--sm;
  width: 100%;
  max-width: $lcc-width--app-content;
}

lcc-article-grid {
  width: 100%;
}
