<div class="nav-left"></div>

<div class="nav-items-container">
	<a aria-label="Home"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.HOME"
		 [routerLinkActiveOptions]="{ exact: true }"
		 [tooltip]="screenWidth < ICON_TEXT_BREAKPOINT ? 'Home' : null"
		 (click)="facade.onSelectHomeTab()">
		<span class="text">Home</span>
		<i-feather name="home"
							 class="icon home-icon">
		</i-feather>
	</a>

	<a aria-label="About"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.ABOUT"
		 [tooltip]="screenWidth < ICON_TEXT_BREAKPOINT ? 'About' : null"
		 (click)="facade.onSelectAboutTab()">
		<span class="text">About</span>
		<i-feather name="info"
							 class="icon info-icon">
		</i-feather>
	</a>

	<a aria-label="Members"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.MEMBERS"
		 [tooltip]="screenWidth < ICON_TEXT_BREAKPOINT ? 'Members' : null"
		 (click)="facade.onSelectMembersTab()">
		<span class="text">Members</span>
		<i-feather name="users"
							 class="icon users-icon">
		</i-feather>
	</a>

	<a aria-label="Schedule"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.SCHEDULE"
		 [tooltip]="screenWidth < ICON_TEXT_BREAKPOINT ? 'Schedule' : null"
		 (click)="facade.onSelectScheduleTab()">
		<span class="text">Schedule</span>
		<i-feather name="calendar"
							 class="icon calendar-icon">
		</i-feather>
	</a>

	<a aria-label="News"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.NEWS"
		 [tooltip]="screenWidth < ICON_TEXT_BREAKPOINT ? 'News' : null"
		 (click)="facade.onSelectNewsTab()">
		<span class="text">News</span>
		<i-feather name="activity"
							 class="icon activity-icon">
		</i-feather>
	</a>

	<a aria-label="City Champion"
		 [routerLink]="NavPathTypes.CITY_CHAMPION"
		 [tooltip]="screenWidth < ICON_TEXT_BREAKPOINT ? 'City Champion' : null"
		 routerLinkActive="link-active"
		 (click)="facade.onSelectCityChampionTab()">
		<span class="text">City&nbsp;Champion</span>
		<i-feather name="award"
							 class="icon award-icon">
		</i-feather>
	</a>

	<a aria-label="Photo Gallery"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.PHOTO_GALLERY"
		 [tooltip]="screenWidth < ICON_TEXT_BREAKPOINT ? 'Photo Gallery' : null"
		 (click)="facade.onSelectPhotoGalleryTab()">
		<span class="text">Photo&nbsp;Gallery</span>
		<i-feather name="camera"
							 class="icon camera-icon">
		</i-feather>
	</a>

	<div class="nav-login-spacer"></div>

	<div *ngIf="facade.user$ | async; else loggedOut"
			 class="lcc-dropdown-tab">
		<i-feather name="user"
							 class="icon user-icon">
		</i-feather>
		<i-feather [name]="isDropdownOpen ? 'chevron-up' : 'chevron-down'"
							 class="icon chevron-icon">
		</i-feather>

		<div class="user-dropdown"
				 dropdown>
			<div class="admin-welcome-container">
				<i-feather name="user"
									 class="icon admin-user-icon">
				</i-feather>
				<span class="h4 admin-name">
					{{ (facade.user$ | async)?.firstName }} {{ (facade.user$ | async)?.lastName }}
				</span>
			</div>
			<ul class="dropdown-items">
				<li (click)="facade.onChangePassword()">Change password</li>
				<li (click)="facade.onLogOut()">Log out</li>
			</ul>
		</div>
	</div>

	<ng-template #loggedOut>
		<a class="login-link"
			 aria-label="Admin Login"
			 routerLinkActive="link-active"
			 [routerLink]="NavPathTypes.LOGIN"
			 [tooltip]="screenWidth < ICON_TEXT_BREAKPOINT ? 'Log in as admin' : null"
			 (click)="facade.onSelectLoginTab()">
			<span class="text">Admin Login</span>
			<i-feather name="user"
								 class="icon user-icon">
			</i-feather>
		</a>
	</ng-template>
</div>

<div class="nav-right"></div>
