@import 'styles/abstracts/mixins';

$nav-height: 42px;
$dropdown-tab-width: 60px;
$dropdown-list-width: 170px;

:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 2px;
  background-color: var(--lcc-color--nav-background);
  height: $nav-height;
}

i-feather {
  height: 20px;
  width: 20px;
}

.nav-left,
.nav-right,
.nav-login-spacer {
  flex: 1;
  border-bottom: 2px solid var(--lcc-color--nav-border)
}

.nav-left,
.nav-right {
  min-width: 16px;
}

.nav-items-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  max-width: var(--lcc-width--appContent);
  min-width: 290px; // To ensure login link never overlaps with other links 
  
  .nav-link,
  .settings-dropdown-tab {
    border-top: 2px solid var(--lcc-color--nav-borderTopWhenInactive);
    border-top-left-radius: var(--lcc-borderRadius--large);
    border-top-right-radius: var(--lcc-borderRadius--large);
    color: var(--lcc-color--nav-linkForeground);
  }

  .nav-link {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    font-size: var(--lcc-fontSize--h4);
    font-weight: 400;
    height: auto;
    padding: 6px;

    &:hover,
    &:focus {
      color: var(--lcc-color--nav-linkTextOnHover);
      background-color: var(--lcc-color--nav-linkBackgroundOnHover);
      text-decoration: none;
    }
  
    &.link-active {
      cursor: default;
      pointer-events: none;
      background-color: var(--lcc-color--app-mainBackground);
      border-top: 2px solid var(--lcc-color--nav-border);
      border-left: 2px solid var(--lcc-color--nav-border);
      border-right: 2px solid var(--lcc-color--nav-border);
      border-bottom: 2px solid var(--lcc-color--app-mainBackground);
    }

    &:not(.link-active) {
      border-bottom: 2px solid var(--lcc-color--nav-border);
    }

    .text {
      display: none;
      visibility: hidden;
    }

    @include respond-to('gt-sm') {
      padding: 6px 8px;
    }

    @include respond-to('gt-md') {
      // Set padding so that height is kept constant on breakpoint transitions
      padding: 10px 8px;

      i-feather {
        display: none;
        visibility: hidden;
      }

      .text {
        display: block;
        visibility: unset;
      }
    }
  }

  .settings-dropdown-tab {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: $dropdown-tab-width;
    padding: 4px 8px;
    font-size: var(--lcc-fontSize--h5);
    border-bottom: 2px solid var(--lcc-color--nav-border);

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: var(--lcc-color--nav-linkBackgroundOnHover);
    }

    .chevron-icon {
      height: 14px;
      width: 14px;
    }
  }

  .user-dropdown {
    visibility: hidden;
    display: none;
    position: absolute;
    top: $nav-height - 4px;
    left: $dropdown-tab-width - $dropdown-list-width;
    z-index: 100;
    box-shadow: 1px 1px 5px 0 var(--lcc-color--nav-dropdownBoxShadow);
    border-bottom-left-radius: var(--lcc-borderRadius--small);
    border-bottom-right-radius: var(--lcc-borderRadius--small);

    &.lcc-dropdown-open {
      visibility: visible;
      display: flex;
      flex-flow: column nowrap;
    }
    
    .dropdown-items {
      cursor: default;
      display: flex;
      flex-flow: column nowrap;
      width: $dropdown-list-width;
      background-color: var(--lcc-color--nav-dropdownItemsBackground);
      border-bottom-left-radius: var(--lcc-borderRadius--small);
      border-bottom-right-radius: var(--lcc-borderRadius--small);

      .dropdown-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--lcc-color--nav-dropdownItemForeground);

        &.user-name {
          flex: 1;
          justify-content: center;
          border-bottom: 1px solid var(--lcc-color--nav-dropdownDividerLine);
          padding-bottom: 4px;
          margin: 4px;
        }

        span {
          font-size: var(--lcc-fontSize--h4);
          padding: 8px;
        }

        a {
          flex: 1;

          &:hover > * {
            cursor: pointer;
            background-color: var(--lcc-color--nav-dropdownItemBackgroundOnHover);
            color: var(--lcc-color--nav-dropdownItemTextOnHover);
          }

          span {
            display: block;
          }
        } 
      }
    }
  }
}
