@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

$dropdown-tab-width: 60px;
$dropdown-list-width: 150px;

:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 1px;
  background-color: $lcc-color--bg-nav;
  height: $lcc-height--nav;
}

.nav-left,
.nav-right,
.nav-login-spacer {
  flex: 1;
  border-bottom: 2px solid darken($lcc-color--bg-main, 10%);
}

.nav-left,
.nav-right {
  min-width: $lcc-space--md;
}

.nav-items-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  max-width: $lcc-width--app-content;
  min-width: 290px; // To ensure login link never overlaps with other links 
  
  a,
  .lcc-dropdown-tab {
    border-top: 2px solid $lcc-color--transparent-fully;
    border-top-left-radius: $lcc-border-radius--lg;
    border-top-right-radius: $lcc-border-radius--lg;
  }

  a {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    font-size: $h4;
    font-weight: 400;
    height: auto;
    color: $lcc-color--text-primary-black;
    padding: 6px;

    .text {
      display: none;
      visibility: hidden;
      color: $lcc-color--text-primary-black;
    }

    .icon {
      height: 20px;
      width: 20px;
    }

    @include respond-to('gt-sm') {
      padding: 6px $lcc-space--sm;
    }

    @include respond-to('gt-md') {
      // Set padding so that height is kept constant on breakpoint transitions
      padding: 10px $lcc-space--sm;

      .icon {
        display: none;
        visibility: hidden;
      }

      .text {
        display: block;
        visibility: unset;
      }
    }
  
    &:hover,
    &:focus {
      color: lighten($lcc-color--text-primary-black, 10%);
      background-color: darken($lcc-color--bg-nav, 5%);
      text-decoration: none;
    }
  
    &.link-active {
      cursor: default;
      pointer-events: none;
      box-shadow: 1px 1px 6px 4px $lcc-color--bg-main inset;
      border-top: 2px solid darken($lcc-color--bg-main, 10%);
      border-left: 2px solid darken($lcc-color--bg-main, 10%);
      border-right: 2px solid darken($lcc-color--bg-main, 10%);
      border-bottom: 2px solid $lcc-color--bg-main;
    }

    &:not(.link-active) {
      border-bottom: 2px solid darken($lcc-color--bg-main, 10%);
    }
  }

  .lcc-dropdown-tab {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: $dropdown-tab-width;
    padding: $lcc-space--xs $lcc-space--sm;
    font-size: $h5;
    color: $lcc-color--text-primary-black;
    border-bottom: 2px solid darken($lcc-color--bg-main, 10%);

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: darken($lcc-color--bg-nav, 5%);
    }

    .chevron-icon {
      height: 14px;
      width: 14px;
    }
  }

  .user-dropdown {
    visibility: hidden;
    display: none;
    position: absolute;
    top: $lcc-height--nav - $lcc-space--xs;
    left: $dropdown-tab-width - $dropdown-list-width;
    z-index: 100;
    box-shadow: $lcc-box-shadow;
    border-bottom-left-radius: $lcc-border-radius--sm;
    border-bottom-right-radius: $lcc-border-radius--sm;

    &.lcc-dropdown-open {
      visibility: visible;
      display: flex;
      flex-flow: column nowrap;
    }

    .admin-welcome-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      gap: $lcc-space--xs;
      padding: $lcc-space--sm;
      background-color: darken($lcc-color--primary, 15%);
      color: $lcc-color--text-primary-white;
      border-top-left-radius: $lcc-border-radius--sm;
      border-top-right-radius: $lcc-border-radius--sm;

      .admin-name {
        color: $lcc-color--text-primary-white;
      }

      .admin-user-icon {
        height: 15px;
        width: 15px;
      }
    }
    
    .dropdown-items {
      display: flex;
      flex-flow: column nowrap;
      width: $dropdown-list-width;
      font-size: $h5;
      background-color: lighten($lcc-color--bg-nav, 5%);
      border-bottom-left-radius: $lcc-border-radius--sm;
      border-bottom-right-radius: $lcc-border-radius--sm;
  
      a {
        padding: $lcc-space--sm;
        border: unset;
        border-radius: unset;
        
        &:last-child {
          border-bottom-left-radius: $lcc-border-radius--sm;
          border-bottom-right-radius: $lcc-border-radius--sm;
        }

        &:hover {
          background-color: darken($lcc-color--bg-nav, 5%);
        }
      }
    }
  }
}
