@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

$dropdown-tab-width: 60px;
$dropdown-list-width: 170px;

:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 1px;
  background-color: $lcc-color--bg-nav;
  height: $lcc-height--nav;
}

i-feather {
  height: 20px;
  width: 20px;
}

.nav-left,
.nav-right,
.nav-login-spacer {
  flex: 1;
  border-bottom: 2px solid darken($lcc-color--bg-main, 10%);
}

.nav-left,
.nav-right {
  min-width: $lcc-space--md;
}

.nav-items-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  max-width: $lcc-width--app-content;
  min-width: 290px; // To ensure login link never overlaps with other links 
  
  .nav-link,
  .lcc-dropdown-tab {
    border-top: 2px solid $lcc-color--transparent-fully;
    border-top-left-radius: $lcc-border-radius--lg;
    border-top-right-radius: $lcc-border-radius--lg;
  }

  .nav-link {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    font-size: $h4;
    font-weight: 400;
    height: auto;
    color: $lcc-color--text-primary-black;
    padding: 6px;

    .text {
      display: none;
      visibility: hidden;
      color: $lcc-color--text-primary-black;
    }

    @include respond-to('gt-sm') {
      padding: 6px $lcc-space--sm;
    }

    @include respond-to('gt-md') {
      // Set padding so that height is kept constant on breakpoint transitions
      padding: 10px $lcc-space--sm;

      i-feather {
        display: none;
        visibility: hidden;
      }

      .text {
        display: block;
        visibility: unset;
      }
    }
  
    &:hover,
    &:focus {
      color: lighten($lcc-color--text-primary-black, 10%);
      background-color: darken($lcc-color--bg-nav, 5%);
      text-decoration: none;
    }
  
    &.link-active {
      cursor: default;
      pointer-events: none;
      box-shadow: 1px 1px 6px 4px $lcc-color--bg-main inset;
      border-top: 2px solid darken($lcc-color--bg-main, 10%);
      border-left: 2px solid darken($lcc-color--bg-main, 10%);
      border-right: 2px solid darken($lcc-color--bg-main, 10%);
      border-bottom: 2px solid $lcc-color--bg-main;
    }

    &:not(.link-active) {
      border-bottom: 2px solid darken($lcc-color--bg-main, 10%);
    }
  }

  .lcc-dropdown-tab {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: $lcc-space--xs;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: $dropdown-tab-width;
    padding: $lcc-space--xs $lcc-space--sm;
    font-size: $h5;
    color: $lcc-color--text-primary-black;
    border-bottom: 2px solid darken($lcc-color--bg-main, 10%);

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: darken($lcc-color--bg-nav, 5%);
    }

    .chevron-icon {
      height: 14px;
      width: 14px;
    }
  }

  .user-dropdown {
    visibility: hidden;
    display: none;
    position: absolute;
    top: $lcc-height--nav - $lcc-space--xs;
    left: $dropdown-tab-width - $dropdown-list-width;
    z-index: 100;
    box-shadow: $lcc-box-shadow;
    border-bottom-left-radius: $lcc-border-radius--sm;
    border-bottom-right-radius: $lcc-border-radius--sm;

    &.lcc-dropdown-open {
      visibility: visible;
      display: flex;
      flex-flow: column nowrap;
    }
    
    .dropdown-items {
      cursor: default;
      display: flex;
      flex-flow: column nowrap;
      width: $dropdown-list-width;
      background-color: lighten($lcc-color--bg-nav, 5%);
      border-bottom-left-radius: $lcc-border-radius--sm;
      border-bottom-right-radius: $lcc-border-radius--sm;

      .dropdown-item {
        display: flex;
        flex-direction: row;
        align-items: center;

        &.user-name {
          flex: 1;
          justify-content: center;
          border-bottom: 1px solid transparentize($lcc-color--grey, 0.7);
          padding-bottom: $lcc-space--xs;
          margin: $lcc-space--xs;
        }

        span {
          font-size: $h4;
          padding: $lcc-space--sm;
        }

        a {
          flex: 1;

          &:hover > * {
            cursor: pointer;
            background-color: darken($lcc-color--bg-nav, 5%);
            color: black;
          }

          span {
            display: block;
          }
        } 
      }
    }
  }
}
