<div class="nav-left"></div>

<div class="nav-items-container">
	<a aria-label="Home"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.HOME"
		 [routerLinkActiveOptions]="{ exact: true }"
		 [tooltip]="screenWidth < tooltipScreenWidthCutoff ? 'Home' : null"
		 (click)="facade.onSelectHomeTab()">
		<span class="lcc-gt-md">Home</span>
		<cds-icon class="lcc-lt-md"
							shape="home"
							size="md">
		</cds-icon>
	</a>

	<a aria-label="Members"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.MEMBERS"
		 [tooltip]="screenWidth < tooltipScreenWidthCutoff ? 'Members' : null"
		 (click)="facade.onSelectMembersTab()">
		<span class="lcc-gt-md">Members</span>
		<cds-icon class="lcc-lt-md"
							shape="users"
							size="md">
		</cds-icon>
	</a>

	<a aria-label="Schedule"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.SCHEDULE"
		 [tooltip]="screenWidth < tooltipScreenWidthCutoff ? 'Schedule' : null"
		 (click)="facade.onSelectScheduleTab()">
		<span class="lcc-gt-md">Schedule</span>
		<cds-icon class="lcc-lt-md"
							shape="event"
							size="md">
		</cds-icon>
	</a>

	<a aria-label="News"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.NEWS"
		 [tooltip]="screenWidth < tooltipScreenWidthCutoff ? 'News' : null"
		 (click)="facade.onSelectNewsTab()">
		<span class="lcc-gt-md">News</span>
		<cds-icon class="lcc-lt-md"
							shape="announcement"
							size="md">
		</cds-icon>
	</a>

	<a aria-label="London Chess Champion"
		 [routerLink]="NavPathTypes.LONDON_CHESS_CHAMPION"
		 [tooltip]="screenWidth < tooltipScreenWidthCutoff ? 'London Chess Champion' : null"
		 routerLinkActive="link-active"
		 (click)="facade.onSelectLondonChessChampionTab()">
		<span class="lcc-gt-md">London&nbsp;Chess&nbsp;Champion</span>
		<cds-icon class="lcc-lt-md"
							shape="crown"
							size="md">
		</cds-icon>
	</a>

	<a aria-label="Photo Gallery"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.PHOTO_GALLERY"
		 [tooltip]="screenWidth < tooltipScreenWidthCutoff ? 'Photo Gallery' : null"
		 (click)="facade.onSelectPhotoGalleryTab()">
		<span class="lcc-gt-md">Photo&nbsp;Gallery</span>
		<cds-icon class="lcc-lt-md"
							shape="image-gallery"
							size="md">
		</cds-icon>
	</a>

	<a aria-label="About"
		 routerLinkActive="link-active"
		 [routerLink]="NavPathTypes.ABOUT"
		 [tooltip]="screenWidth < tooltipScreenWidthCutoff ? 'About' : null"
		 (click)="facade.onSelectAboutTab()">
		<span class="lcc-gt-md">About</span>
		<cds-icon class="lcc-lt-md"
							shape="unknown-status"
							size="md">
		</cds-icon>
	</a>

	<div class="nav-login-spacer"></div>

	<ng-container *ngIf="facade.user$ | async; else loggedOut">
		<div class="user-account-dropdown ddcomp">
			<div class="dropdown-tab ddcomp"
					 [ngClass]="(facade.isDropdownOpen$ | async) ? 'dropdown-open' : 'dropdown-closed'"
					 (click)="facade.onToggleDropdown()">
				<cds-icon class="ddcomp"
									shape="angle"
									size="xs"
									[attr.flip]="(facade.isDropdownOpen$ | async) ? undefined : 'vertical'">
				</cds-icon>
				<cds-icon class="ddcomp"
									shape="user"
									size="md">
				</cds-icon>
			</div>

			<ul *ngIf="facade.isDropdownOpen$ | async"
					class="dropdown-items ddcomp">
				<li class="login-welcome ddcomp">
					<small class="ddcomp">Logged in as</small>
					<div class="admin-text ddcomp">
						<span class="ddcomp">Admin</span>
						<cds-icon class="ddcomp"
											shape="administrator"
											size="sm">
						</cds-icon>
					</div>
				</li>
				<li (click)="facade.onChangePassword()">
					Change password
				</li>
				<li class="last-item"
						(click)="facade.onLogOut()">
					Log out
				</li>
			</ul>
		</div>
	</ng-container>

	<ng-template #loggedOut>
		<a class="login-link"
			 aria-label="Login"
			 routerLinkActive="link-active"
			 [routerLink]="NavPathTypes.LOGIN"
			 [tooltip]="screenWidth < tooltipScreenWidthCutoff ? 'Login' : null"
			 (click)="facade.onSelectLoginTab()">
			<span class="lcc-gt-md">Login</span>
			<cds-icon class="lcc-lt-md"
								shape="user"
								size="md">
			</cds-icon>
		</a>
	</ng-template>
</div>

<div class="nav-right"></div>
