@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';

/* Viewport breakpoint map */
$breakpoints: (
  'lt-xxs': (
    max-width: 350px,
  ),
  'gt-xxs': (
    min-width: 350px,
  ),
  'lt-xs': (
    max-width: 420px,
  ),
  'gt-xs': (
    min-width: 420px,
  ),
  'lt-sm': (
    max-width: 500px,
  ),
  'gt-sm': (
    min-width: 500px,
  ),
  'lt-md': (
    max-width: 700px,
  ),
  'gt-md': (
    min-width: 700px,
  ),
  'lt-lg': (
    max-width: 1000px,
  ),
  'gt-lg': (
    min-width: 1000px,
  ),
  'lt-xl': (
    max-width: 1200px,
  ),
  'gt-xl': (
    min-width: 1200px,
  ),
  'lt-xxl': (
    max-width: 1500px,
  ),
  'gt-xxl': (
    min-width: 1500px,
  ),
);

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map.get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: null;
    @if meta.type-of($raw-query) == 'string' {
      $query: meta.unquote($raw-query);
    } @else {
      $query: meta.inspect($raw-query);
    }

    @media #{$query} {
      @content;
    }
  } @else {
    @error '[LCC] Value `#{$breakpoint}` is not defined in `$breakpoints` map';
  }
}

@mixin icon-size($size) {
  vertical-align: text-bottom;
  width: $size;
  min-width: $size;
  height: $size;
  font-size: $size;
}
