<lcc-page-header
  title="City Champion"
  icon="emoji_events">
</lcc-page-header>

<section class="grid-container">
  <article class="cup">
    <figure class="lcc-figure cup-figure">
      <div class="image-container">
        <img
          [image]="{
            originalUrl: 'assets/london-chess-champion/championship-cup.jpg',
            width: 450,
            height: 600,
            caption: 'Championship Cup',
          }" />
      </div>
      <figcaption>The Championship Cup</figcaption>
    </figure>
  </article>

  <article class="champion-2023">
    <figure class="lcc-figure 2023-champion-figure">
      <div class="image-container">
        <img
          [image]="{
            originalUrl: 'assets/london-chess-champion/2023-champion.png',
            width: 609,
            height: 906,
            caption: '2023 London Chess Champion',
          }" />
      </div>
      <figcaption>
        2023&nbsp;London Chess&nbsp;Champion<br />
        <b>Serhii Ivanchuk</b>
      </figcaption>
    </figure>
  </article>

  <article class="trophies-2023">
    <figure class="lcc-figure 2023-championship-trophies">
      <div class="image-container">
        <img
          [image]="{
            originalUrl: 'assets/london-chess-champion/2023-championship-trophies.png',
            width: 957,
            height: 637,
            caption: '2023 Championship Trophies',
          }" />
      </div>
      <figcaption>2023 Championship Trophies</figcaption>
    </figure>
  </article>

  <article class="champion-2019">
    <figure class="lcc-figure 2019-champion-figure">
      <div class="image-container">
        <img
          [image]="{
            originalUrl: 'assets/london-chess-champion/2019-champion.jpg',
            width: 356,
            height: 600,
            caption: '2019 London Chess Champion',
          }" />
      </div>
      <figcaption>
        2019&nbsp;London Chess&nbsp;Champion<br />
        <b>Kevin Gibson</b>
      </figcaption>
    </figure>
  </article>

  <article class="championship-match-2022">
    <figure class="lcc-figure 2022-championship-match-figure">
      <div class="image-container">
        <img
          [image]="{
            originalUrl: 'assets/london-chess-champion/2022-championship-match.png',
            width: 600,
            height: 300,
            caption: '2022 Championship Match',
          }" />
      </div>
      <figcaption>
        2022&nbsp;Championship&nbsp;Match<br />
        <b>Carl Ehrman</b> vs. <b>Geoffrey Ruelland</b>
      </figcaption>
    </figure>
  </article>

  <article class="history">
    <p>
      Every fall, chess players from around London and the surrounding region gather to
      compete for the title of <b>London Chess Champion</b>.
    </p>
    <p>
      Peter Murray won the inaugural tournament in 1967, and defended his title the
      following year. Since then, the trophy has changed hands over 20 times, with 17
      different players crowned champion to date.
    </p>
    <p>
      In 2024, <b>Serhii Ivanchuk (2195)</b> successfully defended his crown against
      runner-up Emilio Ramirez.
    </p>
  </article>

  <article class="past-winners">
    <h3>Past winners</h3>
    <table class="lcc-table">
      <thead>
        <th>Year</th>
        <th>Winner</th>
      </thead>
      <tbody>
        @for (
          championship of pastChampionships;
          track championship.year;
          let first = $first
        ) {
          <tr>
            <td [style]="championship.style">{{ championship.year }}</td>
            <td [style]="championship.style">
              @if (first) {
                <mat-icon class="championship-icon">emoji_events</mat-icon>
              }
              <span>{{ championship.winner }}</span>
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td colspan="100%">Club formed c.1965</td>
        </tr>
      </tfoot>
    </table>
  </article>
</section>

<lcc-link-list [links]="links"></lcc-link-list>
