@use '../../../styles/abstracts/mixins' as *;

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'history'
    'trophies-photo'
    'other-photos'
    'standard-champs'
    'other-champs';
  gap: 8px;

  @include respond-to('gt-md') {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'history trophies-photo'
      'other-photos other-photos'
      'standard-champs standard-champs'
      'other-champs other-champs';
  }

  @include respond-to('gt-lg') {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'history history trophies-photo trophies-photo'
      'other-photos other-photos other-photos other-photos'
      'standard-champs standard-champs other-champs other-champs';
  }

  article {
    place-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding: 16px;
    border: 1px solid var(--lcc-color--championPage-cellBorder);
    background-color: var(--lcc-color--championPage-cellBackground);

    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: contain;
    }

    @include respond-to('gt-sm') {
      border-radius: var(--lcc-borderRadius--small);

      img {
        max-height: 350px;
      }
    }

    &.history {
      grid-area: history;

      p {
        margin: 0.5em 0;
        color: var(--lcc-color--championPage-primaryText);

        b {
          color: var(--lcc-color--championPage-primaryTextBold);
        }
      }
    }

    &.trophies-photo {
      grid-area: trophies-photo;
    }

    &.other-photos {
      grid-area: other-photos;
      justify-content: center;
      align-items: start;
      display: flex;
      flex-flow: row wrap;
    }

    &.standard-championship {
      grid-area: standard-champs;
    }

    &.other-championships {
      grid-area: other-champs;
      display: flex;
      flex-direction: column;

      .tables-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        section {
          flex: 1;

          .expansion-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 16px 8px;
            border-radius: 4px;
            transition: background-color 0.3s;

            &:hover {
              background-color: var(
                --lcc-color--championPage-expansionHeaderBackgroundOnHover
              );
            }

            h4 {
              text-align: center;
              margin-bottom: 4px;
              font-size: 15px;
              color: var(--lcc-color--championPage-primaryText);

              b {
                margin: 0 4px;
              }
            }

            mat-icon {
              @include icon-size(16px);

              color: var(--lcc-color--championPage-primaryText);
            }
          }
        }
      }
    }

    &.standard-championship,
    &.other-championships {
      h3 {
        width: 100%;
        text-align: left;
        color: var(--lcc-color--championPage-headerText);
      }

      hr {
        width: 100%;
        margin: 0 0 8px;
        border-bottom: 1px solid var(--lcc-color--general-dividerLine);
      }

      table {
        width: 100%;
        tfoot tr td {
          text-align: center;
        }

        .championship-icon {
          @include icon-size(16px);

          margin-right: 4px;
          color: var(--lcc-color--championPage-championshipIcon);
        }
      }
    }

    .winner-peak-rating {
      font-size: 0.9em;
      color: var(--lcc-color--championPage-secondaryText);
    }
  }
}
