<lcc-page-header
  title="City Champion"
  icon="emoji_events">
</lcc-page-header>

<section class="grid-container">
  <article class="trophies-photo">
    <figure class="lcc-figure 2023-championship-trophies">
      <div class="image-container">
        <img
          [image]="{
            originalUrl: 'assets/london-chess-champion/2023-championship-trophies.png',
            width: 957,
            height: 637,
            caption: '2023 Championship Trophies',
          }" />
      </div>
      <figcaption>2023 Championship Trophies</figcaption>
    </figure>
  </article>

  <article class="other-photos">
    <figure class="lcc-figure 2023-champion-figure">
      <div class="image-container">
        <img
          [image]="{
            originalUrl: 'assets/london-chess-champion/2023-champion.png',
            width: 609,
            height: 906,
            caption: '2023 London Chess Champion',
          }" />
      </div>
      <figcaption>
        2023&nbsp;London Chess&nbsp;Champion<br />
        <b>Serhii Ivanchuk</b>
      </figcaption>
    </figure>

    <figure class="lcc-figure cup-figure">
      <div class="image-container">
        <img
          [image]="{
            originalUrl: 'assets/london-chess-champion/championship-cup.jpg',
            width: 450,
            height: 600,
            caption: 'Championship Cup',
          }" />
      </div>
      <figcaption>The Championship Cup</figcaption>
    </figure>

    <figure class="lcc-figure 2019-champion-figure">
      <div class="image-container">
        <img
          [image]="{
            originalUrl: 'assets/london-chess-champion/2019-champion.jpg',
            width: 356,
            height: 600,
            caption: '2019 London Chess Champion',
          }" />
      </div>
      <figcaption>
        2019&nbsp;London Chess&nbsp;Champion<br />
        <b>Kevin Gibson</b>
      </figcaption>
    </figure>

    <figure class="lcc-figure 2022-championship-match-figure">
      <div class="image-container">
        <img
          [image]="{
            originalUrl: 'assets/london-chess-champion/2022-championship-match.png',
            width: 600,
            height: 300,
            caption: '2022 Championship Match',
          }" />
      </div>
      <figcaption>
        2022&nbsp;Championship&nbsp;Match<br />
        <b>Carl Ehrman</b> vs. <b>Geoffrey Ruelland</b>
      </figcaption>
    </figure>
  </article>

  <article class="history">
    <p>
      Every fall, chess players from around London and the surrounding region gather to
      compete for the title of <b>London Chess Champion</b>.
    </p>
    <p>
      Peter Murray won the inaugural tournament in 1967, and defended his title the
      following year. Since then, the trophy has changed hands over 20 times, with 17
      different players crowned champion to date.
    </p>
    <p>
      In 2024, <b>Serhii Ivanchuk (2195)</b> successfully defended his crown against
      runner-up Emilio Ramirez.
    </p>
  </article>

  <article class="standard-championship">
    <h3>Past champions</h3>
    <hr />
    <table class="lcc-table">
      <thead>
        <th>Year</th>
        <th>Winner</th>
      </thead>
      <tbody>
        @for (
          championship of standardChampionships;
          track championship.year;
          let first = $first
        ) {
          <tr>
            <td [style]="championship.textStyle">{{ championship.year }}</td>
            <td [style]="championship.textStyle">
              @if (first) {
                <mat-icon class="championship-icon">emoji_events</mat-icon>
              }
              @for (winner of championship.winners; track winner.name; let last = $last) {
                <span class="winner-name">
                  {{ winner.name }}
                  @if (winner.peakRating) {
                    <span class="winner-peak-rating">({{ winner.peakRating }})</span>
                  }
                  @if (!last) {
                    <span>, </span>
                  }
                </span>
              }
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td colspan="100%">Club formed c.1965</td>
        </tr>
      </tfoot>
    </table>
  </article>

  <article class="other-championships">
    <h3>Other championships (held until 2019)</h3>
    <hr />
    <div class="tables-container">
      <section class="junior-champions">
        <div
          class="expansion-header"
          (click)="juniorPanelExpanded = !juniorPanelExpanded">
          <h4
            >Past winners of <b>Junior Championship</b> (1996&nbsp;&mdash;&nbsp;2011)</h4
          >
          <mat-icon>{{ juniorPanelExpanded ? 'expand_more' : 'expand_less' }}</mat-icon>
        </div>
        @if (juniorPanelExpanded) {
          <table class="lcc-table">
            <thead>
              <th>Year</th>
              <th>Winner</th>
            </thead>
            <tbody>
              @for (
                championship of juniorChampionships;
                track championship.year;
                let first = $first
              ) {
                <tr>
                  <td [style]="championship.textStyle">{{ championship.year }}</td>
                  <td [style]="championship.textStyle">
                    @for (
                      winner of championship.winners;
                      track winner.name;
                      let last = $last
                    ) {
                      <span class="winner-name">
                        {{ winner.name }}
                        @if (winner.peakRating) {
                          <span class="winner-peak-rating"
                            >({{ winner.peakRating }})</span
                          >
                        }
                        @if (!last) {
                          <span>, </span>
                        }
                      </span>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }
      </section>

      <section class="active-champions">
        <div
          class="expansion-header"
          (click)="activePanelExpanded = !activePanelExpanded">
          <h4>
            Past winners of <b>Active Championship</b> (1994&nbsp;&mdash;&nbsp;2019)
          </h4>
          <mat-icon>{{ activePanelExpanded ? 'expand_more' : 'expand_less' }}</mat-icon>
        </div>
        @if (activePanelExpanded) {
          <table class="lcc-table">
            <thead>
              <th>Year</th>
              <th>Winner</th>
            </thead>
            <tbody>
              @for (
                championship of activeChampionships;
                track championship.year;
                let first = $first
              ) {
                <tr>
                  <td [style]="championship.textStyle">{{ championship.year }}</td>
                  <td [style]="championship.textStyle">
                    @for (
                      winner of championship.winners;
                      track winner.name;
                      let last = $last
                    ) {
                      <span class="winner-name">
                        {{ winner.name }}
                        @if (winner.peakRating) {
                          <span class="winner-peak-rating"
                            >({{ winner.peakRating }}*)</span
                          >
                        }
                        @if (!last) {
                          <span>, </span>
                        }
                      </span>
                    }
                  </td>
                </tr>
              }
            </tbody>
            <tfoot>
              <tr>
                <td colspan="100%">* peak active rating (no longer maintained)</td>
              </tr>
            </tfoot>
          </table>
        }
      </section>

      <section class="speed-champions">
        <div
          class="expansion-header"
          (click)="speedPanelExpanded = !speedPanelExpanded">
          <h4>Past winners of <b>Speed Championship</b> (1993&nbsp;&mdash;&nbsp;2019)</h4>
          <mat-icon>{{ speedPanelExpanded ? 'expand_more' : 'expand_less' }}</mat-icon>
        </div>
        @if (speedPanelExpanded) {
          <table class="lcc-table">
            <thead>
              <th>Year</th>
              <th>Winner</th>
            </thead>
            <tbody>
              @for (
                championship of speedChampionships;
                track championship.year;
                let first = $first
              ) {
                <tr>
                  <td [style]="championship.textStyle">{{ championship.year }}</td>
                  <td [style]="championship.textStyle">
                    @for (
                      winner of championship.winners;
                      track winner.name;
                      let last = $last
                    ) {
                      <span class="winner-name">
                        {{ winner.name }}
                        @if (winner.peakRating) {
                          <span class="winner-peak-rating"
                            >({{ winner.peakRating }}*)</span
                          >
                        }
                        @if (!last) {
                          <span>, </span>
                        }
                      </span>
                    }
                  </td>
                </tr>
              }
            </tbody>
            <tfoot>
              <tr>
                <td colspan="100%">* peak active rating (no longer maintained)</td>
              </tr>
            </tfoot>
          </table>
        }
      </section>
    </div>
  </article>
</section>
