@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

@mixin dark-bg {
  background-color: darken($lcc-color--bg-grid-item, 2%);
  border: 2px solid darken($lcc-color--bg-grid-item, 4%);
}

:host {
  display: flex;
  justify-content: center;
}

.container {
  max-width: $lcc-width--app-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: $lcc-space--sm;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    'about'
    'membership'
    'supplies'
    'ratings'
    'parking'
    'rules'
    'tournaments'
    'leadership';
  gap: $lcc-space--xs;

  @include respond-to('gt-md') {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'about about'
      'membership supplies'
      'parking ratings'
      'rules tournaments'
      'leadership leadership';
  }
}

article {
  place-self: stretch;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: $lcc-space--sm;
  border-radius: $lcc-border-radius--sm;
  background-color: lighten($lcc-color--bg-grid-item, 2%);
  padding: $lcc-space--md $lcc-space--lg;

  &.about {
    grid-area: about;
    padding: unset;
    display: flex;
    flex-flow: row wrap;

    // Adjust divider line colour for the
    // background colour used in this screen
    ::ng-deep {
      lcc-about {
        hr {
          border-color: lighten($lcc-color--gray, 25%);
        }
      }
    }
  }
  
  &.membership {
    grid-area: membership;
    @include dark-bg;
  }
  
  &.supplies {
    grid-area: supplies;
  }
  
  &.parking {
    grid-area: parking;
  }
  
  &.ratings {
    grid-area: ratings;
    @include dark-bg;
  }
  
  &.rules {
    grid-area: rules;
    @include dark-bg;
  }
  
  &.tournaments {
    grid-area: tournaments;
  }
  
  &.leadership {
    grid-area: leadership;
  
    @include respond-to('lt-md') {
      @include dark-bg;
    }

    .leadership-roles {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
  
      @include respond-to('gt-sm') {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
      }
  
      li {
        font-size: $h4;
        padding: 3px;
      }
    }
  }

  h3 {
    font-weight: 400;
    color: $lcc-color--text-secondary;
  }
}
