<div class="container">
  <lcc-screen-header
    title="About"
    icon="info">
  </lcc-screen-header>

  <section class="grid-container">
    <article class="membership">
      <h3>Membership Fee</h3>
      <p>
        $40 per year (calculated pro rata), meaning you only pay for the remainder of the
        current calendar year (Jan&nbsp;1st &ndash; Dec&nbsp;31st).
      </p>
    </article>

    <article class="supplies">
      <h3>Chess Supplies</h3>
      <p>
        Please bring your own chess sets and clocks. New to chess? No problem! We have
        supplies available for sale at the club. Contact
        <a
          href="mailto:chesslessons@mail.com"
          class="lcc-link"
          rel="noopener noreferrer"
          target="_blank">
          Steve Demmery </a
        >for more information.
      </p>
    </article>

    <article class="parking">
      <h3>Parking</h3>
      <p>
        There is plenty of parking space available behind the building, free of charge
        during chess club hours.
      </p>
    </article>

    <article class="ratings">
      <h3>Chess Ratings</h3>
      <p>
        We use our own London & Region rating system, managed by Gerry Litchfield. Current
        ratings can be found
        <a
          class="lcc-link"
          [routerLink]="'/' + NavPathTypes.MEMBERS">
          here</a
        >.
      </p>
    </article>

    <article class="rules">
      <h3>Rules of the Game</h3>
      <p>
        For tournaments we generally follow the
        <a
          href="https://handbook.fide.com/chapter/E012018"
          class="lcc-link"
          rel="noopener noreferrer"
          target="_blank">
          laws of chess</a
        >, set by the International Chess Federation (FIDE). Notable differences are the
        <i>touch-move</i> rule: we enforce touch-move during rated rapid tournaments but
        <i>clock-move</i> for our casual blitz tournaments.
      </p>
      <p>
        Members are encouraged to try to resolve any disputes with their opponents before
        seeking arbitration. If you would like to speak to an arbiter, pause the clock and
        raise your hand to get their attention.
      </p>
    </article>

    <article class="tournaments">
      <h3>Tournaments</h3>
      <p>
        Chess tournaments are held throughout the year. These include casual blitz
        tournaments, rapid tournaments, and the London Chess Championship held in the
        fall. Our Blitz tournaments are unrated and free to play, with a time control of
        10+0 (10 minutes for each player, with no increment after each move). Our Active
        tournaments are rated with a time control of 25+0. For our rated tournaments there
        is a nominal entry fee (usually $10) that goes towards the prize pool and covers
        any expenses in organizing the event.
      </p>
      <p>
        See
        <a
          class="lcc-link"
          [routerLink]="'/' + NavPathTypes.SCHEDULE">
          schedule
        </a>
        for a list of upcoming events.
      </p>
    </article>

    <article class="leadership">
      <h3>Club Leadership</h3>
      <div class="tables-container">
        <table class="lcc-table executive-committee">
          <thead>
            <th colspan="2">Executive Committee</th>
          </thead>
          <tbody>
            <tr>
              <td>President</td>
              <td>Hardik Shrestha</td>
            </tr>
            <tr>
              <td>Vice President</td>
              <td>Gregory Wei</td>
            </tr>
            <tr>
              <td>Treasurer</td>
              <td>Gerry Litchfield</td>
            </tr>
            <tr>
              <td>Tournament Director</td>
              <td>Ryan Sarson</td>
            </tr>
          </tbody>
        </table>
        <table class="lcc-table board-of-directors">
          <thead>
            <th colspan="2">Board of Directors</th>
          </thead>
          <tbody>
            <tr>
              <td>Director</td>
              <td>Steve Demmery</td>
            </tr>
            <tr>
              <td>Director</td>
              <td>Leroy Gibson</td>
            </tr>
            <tr>
              <td>Director <span class="chair">(chair)</span></td>
              <td>Mike Harris</td>
            </tr>
            <tr>
              <td>Director</td>
              <td>Edgar Zapata</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        Every December we hold our Annual General Meeting (AGM) where we look back on the
        past year, review the club's finances, and elect any new board & committee members
        for the following year. All club members are invited to attend the AGM &ndash; see
        <a
          class="lcc-link"
          [routerLink]="'/' + NavPathTypes.SCHEDULE">
          schedule
        </a>
        for exact dates.
      </p>
      <p>
        The board of directors meets monthly to go over the club's finances, plan out
        future events, and discuss any proposals brought forward by the club's members.
        You can read minutes from the meetings, as well as the LCC bylaws
        <a
          class="lcc-link"
          [routerLink]="'/' + NavPathTypes.DOCUMENTS">
          here.
        </a>
      </p>
      <p>
        This website is maintained by Michal Wiraszka. To request a change, please
        <a
          href="https://github.com/mwiraszka/LondonChessClub/issues"
          class="lcc-link"
          rel="noopener noreferrer"
          target="_blank">
          submit a new issue
        </a>
        on the repository GitHub page,
        <a
          href="mailto:welcome@londonchess.ca"
          class="lcc-link"
          rel="noopener noreferrer"
          target="_blank">
          email me</a
        >, or find me at the club!
      </p>
    </article>
  </section>
</div>
