@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

lcc-screen-header {
  @include respond-to('lt-sm') {
    font-size: $h4;
  }

  @include respond-to('lt-xs') {
    font-size: calc(#{$h4} - 1px);
  }
}

section {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'grid-item-1 grid-item-1'
    'grid-item-2 grid-item-3'
    'grid-item-4 grid-item-5'
    'grid-item-6 grid-item-7'
    'grid-item-8 grid-item-8';

  @include respond-to('lt-md') {
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
      'grid-item-1'
      'grid-item-2'
      'grid-item-3'
      'grid-item-5'
      'grid-item-4'
      'grid-item-6'
      'grid-item-7'
      'grid-item-8';
  }

  article {
    h4 {
      margin-top: 8px !important;
      text-align: center;
    }

    .lcc-link {
      font-size: inherit;
    }
  }
}

.about-committee {
  .committee {
    font-size: $h5;

    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

    @include respond-to('lt-md') {
      columns: 1 !important;
      -webkit-columns: 1 !important;
      -moz-columns: 1 !important;
    }
  }
}

cds-icon {
  padding: 1px !important;
}
