@import '../../../styles/abstracts/mixins';

:host {
  display: flex;
  justify-content: center;
}

.container {
  max-width: var(--lcc-width--appContent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    'membership'
    'supplies'
    'ratings'
    'parking'
    'rules'
    'tournaments'
    'leadership';
  gap: 4px;

  @include respond-to('gt-md') {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'membership supplies'
      'parking ratings'
      'rules tournaments'
      'leadership leadership';
  }

  @include respond-to('gt-lg') {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'membership supplies ratings'
      'parking rules tournaments'
      'leadership leadership leadership';
  }
}

article {
  place-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: var(--lcc-borderRadius--small);
  border: 2px solid var(--lcc-color--aboutScreen-cellBorder);
  padding: 16px 32px;

  &.membership {
    grid-area: membership;
    background-color: var(--lcc-color--aboutScreen-darkCellBackground);
  }

  &.supplies {
    grid-area: supplies;
    background-color: var(--lcc-color--aboutScreen-lightCellBackground);
  }

  &.parking {
    grid-area: parking;
    background-color: var(--lcc-color--aboutScreen-lightCellBackground);
  }

  &.ratings {
    grid-area: ratings;
    background-color: var(--lcc-color--aboutScreen-darkCellBackground);
  }

  &.rules {
    grid-area: rules;
    background-color: var(--lcc-color--aboutScreen-darkCellBackground);
  }

  &.tournaments {
    grid-area: tournaments;
    background-color: var(--lcc-color--aboutScreen-lightCellBackground);
  }

  &.leadership {
    grid-area: leadership;
    background-color: var(--lcc-color--aboutScreen-lightCellBackground);

    @include respond-to('lt-md') {
      background-color: var(--lcc-color--aboutScreen-darkCellBackground);
    }

    .tables-container {
      display: flex;
      flex-flow: row wrap;
      gap: 16px;
      margin: 16px 0;

      table {
        min-width: 300px;
        flex: 1 1 0;

        td {
          width: 50%;
          vertical-align: middle;
        }
      }
    }
  }

  h3 {
    font-weight: 400;
    color: var(--lcc-color--aboutScreen-sectionHeaderText);
  }

  p {
    color: var(--lcc-color--aboutScreen-text);
  }
}
