.container {
  display: flex;
  justify-content: center;
  padding: 2px 16px;
  border-bottom: 1px solid var(--lcc-color--eventAlert-borderBottom);

  &.blitz-tournament {
    background-color: var(--lcc-color--eventAlert-background-blitzTournament);
  }

  &.rapid-tournament {
    background-color: var(--lcc-color--eventAlert-background-rapidTournament);
  }

  &.active-tournament {
    background-color: var(--lcc-color--eventAlert-background-activeTournament);
  }

  &.lecture {
    background-color: var(--lcc-color--eventAlert-background-lecture);
  }
  
  &.simul {
    background-color: var(--lcc-color--eventAlert-background-simul);
  }

  &.championship {
    background-color: var(--lcc-color--eventAlert-background-championship);
  }

  &.other {
    background-color: var(--lcc-color--eventAlert-background-other);
  }

  &.closed {
    background-color: var(--lcc-color--eventAlert-background-closed);
  }
}

.alert-message-container {
  flex: 1;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: var(--lcc-width--appContent);
}

.alert-message {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--lcc-color--eventAlert-text);
  font-size: var(--lcc-fontSize--h4);

  .bolder-text {
    color: var(--lcc-color--eventAlert-textBold);
    font-weight: bold;
    padding: 0 2px;
  }
}

.alert-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 4px;

  .close-icon {
    height: 18px;
    width: 18px;
    color: var(--lcc-color--eventAlert-closeIcon);

    &:hover {
      cursor: pointer;
      color: var(--lcc-color--eventAlert-closeIconOnHover);
    }
  }
}
