<lcc-page-header
  heading="About"
  icon="info">
</lcc-page-header>

<div class="panels-container">
  <lcc-expansion-panel
    class="location-and-schedule"
    heading="📍 Location and schedule">
    <lcc-club-card [club]="lccClub"> </lcc-club-card>
    <br />
    <a
      class="lcc-link"
      routerLink="/schedule">
      Scheduled events
    </a>
    <br />
    <a
      class="lcc-link"
      routerLink="/regional-clubs">
      More chess clubs in the region
    </a>
  </lcc-expansion-panel>

  <lcc-expansion-panel heading="👋 First visit">
    <p>
      Drop-ins welcome! No membership is needed for your first visit. If you're new to the
      club, we recommend arriving 15 minutes early to meet the club's leadership team and
      volunteers. They will help you get settled in, introduce you to other members, and
      answer any questions you may have.
    </p>
    <br />
    <p>
      If you're interested in playing in a tournament, please let the Tournament Director
      know. They will help you get registered and answer any questions you may have about
      the event.
    </p>
  </lcc-expansion-panel>

  <lcc-expansion-panel heading="🚗 Parking">
    <p>
      There is plenty of parking space available behind the building, free of charge
      during chess club hours.
    </p>
  </lcc-expansion-panel>

  <lcc-expansion-panel heading="📜 Club regulations">
    <p>
      The London Chess Club is committed to providing a safe and welcoming environment for
      all members. We expect all members to treat each other with respect and kindness.
      Any form of harassment, discrimination, or bullying will not be tolerated and may
      result in expulsion from the club.
    </p>
    <br />
    <p>
      See the club's
      <a
        class="lcc-link"
        rel="noopener noreferrer"
        target="_blank"
        routerLink="/documents"
        fragment="lcc-code-of-conduct.pdf">
        Code of Conduct</a
      >
      and
      <a
        class="lcc-link"
        rel="noopener noreferrer"
        target="_blank"
        routerLink="/documents"
        fragment="lcc-bylaws.pdf">
        Bylaws</a
      >
      documents for more information.
    </p>
  </lcc-expansion-panel>

  <lcc-expansion-panel heading="💵 Membership fee">
    <p>
      <b>2026 &mdash; $50</b><br />
      2027 &mdash; $55 <br />
      2028 &mdash; $60 <br />
    </p>
    <br />
    <p>
      Prorated fees decrease by $5 per month, with a locked maximum fee of $5 for
      memberships starting in October through December. See the
      <a
        class="lcc-link"
        rel="noopener noreferrer"
        routerLink="/documents"
        target="_blank"
        fragment="membership-fees-2025-to-2028.pdf">
        Incremental Plan to Break Even</a
      >
      document for full details.
    </p>
  </lcc-expansion-panel>

  <lcc-expansion-panel heading="🔢 Chess ratings">
    <p>We use our own London & Region rating system, managed by Gerry Litchfield.</p>
    <br />
    <p>
      Current ratings can be found
      <a
        class="lcc-link"
        routerLink="/members">
        here</a
      >.
    </p>
  </lcc-expansion-panel>

  <lcc-expansion-panel heading="♟ Chess supplies">
    <p>Please bring your own chess sets and clocks!</p>
    <br />
    <p>
      Don't have any? We have supplies available for sale at the club. Contact
      <a
        href="mailto:chesslessons@mail.com"
        class="lcc-link"
        rel="noopener noreferrer"
        target="_blank">
        Steve Demmery</a
      >
      for more information.
    </p>
  </lcc-expansion-panel>

  <lcc-expansion-panel heading="📖 Rules of the game">
    <p>
      For tournaments we generally follow the policies and guidelines of the Canadian
      Chess Federation (CFC) and
      <a
        href="https://handbook.fide.com/chapter/E012023"
        class="lcc-link"
        rel="noopener noreferrer"
        target="_blank">
        laws of chess</a
      >
      set by the International Chess Federation (FIDE). Notable differences are the
      <i>touch-move</i> rule: we enforce touch-move during rated tournaments but
      <i>clock-move</i> for our casual blitz tournaments.
    </p>
    <br />
    <p>
      Members are encouraged to try to resolve any disputes with their opponents using
      good sportsmanship before seeking arbitration. If you would like to speak to an
      arbiter, pause the clock and raise your hand to get their attention.
    </p>
  </lcc-expansion-panel>

  <lcc-expansion-panel heading="🏆 Tournaments">
    <p>
      Chess tournaments are held throughout the year. These include casual blitz
      tournaments, rapid tournaments, and the London Chess Championship held in the fall.
    </p>
    <br />
    <p>
      Our Blitz tournaments are unrated and free to play, with a time control of 10+0 (10
      minutes for each player, with no increment after each move).
    </p>
    <br />
    <p>
      Our Rapid tournaments are rated with a time control of either 25+0 or 40+0. For our
      rated tournaments there is a nominal entry fee (usually $10) that goes towards the
      prize pool and covers any expenses in organizing the event.
    </p>
    <br />
    <p>
      See
      <a
        class="lcc-link"
        routerLink="/schedule">
        schedule</a
      >
      for a list of upcoming events.
    </p>
  </lcc-expansion-panel>

  <lcc-expansion-panel heading="🗳 AGM and leadership team">
    <p>
      Every December we hold our Annual General Meeting (AGM) where we look back on the
      past year, review the club's finances, and elect a leadership team for the following
      year. All club members are welcome to attend the AGM &ndash; see
      <a
        class="lcc-link"
        routerLink="/schedule">
        schedule</a
      >
      for exact dates.
    </p>
    <br />
    <p>
      We are currently reviewing the leadership structure for 2026. If you have any
      suggestions or would like to volunteer for a position, please don't hesitate to
      reach out to us at
      <a
        href="mailto:welcome@londonchess.ca"
        class="lcc-link"
        rel="noopener noreferrer"
        target="_blank">
        welcome@londonchess.ca</a
      >
      or speak to Gerry Litchfield or Ryan Sarson at the club.
    </p>
    <br />
    <p>
      This website is maintained by Michal Wiraszka. To report a bug or request a new
      feature, you can email me
      <a
        href="mailto:michal@londonchess.ca"
        class="lcc-link"
        rel="noopener noreferrer"
        target="_blank">
        here</a
      >, or find me at the club!
    </p>
  </lcc-expansion-panel>
</div>
