@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

table {
  width: 85%;
  margin-bottom: 18px;

  @include respond-to('lt-md') {
    width: 100%;
  }

  tbody {
    td {
      &.date {
        white-space: nowrap;
      }
  
      &.title-and-description {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
  
        h5 {
          color: $lcc-color--text-primary;
        }
      }

      p {
        color: $lcc-color--text-secondary;
        line-height: 150%;
      }
    }
  }
}
