@use '../../../styles/abstracts/mixins';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  h4 {
    color: var(--lcc-color--linkList-headerText);
  }

  ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;

    @include mixins.respond-to('gt-md') {
      &:not(.single-column) {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
      }
    }

    li {
      a {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        padding: 4px;
        white-space: nowrap;
        font-size: var(--lcc-fontSize--h6);

        @include mixins.respond-to('gt-xs') {
          font-size: var(--lcc-fontSize--h5);
        }

        @include mixins.respond-to('gt-sm') {
          font-size: var(--lcc-fontSize--h4);
        }

        .icon {
          height: 14px;
          width: 14px;
        }
      }
    }
  }
}
