@if (header) {
  <h4>{{ header }}</h4>
}

<ul [class.single-column]="links.length < 4">
  @for (link of links; track link) {
    <li>
      @if (link.externalPath) {
        <a
          class="lcc-link"
          [href]="link.externalPath"
          ref="noopener noreferrer"
          target="_blank"
          [tooltip]="link.tooltip ?? ''">
          @if (link.icon) {
            <i-feather
              [name]="link.icon"
              class="icon">
            </i-feather>
          }
          <span>{{ link.text }}</span>
          <i-feather
            name="external-link"
            class="icon">
          </i-feather>
        </a>
      } @else {
        <a
          class="lcc-link"
          [routerLink]="link.internalPath | routerLink"
          [tooltip]="link.tooltip ?? ''">
          @if (link.icon) {
            <i-feather
              [name]="link.icon"
              class="icon">
            </i-feather>
          }
          <span>{{ link.text }}</span>
        </a>
      }
    </li>
  }
</ul>
