@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: $lcc-space--sm;

  ul {
    &:not(.single-column) {
      display: inline-block;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }

    @include respond-to('lt-md') {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
  
    li {
      a {
        white-space: nowrap;
        font-size: $h4;
  
        cds-icon {
          padding: $lcc-space--xxs;
          margin-bottom: 4px; // Manual centering
          margin-right: $lcc-space--xxs;
        }
      }
    }
  }
}