<div class="lcc-canvas">
	<lcc-screen-header [title]="'Members'"
										 [iconShape]="'users'">
	</lcc-screen-header>

	<ng-container *ngIf="facade.isAdmin$ | async">
		<lcc-link-list [links]="[addMemberLink]"
									 (select)="facade.onAddMember()">
		</lcc-link-list>
	</ng-container>

	<table class="lcc-table">
		<thead>
			<tr>
				<th *ngFor="let header of tableHeaders"
						[ngClass]="kebabize(header)"
						(click)="facade.onSelectTableHeader(camelize(kebabize(header)))">
					<span>{{ header }}</span>
					<div class="icon-container">
						<cds-icon *ngIf="(facade.sortedBy$ | async) === camelize(kebabize(header))"
											shape="angle"
											size="xs"
											[attr.flip]="(facade.isAscending$ | async) ? 'vertical' : undefined">
						</cds-icon>
					</div>
				</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let member of MOCK_MEMBERS; let last = last;"
					class="lcc-admin-controls-container"
					[ngClass]="{'last-row': last}">
				<td class="first-name">{{ member.firstName }}</td>
				<td class="last-name">{{ member.lastName }}</td>
				<td class="city">{{ member.city }}</td>
				<td class="rating">{{ member.rating }}</td>
				<td class="peak-rating">{{ member.peakRating }}</td>
				<ng-container *ngIf="facade.isAdmin$ | async">
					<td class="phone-number">{{ member.phoneNumber }}</td>
					<td class="date-of-birth">{{ member?.dateOfBirth }}</td>
					<td class="date-joined">{{ member.dateJoined }}</td>
				</ng-container>

				<ng-container *ngIf="facade.isAdmin$ | async">
					<lcc-admin-controls [itemName]="member.firstName"
															(edit)="facade.onEditMember(member)"
															(delete)="facade.onDeleteMember(member)">
					</lcc-admin-controls>
				</ng-container>
			</tr>
		</tbody>

		<tfoot>
			<tr>
				<td colspan="100%">{{ (facade.members$ | async)?.length }} members</td>
			</tr>
		</tfoot>
	</table>
</div>
