@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

$caret-icon-width: 11px;
$control-icon-width: 26px;

:host {
  display: flex;
  justify-content: center;
}

.lcc-canvas {
  width: unset;
  max-width: unset;
}

lcc-link-list,
table {
  width: 100%;
}

lcc-link-list {
  align-items: start;
}

thead {
  th {
    &:hover:not(.row-number) {
      cursor: pointer;
      background-color: lighten($lcc-color--primary, 5%);
    }

    .icon-container {
      display: inline-flex;
      width: $caret-icon-width;

      cds-icon {
        margin-left: 2px;
      }
    }
  }
}

tbody {
  tr {
    &.inactive {
      :not(.row-number) {
        color: darken($lcc-color--text-secondary, 5%);
        font-style: italic;
      }

      .first-name::before {
        content: '* ';
        color: $lcc-color--text-secondary;
      }
    }

    lcc-admin-controls {
      translate: calc(#{-2 * $control-icon-width});
    }
  }
}

aside {
  align-self: start;
  text-align: center;
  border: 1px solid rgba($lcc-color--gray, 0.3);
  border-radius: $lcc-border-radius-lg;
  
  h5 {
    font-style: italic;
    border-bottom: 1px solid rgba($lcc-color--gray, 0.2);
  }

  .checkbox-section {
    padding: 2px 16px;
    background-color: rgba($lcc-color--accent, 0.1);
    margin-top: 2px;
    border-top: 1px solid rgba($lcc-color--gray, 0.2);

    label {
      font-size: $h5;
      margin-right: 4px;
      font-weight: bold;
    }
  }
}

@include respond-to('lt-xl') {
  .chesscom-username,
  .lichess-username,
  .date-joined {
    display: none;
  }
}

@include respond-to('lt-lg') {
  .email,
  .phone-number {
    display: none;
  }
}

@include respond-to('lt-md') {
  .born,
  .year-of-birth,
  .city {
    display: none;
  }
}

@include respond-to('lt-sm') {
  .peak-rating {
    display: none;
  }
}
