<div class="lcc-canvas">
	<lcc-screen-header [title]="'Sign Up'"></lcc-screen-header>

	<form class="lcc-form"
				[formGroup]="form"
				(keyup.enter)="onSubmit()"
				(ngSubmit)="onSubmit()">
		<div class="lcc-form-fields">
			<label for="email-input">Email:</label>
			<input id="email-input"
						 type="text"
						 name="email"
						 formControlName="email" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['email'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['email'])">
				</cds-icon>
			</div>

			<label for="new-password-input">New Password:</label>
			<input id="new-password-input"
						 type="password"
						 name="new-password"
						 formControlName="newPassword" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['newPassword'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['newPassword'])">
				</cds-icon>
			</div>

			<label for="password-confirm-input">Confirm password:</label>
			<input id="password-confirm-input"
						 type="password"
						 name="confirm-password"
						 formControlName="confirmPassword" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['confirmPassword'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['confirmPassword'])">
				</cds-icon>
			</div>

			<hr class="lcc-form-divider-line" />

			<label for="first-name-input">First name:</label>
			<input id="first-name-input"
						 type="text"
						 name="first-name"
						 formControlName="firstName" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['firstName'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['firstName'])">
				</cds-icon>
			</div>

			<label for="last-name-input">Last name:</label>
			<input id="last-name-input"
						 type="text"
						 name="last-name"
						 formControlName="lastName" />
			<div class="lcc-form-error-container">
				<cds-icon *ngIf="hasError(form.controls['lastName'])"
									class="lcc-form-error-icon"
									shape="exclamation-triangle"
									size="md"
									[tooltip]="getErrorMessage(form.controls['lastName'])">
				</cds-icon>
			</div>
			<div class="lcc-form-buttons-container">
				<button class="lcc-primary-button"
								type="submit"
								[disabled]="form.invalid">
					Sign up
				</button>
			</div>
		</div>
	</form>
</div>
