@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

$card-min-width: 310px; // Enough to keep dates on one line
$grid-gap: $lcc-space--sm;

:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: $lcc-space--sm;
  width: 100%;
}

lcc-link-list,
.articles-container {
  width: 100%;
}

.articles-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: $grid-gap;

  article {
    @include flex-wrap-fix-width($card-min-width, $grid-gap, $lcc-width--app-content);

    display: flex;
    flex-flow: column nowrap;
    gap: $lcc-space--xs;
    height: auto;
    // Minimum width to keep dates on one line, while still being narrow enough to
    // to fit two cards side-by-side at gt-md breakpoint (700px)
    min-width: 280px;
    padding: $lcc-space--sm;
    background: repeating-conic-gradient(
        darken($lcc-color--primary, 2%) 0% 25%,
        darken($lcc-color--primary, 10%) 0% 50%
      ) 50% / 5px 5px;
    border-radius: $lcc-border-radius--lg;

    &:hover {
      cursor: pointer;
      background: darken($lcc-color--primary, 12%);
    }

    .article-thumbnail-image {
      aspect-ratio: 3/2;
      width: 100%;
      object-fit: cover;
      border-radius: $lcc-border-radius--lg;
    }

    .article-summary-container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      height: 100%;
      padding:$lcc-space--xs $lcc-space--sm;

      h3 {
        text-align: center;
        font-weight: 400;
        // Hardcode height to ensure title sections align between cards
        // regardless of whether there is 1 or 2 lines of text
        height: 2.5em;
        color: darken($lcc-color--text-primary-white, 4%);
      }

      hr {
        border-top: 1px solid $lcc-color--transparent-mostly;
        padding-top: $lcc-space--sm;
        width: 100%;
      }

      p {
        // Hardcode to keep alignment in case there are fewer than 5 lines of text
        height: 91px; 
        font-size: $h4;
        color: darken($lcc-color--text-primary-white, 10%);
        line-height: 1.3em !important;
      }

      .article-dates-container {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $h6;
        text-align: center;
        margin-top: $lcc-space--sm;

        .date-created,
        .date-last-edited {
          color: darken($lcc-color--text-primary-white, 10%);
        }

        .edited,
        .vertical-spacer {
          color: darken($lcc-color--text-primary-white, 30%);
        }

        .vertical-spacer {
          padding: 0 1em;
        }
      }
    }
  }
}
