@use '../../../styles/abstracts/mixins' as *;

$card-padding: 6px;

// The width of a thumbnail image
$max-image-width: 320px;

:host {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;

  &[card-count='1'] {
    display: flex;
  }

  @include respond-to('gt-sm') {
    // Minimum of 218px to ensure two columns can fit at the 'sm' breakpoint (500px)
    grid-template-columns: repeat(auto-fit, minmax(218px, 1fr));
  }

  @include respond-to('gt-md') {
    &[card-count='2'] {
      display: flex;
      flex-flow: row wrap;
    }
  }

  @media screen and (min-width: 1035px) {
    &[card-count='3'] {
      display: flex;
      flex-flow: row wrap;
    }
  }

  @media screen and (min-width: 1380px) {
    &[card-count='4'] {
      display: flex;
      flex-flow: row wrap;
    }
  }

  .article {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
    height: auto;
    max-width: calc(#{$max-image-width} + 2 * #{$card-padding});
    padding: $card-padding;
    background-color: var(--lcc-color--articleGrid-cardBackground);
    border-radius: var(--lcc-borderRadius--large);

    &:hover {
      cursor: pointer;
      background-color: var(--lcc-color--articleGrid-cardBackgroundOnHover);
      transform: scale(1.01);
    }

    .image-container {
      aspect-ratio: 3 / 2;
      width: 100%;
      border-radius: var(--lcc-borderRadius--large);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--lcc-color--contentPlaceholder-background);
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      border-radius: var(--lcc-borderRadius--large);
    }

    .bookmark-icon {
      position: absolute;
      z-index: 10;
      margin: 4px;
      color: var(--lcc-color--articleGrid-bookmarkIcon);
      height: 24px;
      width: 24px;
    }

    .article-summary-container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      height: 100%;
      padding: 4px 8px;

      .article-title {
        text-align: center;
        font-weight: 400;
        // Hardcode height to ensure title sections align between cards
        // regardless of whether there is 1 or 2 lines of text
        height: 2.4em;
        color: var(--lcc-color--articleGrid-articleHeaderText);
      }

      hr {
        width: 100%;
        border-top: 1px solid var(--lcc-color--articleGrid-cardDividerLine);
        margin: 8px 0;
      }

      .article-preview {
        // Hardcode to keep alignment in case there are fewer than 5 lines of text
        height: 91px;
        font-size: 14px;
        color: var(--lcc-color--articleGrid-articleSummaryText);
        line-height: 1.3em !important;
      }

      .article-creation-date {
        font-size: 11px;
        text-align: center;
        margin-top: 8px;
        color: var(--lcc-color--articleGrid-articleCreationDateText);
      }
    }
  }
}
