<ng-container *ngIf="facade.isAdmin$ | async">
	<lcc-link-list [links]="[createArticleLink]"></lcc-link-list>
</ng-container>

<div class="articles-container">
	<article *ngFor="let article of (facade.articles$ | async)?.slice(0, maxArticles ?? (facade.articles$ | async)?.length);
                     trackBy: trackByFn"
					 class="lcc-admin-controls-container"
					 (click)="facade.onSelectArticle(article)">
		<ng-container *ngIf="facade.isAdmin$ | async">
			<lcc-admin-controls [itemName]="article.title"
													(edit)="facade.onEditArticle(article)"
													(delete)="facade.onDeleteArticle(article)">
			</lcc-admin-controls>
		</ng-container>

		<img class="article-thumbnail-image"
				 [src]="(article?.thumbnailImageUrl ?? 'assets/image-placeholder.png') | sanitizeUrl"
				 alt="Article banner image" />

		<div class="article-summary-container">
			<h3 class="lcc-truncate-max-2-lines">{{ article.title }}</h3>
			<hr />
			<p class="lcc-truncate-max-5-lines">{{ article.body }}</p>
			<div class="article-dates-container">
				<span>{{ article.dateCreated | formatDate:'short' }}</span>
				<ng-container *ngIf="article?.dateEdited !== article.dateCreated">
					<span class="vertical-spacer">|</span>
					<span class="edited">edited&nbsp;</span>
					<span>{{ article.dateEdited | formatDate:'short' }}</span>
				</ng-container>
			</div>
		</div>
	</article>
</div>
