<form
  class="lcc-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <div class="lcc-form-fields">
    <label for="email-input">Email:</label>
    <input
      id="email-input"
      type="text"
      name="email"
      formControlName="email"
      autocomplete="email"
      maxlength="50" />

    <label for="password-input">Password:</label>
    <input
      id="password-input"
      type="password"
      name="password"
      formControlName="password"
      autocomplete="current-password"
      maxlength="50" />
  </div>

  <div class="lcc-form-buttons-container">
    <button
      class="login-button lcc-primary-button plausible-event-name=Button+Click"
      type="submit"
      [disabled]="form.invalid">
      Log in
    </button>
  </div>

  <a
    class="lcc-link"
    routerLink="/change-password">
    Forgot password?
  </a>
</form>
