<div class="lcc-table-wrapper">
  @if (members.length) {
    <table
      class="members-table lcc-table"
      [class.lcc-show-admin-columns]="isAdmin && !isSafeMode">
      <thead>
        <tr>
          <th class="row-number"></th>
          @for (
            header of isAdmin && !isSafeMode
              ? ADMIN_TABLE_HEADERS
              : DEFAULT_TABLE_HEADERS;
            track header
          ) {
            <th
              [ngClass]="header | kebabCase"
              class="sortable-header"
              (click)="onSelectTableHeader(header)">
              <span>{{ header }}</span>
              <div class="sort-icon-container">
                @if (options.sortBy === (header | camelCase)) {
                  <mat-icon class="sort-icon">
                    {{ options.sortOrder === 'desc' ? 'arrow_downward' : 'arrow_upward' }}
                  </mat-icon>
                }
              </div>
            </th>
          }
        </tr>
      </thead>

      <tbody>
        @for (member of members; track member.id; let i = $index; let last = $last) {
          <tr
            [adminControls]="isAdmin ? getAdminControlsConfig(member) : null"
            [ngClass]="{ 'last-row': last }"
            [class.inactive]="!member.isActive">
            <td class="row-number">{{ startIndex + i }}</td>
            @if (isAdmin && !isSafeMode) {
              <td
                class="first-name lcc-truncate"
                [tooltip]="member.isActive ? null : 'Inactive member'">
                @if (isCityChampion(member)) {
                  <a
                    class="city-champion-link before-name"
                    routerLink="/city-champion"
                    tooltip="2025 City Champion">
                    <mat-icon class="city-champion-icon">emoji_events</mat-icon>
                  </a>
                }
                <span [innerHTML]="member.firstName | highlight: options.search"></span>
              </td>
              <td
                class="last-name lcc-truncate"
                [innerHTML]="member.lastName | highlight: options.search">
              </td>
            } @else {
              <td
                class="name lcc-truncate"
                [tooltip]="member.isActive ? null : 'Inactive member'">
                <span
                  [innerHTML]="
                    member.firstName + ' ' + member.lastName | highlight: options.search
                  ">
                </span>
                @if (isCityChampion(member)) {
                  <a
                    class="city-champion-link after-name"
                    routerLink="/city-champion"
                    tooltip="2025 City Champion">
                    <mat-icon class="city-champion-icon">emoji_events</mat-icon>
                  </a>
                }
              </td>
            }
            <td class="rating">{{ member.rating }}</td>
            <td class="peak-rating">{{ member.peakRating }}</td>
            <td
              class="city lcc-truncate"
              [innerHTML]="member.city | highlight: options.search">
            </td>
            <td
              class="chess-com-username lcc-truncate"
              [innerHTML]="member.chessComUsername | highlight: options.search">
            </td>
            <td
              class="lichess-username lcc-truncate"
              [innerHTML]="member.lichessUsername | highlight: options.search">
            </td>

            @if (isAdmin && !isSafeMode) {
              <td class="last-updated lcc-truncate">
                {{ member.modificationInfo.dateLastEdited | formatDate: 'short no-time' }}
              </td>
              <td class="born">{{ member.yearOfBirth }}</td>
              <td class="email lcc-truncate">{{ member.email }}</td>
              <td class="phone-number">{{ member.phoneNumber }}</td>
              <td class="date-joined">
                {{ member.dateJoined | formatDate: 'short no-time' }}
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
</div>

@if (isAdmin && isSafeMode) {
  <lcc-safe-mode-notice entity="members'"></lcc-safe-mode-notice>
}
