<section class="club-info-section">
  <div class="club-info-content">
    <h3 class="club-name">{{ club.name }}</h3>
    <hr />

    <div class="club-details">
      <div class="address">
        <mat-icon class="map-icon secondary-text">location_on</mat-icon>
        <div class="address secondary-text">
          {{ club.addressLine1 }}<br />
          {{ club.addressLine2 }}<br />
          {{ club.addressLine3 }}
        </div>
      </div>

      <div class="schedule secondary-text">
        {{ club.scheduleText }}
      </div>

      @if (club.email) {
        <div class="email">
          <mat-icon class="email-icon">email</mat-icon>
          <a
            [href]="'mailto:' + club.email"
            class="email-link lcc-link"
            rel="noopener noreferrer"
            target="_blank">
            <span>{{ club.email }}</span>
            <mat-icon class="external-link-icon">open_in_new</mat-icon>
          </a>
        </div>
      }
    </div>
  </div>
</section>

<lcc-club-map
  [club]="club"
  tooltip="Open in Google Maps">
</lcc-club-map>
