<lcc-page-header
  title="Lifetime Achievement Awards"
  icon="award">
</lcc-page-header>

<section>
  <div class="intro">
    <div class="award-history">
      <p>
        Every year, the London Chess Club awards Lifetime Achievement Awards to a small
        number of individuals who have shaped the club into what it is today. The LCC is
        honoured to recognize the remarkable achievements and contributions of all these
        individuals.
      </p>
      <br />
      <p>
        Their lifelong dedication to the sport of chess and their unwavering support for
        the London Chess Club have truly made a lasting impact.
      </p>
    </div>

    <figure class="lcc-figure">
      <img
        src="assets/images/2023-lifetime-achievement-award-gerry.jpg"
        alt="Inaugural Lifetime Achievement Awards in 2023" />
      <figcaption>
        <b>Inaugural Lifetime Achievement Awards Ceremony</b><br /><br />
        John Zoccano and Edgar Zapata presenting the award to <b>Gerry Litchfield</b> in
        2023
      </figcaption>
    </figure>
  </div>
</section>

<section class="year-2023">
  <h2>2023</h2>
  <hr />
  <div class="recipient-block steve-demmery">
    <p><b>Steve Demmery</b></p>
  </div>

  <div class="recipient-block jim-kearley">
    <p><b>Jim Kearley</b></p>
  </div>

  <div class="recipient-block gerry-litchfield">
    <p><b>Gerry Litchfield</b></p>
  </div>
</section>

<section class="year-2024">
  <h2>2024</h2>
  <hr />
  <div class="recipient-block steve-killi">
    <p>
      <b>Steve Killi</b> has been a pillar of the London Chess Club for many years. He has
      nurtured and taught countless young players, helping them develop not only their
      chess skills but also their character and sportsmanship. He brought the club to its
      current location at the Kiwanis Senior Centre. His unwavering dedication to the club
      and the sport has left a mark on the chess community.
    </p>
  </div>

  <div class="recipient-block jay-zendrowski">
    <p>
      <b>Jay Zendrowski</b> was a passionate chess player and talented novelist. He was
      recognized as a National Master by the CFC and won numerous tournaments at the LCC,
      including 5-time Standard Chess Champion, 6-time Active Chess Champion, and 4-time
      Speed Chess Champion. At his peak, Jay was among the top 60 chess players in Canada.
      Jay shared his love of chess with players of all skill levels and mentored many
      up-and-coming players. Without his guiding hand, the London Chess Club would not be
      the same today.
    </p>
  </div>

  <div class="recipient-block david-jackson">
    <p>
      <b>David Jackson</b> was a passionate and accomplished chess player. A fixture at
      the London Chess Club for many years, David held the title of National Master, and
      his brilliant gameplay was widely recognized with his games regularly featured in
      chess publications. He dominated the board, setting intricate traps and captivating
      opponents with his exciting and unpredictable style of play. Over his illustrious
      career, David amassed numerous championship titles and tournament victories in both
      classic and faster-paced chess formats. At the age of 14, David led the German Club
      Men's Team to a championship victory, and later that year, he was among the 25
      players who faced off against the legendary World Champion, Boris Spassky. In
      addition to his exceptional playing abilities, David also served multiple terms as
      the President of the London Chess Club, further cementing his legacy within the
      local chess community.
    </p>
  </div>

  <div class="recipient-block don-armstrong">
    <p>
      <b>Don Armstrong</b>'s long-standing association with the London Chess Club has been
      marked by his unwavering commitment and multifaceted contributions. As a dedicated
      president and volunteer, he has generously donated his time and resources to the
      club, ensuring its smooth operation and continued success. The London Chess Club is
      truly fortunate to have had Don Armstrong as part of its family for many years. His
      enduring legacy as a volunteer, coach, and leader will continue to positively impact
      the lives of chess players for years to come.
    </p>
  </div>
</section>

<section class="year-2025">
  <h2>2025</h2>
  <hr />
  <div class="recipient-block coming-soon">
    <i>Recipients to be announced soon</i>
  </div>
</section>
