:host {
  max-width: 90vw;
  max-height: 90vh;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 28px;
  background-color: var(--lcc-color--dialog-headerBackground);
  border-top-left-radius: var(--lcc-borderRadius--large);
  border-top-right-radius: var(--lcc-borderRadius--large);
  border-bottom: 2px solid var(--lcc-color--dialog-headerBorderBottom);

  .close-icon {
    margin: 0 4px 0 auto;
    background-color: inherit;
    height: 24px;
    width: 24px;
    color: var(--lcc-color--dialog-closeIcon);

    &:hover {
      cursor: pointer;
      color: var(--lcc-color--dialog-closeIconOnHover);
    }
  }
}
