:host {
  position: relative;
  overflow: hidden;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;

  &.blurred {
    filter: blur(3px);
  }
}

.shimmer-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--lcc-color--contentPlaceholder-background);
  pointer-events: none;
}
