<table class="lcc-table events-table">
  <thead>
    <th class="date">Date</th>
    <th class="event">Event</th>
  </thead>

  <tbody>
    @for (event of events; track event.id) {
      <tr
        [adminControls]="isAdmin ? getAdminControlsConfig(event) : null"
        [id]="event.id"
        [class.next-event]="event.id === nextEvent?.id"
        [class.now-line-separated]="event.id === nextEvent?.id && showPastEvents">
        <td class="date-cell">
          <div class="date-content">
            <span class="date">{{ event.eventDate | formatDate: 'short no-time' }}</span>
          </div>
        </td>

        <td class="main-cell">
          <div class="main-content">
            <h3 class="title">{{ event.title }}</h3>
            <div
              class="type-container"
              [ngClass]="event.type | kebabCase">
              <span class="type">{{ event.type }}</span>

              @if ((event.type | kebabCase) === 'championship') {
                <mat-icon class="championship-icon">emoji_events</mat-icon>
              }
            </div>

            <p class="event-details">
              {{ event.details.replaceAll('\\n', ' \n ') }}
            </p>

            @if (event?.articleId) {
              <a
                [routerLink]="'/article/view/' + event.articleId"
                class="lcc-link event-article">
                More details
              </a>
            }
          </div>

          @if (showModificationInfo) {
            <aside class="created-and-edited">
              <div>
                Event created
                {{ event.modificationInfo.dateCreated | formatDate: 'short no-time' }}
              </div>
              <div>
                Last edited
                {{ event.modificationInfo.dateLastEdited | formatDate: 'short no-time' }}
              </div>
            </aside>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
