@use '../../../styles/abstracts/mixins' as *;

$app-content-width: 1500px; // Re-declare since CSS var cannot be passed to mixin
$grid-button-min-width: 115px;
$grid-button-flex-basis: 150px;
$grid-gap: 8px;
$pgn-viewer-width: 432px;

.intro {
  display: flex;
  flex-direction: column;

  @include respond-to('gt-lg') {
    flex-direction: row;
  }

  .image-container {
    flex: 2;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 534px;
      width: auto;
      height: auto;
      border-radius: var(--lcc-borderRadius--large);
      object-fit: contain;
    }
  }

  .text-container {
    flex: 1;
    padding: 8px;

    @include respond-to('gt-lg') {
      padding: 0 32px;
    }

    h3 {
      margin: 8px 0 16px;
      font-style: italic;
      color: var(--lcc-color--gameArchivesPage-headerText);
    }

    p {
      margin-bottom: 16px;
      color: var(--lcc-color--gameArchivesPage-text);
    }
  }
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--lcc-color--gameArchivesPage-filterContainerBackground);
  border-radius: var(--lcc-borderRadius--large);
  padding: 8px;

  .filter-games-text {
    align-self: start;
    padding: 8px;
    color: var(--lcc-color--gameArchivesPage-headerText);
  }

  .game-filter-form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'player player'
      'moves result';
    gap: 2px;
    align-items: stretch;

    @include respond-to('gt-xs') {
      gap: 8px;
    }

    @include respond-to('gt-md') {
      grid-template-columns: 1fr auto auto;
      grid-template-areas: 'player moves result';
    }

    .filter-section {
      border: 1px solid var(--lcc-color--gameArchivesPage-filterSectionBorder);
      border-radius: var(--lcc-borderRadius--large);
      padding: 8px;
      gap: 4px 8px;

      &.player-filter-section {
        grid-area: player;
      }

      &.moves-filter-section {
        grid-area: moves;

        input {
          max-width: 50px;
        }
      }

      &.result-filter-section {
        grid-area: result;
      }
    }
  }

  .result-summary-text {
    padding: 8px;
    color: var(--lcc-color--gameArchivesPage-text);
  }

  .search-stats-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 16px 8px;
    gap: 32px;
    margin-top: 16px;

    .opening-chart-container,
    .result-chart-container {
      display: flex;
      flex-direction: column;
      min-height: 400px;
      max-width: 500px;

      canvas {
        width: 300px !important;
        height: 450px !important;
      }

      label {
        font-size: var(--lcc-font-size--h2);
        color: var(--lcc-color--gameArchivesPage-chartLabel);
        padding-bottom: 2px;
        border-bottom: 1px solid var(--lcc-color--gameArchivesPage-labelUnderline);
        margin-bottom: 8px;
        text-align: center;
      }
    }
  }
}

.year-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: $grid-gap;
  margin: 32px 0;
  border-radius: var(--lcc-borderRadius--large);

  button {
    min-width: $grid-button-min-width;
    padding: 8px 16px;
    text-transform: none;

    @include flex-wrap-fix-width($grid-button-flex-basis, $grid-gap, $app-content-width);

    &.active {
      background-color: var(--lcc-color--gameArchivesPage-activeButtonBackground);
      color: var(--lcc-color--gameArchivesPage-activeButtonText);
      animation: shadow-pulse 2s infinite;
      position: relative;
      overflow: visible;
    }
  }
}

.active-games {
  width: 100%;
  background-color: var(--lcc-color--gameArchivesPage-activeGamesBackground);
  border-radius: var(--lcc-borderRadius--large);
  padding: 8px;
  text-align: center;

  cdk-virtual-scroll-viewport {
    height: 410px; // tall enough to avoid vertical scrollbar

    ::ng-deep .cdk-virtual-scroll-content-wrapper {
      display: flex;

      lcc-pgn-viewer {
        margin: 8px;
        max-width: $pgn-viewer-width;
      }
    }
  }

  .loading-text {
    color: var(--lcc-color--gameArchivesPage-loadingText);
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 var(--lcc-color--gameArchivesPage-activeButtonBoxShadow);
  }
  60% {
    box-shadow: 0 0 0 1px var(--lcc-color--gameArchivesPage-activeButtonBoxShadow);
  }
  100% {
    box-shadow: 0 0 0 0 var(--lcc-color--gameArchivesPage-activeButtonBoxShadow);
  }
}
