<a
  class="admin-control-button edit-button"
  [tooltip]="'Edit ' + itemName"
  [routerLink]="editPath"
>
  <i-feather
    name="edit"
    class="edit-icon"
    [style.height.px]="height - 10"
    [style.width.px]="height - 10"
  >
  </i-feather>
</a>

<button
  class="admin-control-button delete-button"
  [tooltip]="'Delete ' + itemName"
  (click)="onDelete($event)"
>
  <i-feather
    name="trash-2"
    class="delete-icon"
    [style.height.px]="height - 10"
    [style.width.px]="height - 10"
  >
  </i-feather>
</button>
