:host {
  display: flex;
  flex-direction: row;

  .admin-control-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border: 3px solid var(--lcc-color--adminControls-buttonBorder);
    border-radius: var(--lcc-borderRadius--large);
    background-color: var(--lcc-color--adminControls-buttonBackground);

    &:focus,
    &:hover {
      cursor: pointer;
      background-color: var(--lcc-color--adminControls-buttonBackgroundOnHover);
    }

    &.edit-button {
      color: var(--lcc-color--adminControls-editIcon);
      margin-right: 2px;

      &:focus,
      &:hover {
        color: var(--lcc-color--adminControls-editIconOnHover);
      }
    }

    &.delete-button {
      color: var(--lcc-color--adminControls-deleteIcon);

      &:focus,
      &:hover {
        color: var(--lcc-color--adminControls-deleteIconOnHover);
      }
    }
  }
}
