@if ((config.bookmarkCb | isDefined) && (config.bookmarked | isDefined)) {
  <button
    class="admin-control-button bookmark-button"
    [ngStyle]="{ 'width.px': config.buttonSize, 'height.px': config.buttonSize }"
    [tooltip]="bookmarkTooltipContent"
    (click)="config.bookmarkCb?.()">
    <i-feather
      name="bookmark"
      class="bookmark-icon">
    </i-feather>
  </button>
}

@if (config.editPath) {
  <a
    class="admin-control-button edit-button"
    [ngStyle]="{ 'width.px': config.buttonSize, 'height.px': config.buttonSize }"
    [tooltip]="editTooltipContent"
    [routerLink]="config.editPath | routerLink">
    <i-feather
      name="edit"
      class="edit-icon">
    </i-feather>
  </a>
}

<button
  class="admin-control-button delete-button"
  [ngStyle]="{ 'width.px': config.buttonSize, 'height.px': config.buttonSize }"
  [tooltip]="deleteTooltipContent"
  (click)="config.deleteCb?.()">
  <i-feather
    name="trash-2"
    class="delete-icon">
  </i-feather>
</button>

<ng-template #bookmarkTooltipContent>
  <div class="tooltip-content">
    <span>{{ config.bookmarked ? 'Remove bookmark from' : 'Bookmark' }} </span>
    <i class="tooltip-item-name">{{ config.itemName }}</i>
  </div>
</ng-template>

<ng-template #editTooltipContent>
  <div class="tooltip-content">
    <span>Edit</span>
    <i class="tooltip-item-name">{{ config.itemName }}</i>
  </div>
</ng-template>

<ng-template #deleteTooltipContent>
  <div class="tooltip-content">
    <span>Delete</span>
    <i class="tooltip-item-name">{{ config.itemName }}</i>
  </div>
</ng-template>
