@import 'styles/abstracts/variables';

:host {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;

  // Visible on parent hover (see _admin-controls-container.scss)
  visibility: hidden;

  .admin-control-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $lcc-space--xxs;
    border: 3px solid darken($lcc-color--white, 5%);
    border-radius: $lcc-border-radius--lg;
    background-color: $lcc-color--white;

    &:first-child {
      margin-right: $lcc-space--xxs;
    }

    &:focus,
    &:hover {
      cursor: pointer;
      background-color: white;
    }

    .trash-icon {
      color: $lcc-color--warn;
    }
  }
}
