@if ((config.bookmarkCb | isDefined) && (config.bookmarked | isDefined)) {
  <button
    class="admin-control-button bookmark-button"
    [tooltip]="bookmarkTooltipContent"
    (click)="config.bookmarkCb()">
    <mat-icon class="bookmark-icon">bookmark_border</mat-icon>
  </button>
}

@if (config.editPath) {
  <a
    class="admin-control-button edit-button"
    [class.disabled]="config.isEditDisabled"
    [tooltip]="editTooltipContent"
    [rel]="config.editInNewTab ? 'noopener noreferrer' : undefined"
    [target]="config.editInNewTab ? '_blank' : undefined"
    [routerLink]="config.isEditDisabled ? undefined : (config.editPath | routerLink)">
    <mat-icon class="edit-icon">edit</mat-icon>
  </a>
}

@if (showDeleteButton) {
  <button
    class="admin-control-button delete-button"
    [disabled]="config.isDeleteDisabled"
    [tooltip]="deleteTooltipContent"
    (click)="config.isDeleteDisabled ? undefined : config.deleteCb()">
    <mat-icon class="delete-icon">delete_outline</mat-icon>
  </button>
}

<ng-template #bookmarkTooltipContent>
  <span>{{ config.bookmarked ? 'Remove bookmark from' : 'Bookmark' }}</span>
  <i class="tooltip-item-name">{{ config.itemName }}</i>
</ng-template>

<ng-template #editTooltipContent>
  @if (config.isEditDisabled) {
    <i>{{ config.editDisabledReason }}</i>
  } @else {
    <span>Edit</span>
    <i class="tooltip-item-name">{{ config.itemName }}</i>
  }
</ng-template>

<ng-template #deleteTooltipContent>
  @if (config.isDeleteDisabled) {
    <i>{{ config.deleteDisabledReason }}</i>
  } @else {
    <span>Delete</span>
    <i class="tooltip-item-name">{{ config.itemName }}</i>
  }
</ng-template>
