:host {
  display: flex;
  justify-content: center;
}

.lcc-canvas {
  min-width: 280px;
  max-width: 800px;
}

input {
  width: 220px;
}
input[type='file'] {
  visibility: hidden;
}

h3 {
  margin: 10px 0;
  text-align: center;
  white-space: nowrap;
}

.buttons-container {
  display: flex;
  justify-content: center;

  button {
    margin: 20px 6px;
  }
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
