@import 'styles/abstracts/mixins';
@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
}

.link-container {
  width: 90%;

  @include respond-to ('lt-md') {
    width: 100%;
  }

  a {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: $h5;
  
    cds-icon {
      width: 10px;
      margin-bottom: 3px;
    }
  }
}

.articles {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  width: 90%;

  @include respond-to ('lt-md') {
    width: 100%;
  }

  .article {
    width: 240px;
    height: 280px;
    padding: 6px;
    background-color: darken($lcc-color--white, 6%);
  }
}
