@import 'styles/abstracts/variables';

:host {
  display: flex;
  justify-content: center;
}

.lcc-articles {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.lcc-article {
  width: 240px;
  height: 280px;
  padding: 6px;
  background-color: darken($lcc-color--white, 6%);
}
